$scene-transition: ($transition-duration * 4);
$margin-offset: 25px; // Offset to match arrow icons size in main container
$aside-button-length: 25px;

#scene {
  width: 100%;
  position: relative;
  padding: calc(#{$margin-offset} + #{$main-container-icon-margin * 2});
  height: calc(100% - #{$footbar-height});
  transition: all $scene-transition ease-in-out 0s;
  z-index: 600;

  #view-option {
    cursor: pointer;
    bottom: $main-container-icon-margin;
    height: $aside-button-length;
    position: absolute;
    right: $main-container-icon-margin;
    width: $aside-button-length;
    z-index: 666;
  }

  #listview-spinner {
    bottom: 20px;
    height: $aside-button-length;
    position: absolute;
    right: 20px;
    width: $aside-button-length;
    z-index: 699;

    &:before {
      background: transparent;
      border: 2px solid lime;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-top-color: transparent;
      box-sizing: border-box;
      content: '';
      height: ($listview-icon + $listview-padding);
      position: absolute;
      width: ($listview-icon + $listview-padding);

      animation: listview-loading-spin 1.5s linear infinite;
    }
  }
}
