$progress-transition: $footbar-transition; // Variable defined in _footbar.scss
$progress-height: $moodbar-height; // Variable defined in _footbar.scss
$progress-track-height: 4px;
$progress-thumb-height: 9px;

#progress-container {
  align-items: center;
  background: url('../../static/img/logo/manazeak-text.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: $mzk-text-logo-width;
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: $footbar-progress-height;
  width: 100%;
  z-index: 733;

  #progress-track, #progress-current {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  #progress-track {
    background-color: #555555;
    height: $progress-track-height;
    opacity: 0;
    position: relative;
    transition: opacity $footbar-transition ease 0s;
    width: 100%;
    z-index: 734; // To make thumb appear always on top of moodbar

    #progress-current {
      background-color: lime;
      height: 100%;
      transition: width 0s ease 0s;
      width: 0%;
    }

    #progress-thumb {
      background-color: blue;
      border: solid 1px black;
      border-radius: 50%;
      bottom: calc(30% - #{$progress-track-height});
      height: $progress-thumb-height;
      left: 0%;
      margin-left: (- $progress-track-height);
      opacity: 0;
      position: absolute;
      transition: left 0s ease 0s, opacity $footbar-transition ease 0s;
      width: $progress-thumb-height;
    }

    #progress-hover {
      background-color: grey;
      border: solid 1px black;
      border-radius: 3px;
      bottom: 8px;
      box-sizing: border-box;
      color: black;
      font-size: 0.7em;
      height: 20px;
      left: 0;
      line-height: 20px;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      text-align: center;
      transition: opacity ($footbar-transition / 2) ease;
      width: 60px;
      z-index: 734;
    }
  }

  #progress-moodbar {
    background-color: black;
    height: 0; // Height is set in ProgressBar.js
    opacity: 0;
    transition: height $footbar-transition ease 0s, opacity $footbar-transition ease 0s;
    width: 100%;

    svg {
      animation: $footbar-transition ease-in-out 0s;
    }

    svg.fade-in {
      g {
        // -webkit-animation: fadein $footbar-transition ease-in-out 0s;
        // -moz-animation: fadein $footbar-transition ease-in-out 0s;
        animation: fadein $footbar-transition ease-in-out 0s;
      }
    }

    svg.fade-out {
      animation: fadeout $footbar-transition ease-in-out 0s;
    }
  }
}
