<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta content="initial-scale=1" name="viewport">
  <meta name="description" th:content="#{mp.description}">
  <title th:text="#{mp.title}"></title>
  <link href="/static/img/logo/manazeak-logo-square.svg" rel="icon" type="image/svg">
  <link href="/static/dist/css/manazeak.bundle.css" rel="stylesheet" type="text/css">
</head>
<body class="dark-theme">
<div class="components-wrapper">
  <div class="scene-wrapper">
    <div class="aside" id="aside">
      <div class="item-group">
        <div class="item tooltip" id="homepage-button">
          <img alt="home-page" id="mzk-home-icon" src="/static/img/actions/random-roll.svg"/>
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.homepage}"></span>
        </div>
        <div class="item tooltip">
          <img alt="lib-info" src="/static/img/logo/manazeak-logo-square.svg"/>
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.library}"></span>
        </div>
      </div>
      <div class="item-group mobile-only track-preview">
        <p>Track title</p>
        <p>Artists</p>
      </div>
      <div class="item-group">
        <div class="item tooltip" id="menupage-button">
          <img alt="menu-page" src="/static/img/navigation/menu.svg"/>
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.menu}"></span>
        </div>
        <div class="item tooltip">
          <form method="post" th:action="@{/logout}">
            <img alt="user-logout" src="/static/img/actions/logout.svg"/>
            <input type="submit" value=""/>
          </form>
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.logout}"></span>
        </div>
      </div>
    </div>
    <div class="scene" id="scene"></div>
  </div>
  <div class="navbar">
    <div class="playback-wrapper">
      <div class="top-line">
        <div class="image-wrapper repeat">
          <img src="/static/img/player/repeat-off.svg" id="repeat" alt="player-repeat">
        </div>
        <div class="image-wrapper shuffle">
          <img src="/static/img/player/shuffle-off.svg" id="shuffle" alt="player-shuffle">
        </div>
        <div class="image-wrapper">
          <img id="previous" src="/static/img/player/track-previous.svg" alt="player-previous">
        </div>
        <div class="image-wrapper">
          <img id="stop" src="/static/img/player/stop.svg" alt="player-stop">
        </div>
        <div class="image-wrapper">
          <img id="play" src="/static/img/player/play.svg" alt="player-play">
        </div>
        <div class="image-wrapper">
          <img id="next" src="/static/img/player/track-next.svg" alt="player-next">
        </div>
        <div id="volumebar-wrapper" class="volumebar-wrapper">
          <div class="image-wrapper"><img id="volumebar-img" src="static/img/player/volume-full.svg" alt="player-volume"></div>
          <div id="volumebar-container" class="volumebar-container">
            <div id="volumebar-current" class="volumebar-current full"></div>
            <div id="volumebar-thumb" class="volumebar-thumb"></div>
          </div>
        </div>
        <div class="image-wrapper speedometer">
          <img src="/static/img/player/speedometer.svg" id="speedometer" alt="player-speedometer">
        </div>
        <div class="image-wrapper queue">
          <img src="/static/img/player/queue.svg" id="queue" alt="player-queue">
        </div>
      </div>
      <div class="bottom-line">
        <p id="timecode-left"></p>
        <div id="progress-container" class="progress-container">
          <div id="progress-track" class="progress-track">
            <div id="progress-current" class="progress-current"></div>
            <div id="progress-thumb" class="progress-thumb"></div>
            <div id="progress-hover" class="progress-hover">--:--</div>
          </div>
          <img src="" id="progress-moodbar" class="progress-moodbar" alt="tack_moodbar">
        </div>
        <p id="timecode-right"></p>
      </div>
    </div>
  </div>
</div>
<!-- The global loading overlay is by default in UI. Must be removed using mzk.ui.stopLoading when mzk init is done -->
<div class="mzk-loading-overlay" id="mzk-loading-overlay"></div>
<script src="/static/dist/js/manazeak.bundle.js" type="text/javascript"></script>
</body>
</html>
