<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta content="initial-scale=1" name="viewport">
  <meta name="description" th:content="#{mp.description}">
  <title th:text="#{mp.title}"></title>
  <link href="/static/img/logo/manazeak-logo-square.svg" rel="icon" type="image/svg">
  <link href="/static/dist/css/manazeak.bundle.css" rel="stylesheet" type="text/css">
</head>
<body class="dark-theme">
<div class="components-wrapper">
  <div class="scene-wrapper">
    <div class="aside" id="aside">
      <div class="item-group">
        <div class="item tooltip" id="homepage-button">
          <img src="/static/img/actions/random-roll.svg" id="mzk-home-icon" alt="home-page">
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.homepage}"></span>
        </div>
        <div class="item tooltip">
          <img src="/static/img/logo/manazeak-logo-square.svg" alt="lib-info">
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.library}"></span>
        </div>
      </div>
      <div class="item-group">
        <div class="item tooltip" id="menupage-button">
          <img src="/static/img/navigation/menu.svg" alt="menu-page">
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.menu}"></span>
        </div>
        <div class="item tooltip">
          <form method="post" th:action="@{/logout}">
            <img src="/static/img/actions/logout.svg" alt="user-logout">
            <input type="submit" value="">
          </form>
          <span class="tooltip-text right" th:text="#{mp.aside.tooltip.logout}"></span>
        </div>
      </div>
    </div>
    <div class="topbar">
      <div class="topbar-left">
        <img src="/static/img/navigation/nav-left.svg" id="topbar-view-previous" class="disabled" alt="view-previous">
        <img src="/static/img/navigation/nav-right.svg" id="topbar-view-next" class="disabled" alt="view-next">
        <a id="topbar-current-view"></a>
      </div>
      <div class="topbar-center"></div>
      <div class="topbar-right">
        <span th:text="#{mp.topbar.currently_playing}"></span>&nbsp;
        <a id="topbar-current-track"></a>        
      </div>
    </div>
    <div class="scene" id="scene"></div>
  </div>
  <div class="navbar">
    <div class="playback-wrapper">
      <div class="top-line">
        <div class="image-wrapper queue tooltip">
          <img src="/static/img/player/queue.svg" id="queue" alt="player-queue">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.queue}"></span>
        </div>
        <div class="image-wrapper repeat tooltip">
          <img src="/static/img/player/repeat-off.svg" id="repeat" alt="player-repeat">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.repeat}"></span>
        </div>
        <div class="image-wrapper shuffle tooltip">
          <img src="/static/img/player/shuffle-off.svg" id="shuffle" alt="player-shuffle">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.shuffle}"></span>
        </div>
        <div class="image-wrapper tooltip">
          <img src="/static/img/player/track-previous.svg" id="previous" alt="player-previous">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.previous}"></span>
        </div>
        <div class="image-wrapper tooltip">
          <img src="/static/img/player/stop.svg" id="stop" alt="player-stop">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.stop}"></span>
        </div>
        <div class="image-wrapper tooltip">
          <img src="/static/img/player/play.svg" id="play" alt="player-play">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.play}"></span>
        </div>
        <div class="image-wrapper tooltip">
          <img src="/static/img/player/track-next.svg" id="next" alt="player-next">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.next}"></span>
        </div>
        <div id="volumebar-wrapper" class="volumebar-wrapper">
          <div class="image-wrapper tooltip">
            <img src="/static/img/player/volume-full.svg" id="volumebar-img" alt="player-volume">
            <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.mute}"></span>
          </div>
          <div id="volumebar-container" class="volumebar-container">
            <div id="volumebar-current" class="volumebar-current full"></div>
            <div id="volumebar-thumb" class="volumebar-thumb"></div>
          </div>
        </div>
        <div class="image-wrapper speedometer tooltip">
          <img src="/static/img/player/speedometer.svg" id="speedometer" alt="player-speedometer">
          <span class="tooltip-text bottom" th:text="#{mp.navbar.tooltip.speed}"></span>
        </div>
      </div>
      <div class="bottom-line">
        <p id="timecode-left"></p>
        <div id="progress-container" class="progress-container">
          <div id="progress-track" class="progress-track">
            <div id="progress-current" class="progress-current"></div>
            <div id="progress-thumb" class="progress-thumb"></div>
            <div id="progress-hover" class="progress-hover">--:--</div>
          </div>
          <img src="" id="progress-moodbar" class="progress-moodbar"> <!-- No alt here to avoid disgraceful text displayed when 404 mood -->
        </div>
        <p id="timecode-right"></p>
      </div>
    </div>
  </div>
</div>
<!-- The global loading overlay is by default in UI. Must be removed using mzk.ui.stopLoading when mzk init is done -->
<div class="mzk-loading-overlay" id="mzk-loading-overlay"></div>
<script src="/static/dist/js/manazeak.bundle.js" type="text/javascript"></script>
</body>
</html>
