<div class="playlist-container" id="playlist-container">
  <!--/*@thymesVar id="playlists" type="java.util.List"*/-->
  <!--/*@thymesVar id="playlist" type="org.manazeak.manazeak.entity.dto.playlist.PlaylistAsideDto"*/-->
  <div class="playlist item tooltip" th:data-id="*{playlist.playlistId}" th:data-name="*{playlist.name}"
       th:each="playlist : ${playlists}">
    <div th:if="*{playlist.imagePath != null}">
      <img alt="Playlist image" th:src="*{playlist.imagePath}">
    </div>
    <div th:if="*{playlist.imagePath == null}">
      <p th:text="*{playlist.name}"></p>
    </div>
    <span class="tooltip-text right" th:text="*{playlist.name}"></span>
  </div>
</div>
