{% load i18n %}
{% load staticfiles %}
<div id="user-hub-wrapper" class="user-hub-wrapper">
  <div id="user-hub-admin" class="user-hub-admin hub-entry">
    <img src="{% static 'img/actions/option-gear.svg' %}" alt="admin">
    <h2>Admin</h2>
  </div>
  <div id="user-hub-community" class="user-hub-community hub-entry">
    <img src="{% static 'img/social/community.svg' %}" alt="community">
    <h2>Community</h2>
  </div>
  <div id="user-hub-userid" class="user-hub-userid hub-entry">
    <img src="{% static 'img/social/idcard.svg' %}" alt="userid">
    <h2>Godfather ID</h2>
  </div>
  <div id="user-hub-about" class="user-hub-about hub-entry">
    <img src="{% static 'img/about/about.svg' %}" alt="about">
    <h2>About</h2>
  </div>
  <div id="user-hub-logout" class="user-hub-logout">
    <h2>Logout</h2>
    <img src="{% static 'img/actions/logout.svg' %}" alt="logout">
  </div>
</div>
