{% load staticfiles %}

<div class="main-page">
	<div class="mp-collection"></div>
	<div class="mp-suggestion">
    	<h1>Artists<span>see more</span></h1>
		<div class="mp-suggestion-group">
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
			</div>
		<h1>Albums<span>see more</span></h1>
		<div class="mp-suggestion-group">
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
    				<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
			</div>
		<h1>Genres<span>see more</span></h1>
		<div class="mp-suggestion-group">
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
				<div class="mp-suggestion-item">
					<img src="https://vignette.wikia.nocookie.net/dubstep/images/8/8a/Habstrakt.jpg/revision/latest?cb=20150721105600">
					<p>Habstrakt</p>
				</div>
			</div>
	</div>
    <div class="mp-discover">

    </div>
</div>
