{% load staticfiles %}

<div class="party-view-wrapper">
  <div class="party-view-container">
    <div class="pv-current-track">
      <div class="pv-album-description">
        <h2>1973 – Dark Side Of The Moon</h2>
        <img src="https://miro.medium.com/max/2480/1*8FkvzbSdSJ4HNxtuZo5kLg.jpeg" alt="">
        <h4>Harvest Records</h4>
        <h4>42:58</h4>
      </div>
      <div class="pv-track-info">
        <h1>09 – Brain Damage</h1>
        <div class="pv-track-tags">
            <div class="pv-tag-labels">
              <h2 class="label">Artist:</h2>
              <h2 class="label">Composer:</h2>
              <h2 class="label">Producer:</h2>
              <h2 class="label">Duration:</h2>
              <h2 class="label">Genre:</h2>
            </div>
            <div class="pv-tag-values">
              <h2>Pink Floyd</h2>
              <h2>David Gilmour, Roger Waters</h2>
              <h2>Pink Floyd</h2>
              <h2>3:50</h2>
              <h2><span class="badge">Classic Rock</span><span class="badge">Progressive Rock</span></h2>
            </div>
        </div>
      </div>
    </div>
    <div class="pv-current-album">
      <div class="pv-tracklist">
        <div class="pv-album-track">
          <p>01 – Speak To Me</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>02 – Breathe</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>03 – On The Run</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>04 – Time</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>05 – The Great Gig In The Sky</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>06 – Money</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>07 – Us And Them</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>08 – Any Colour You Like</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track pv-playing">
          <p>09 – Brain Damage</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>10 – Eclipse</p>
          <p>Pink Floyd</p>
        </div>
      </div>
    </div>
  </div>
  <div class="party-view-controls">
      <img src="{% static "img/navigation/home.svg" %}" class="pv-controls-home" alt="pv-home-page">
      <img src="{% static "img/player/shuffle-random-on.svg" %}" alt="pv-roll-album">
      <img src="{% static "img/player/pause.svg" %}" class="pv-play-pause" alt="pv-play-pause">
  </div>
  <div class="party-view-starfield">
    <div class="pv-star-layer"></div>
    <div class="pv-star-layer"></div>
    <div class="pv-star-layer"></div>
    <div class="pv-star-layer"></div>
  </div>
</div>
