{% load staticfiles %}

<div class="party-view-wrapper">
  <div class="party-view-container">
    <div class="pv-current-track">
      <div class="pv-album-description">
        <h2>1973 – Dark Side Of The Moon</h2>
        <img src="https://miro.medium.com/max/2480/1*8FkvzbSdSJ4HNxtuZo5kLg.jpeg" alt="">
        <h4>Harvest Records</h4>
        <h4>42:58</h4>
      </div>
      <div class="">
        <h1>10 – Brain Damage</h1>
        <h2 class="label">Artist: <span>Pink Floyd</span></h2>
        <h2 class="label">Composer: <span>David Gilmour, Roger Waters</span></h2>
        <h2 class="label">Producer: <span>Pink Floyd</span></h2>
        <h2 class="label">Duration: <span>3:50</span></h2>
        <h2 class="label">Genre: <span class="badge">Classic Rock</span><span class="badge">Progressive Rock</span></h2>
      </div>
    </div>
    <div class="pv-current-album">
      <div class="pv-tracklist">
        <div class="pv-album-track">
          <p>01 – Speak To Me</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>02 – Breathe</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>03 – On The Run</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>04 – Time</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>05 – The Great Gig In The Sky</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>06 – Money</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>07 – Us And Them</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>08 – Any Colour You Like</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>09 – Brain Damage</p>
          <p>Pink Floyd</p>
        </div>
        <div class="pv-album-track">
          <p>10 – Eclipse</p>
          <p>Pink Floyd</p>
        </div>
      </div>
    </div>
  </div>
  <div class="party-view-controls">
      <img src="{% static "img/navigation/home.svg" %}" class="pv-controls-home">
      <img src="{% static "img/player/shuffle-random-on.svg" %}">
  </div>
  <div class="party-view-starfield">
    <div class="pv-star-layer"></div>
    <div class="pv-star-layer"></div>
    <div class="pv-star-layer"></div>
    <div class="pv-star-layer"></div>
  </div>
</div>
