$topbar-margin: (2 * $margin);
$topbar-transition: ($transition-duration * 2);

#topbar {
  background: $bar-alpha;
  display: flex;
  height: $topbar-height;
  width: 100%;
  z-index: 700;

  @include user-select(none);


  img#topbar-logo {
    align-self: center;
    position: absolute;
    left: calc(#{$aside-width / 2} - (#{$mzk-text-logo-width} / 2));
    opacity: 0;
    width: $mzk-text-logo-width;

    transition: opacity $topbar-transition ease 0s;
  }

  img#topbar-avatar {
    position: absolute;
    right: $margin;
    top: 0;
    height: $topbar-height;
    left: inherit;
    width: auto;
    opacity: 1;
    cursor: pointer;
  }

  @import './usermenu';
}
