.topbar {
  --mzk-topbar-loader: calc(var(--mzk-topbar-height) - (var(--mzk-topbar-height) * .2));

  background-color: var(--mzk-color-bg);
  display: flex;
  height: var(--mzk-topbar-height);
  width: 100%;
  z-index: 700;

  @include user-select(none);

  .topbar-spinner {
    align-self: center;
    border-radius: 100%;
    display: block;
    height: var(--mzk-topbar-loader);
    opacity: 0;
    position: absolute;
    left: var(--mzk-margin); // Make spinner overlap home icon
    width: var(--mzk-topbar-loader);

    @include transition(opacity var(--mzk-animation-duration-long) ease-out);

    &:after {
      content: '';
      border-radius: 100%;
      border-top: var(--mzk-border-width) solid var(--mzk-color-primary);
      height: var(--mzk-topbar-loader);
      position:absolute;
      width: var(--mzk-topbar-loader);

      animation: spin 1s linear infinite;
      @include transition(transform var(--mzk-animation-duration) ease-in-out);
    }
  }

  .home-container,
  .suggestion-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: var(--mzk-topbar-height);
    left: var(--mzk-margin);
    position: absolute;
    width: auto; // We want those containers to be square

    img {
      height: 80%;
    }

    &.suggestion-container {
      left: calc(var(--mzk-margin) + var(--mzk-topbar-height)); // Override default value for left position

      img { // Reduce optical effect on idea icon next to home/dice
        height: 75%;
      }
    }
  }

  .topbar-view-breadcrumbs { // Replace with tab system when ready
    direction: rtl; // Reverse ellipsis
    left: calc((var(--mzk-topbar-height) * 2) + var(--mzk-margin)); // Two icons and two margins
    line-height: var(--mzk-topbar-height);
    max-width: calc(100% - (var(--mzk-margin-big) + var(--mzk-topbar-height)) - var(--mzk-aside-width));
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;

    a {
      color: var(--mzk-color-text-lighter);
      cursor: pointer;

      @include transition(color var(--mzk-animation-duration) ease);

      &:active,
      &:focus,
      &:hover {
        color: var(--mzk-color-primary);
      }

      &::after {
        content: '>';
        margin: var(--mzk-margin);
      }

      &:last-child::after {
        content: '';
        margin: 0;
      }
    }

    p {
      display: inline;
    }
  }

  .topbar-logo {
    align-self: center;
    opacity: 0;
    position: absolute;
    right: calc(var(--mzk-margin-big) + var(--mzk-topbar-height)); // User pp size and two margins
    width: var(--mzk-logo-text-width);

    @include transition(opacity var(--mzk-animation-duration-long) ease);
  }

  .topbar-avatar {
    cursor: pointer;
    height: var(--mzk-topbar-height);
    left: inherit;
    opacity: 1;
    position: absolute;
    right: var(--mzk-margin);
    top: 0;
    width: var(--mzk-topbar-height);
  }
}
