$topbar-margin: (2 * $margin);
$topbar-transition: ($transition-duration * 2);
$topbar-loader: $topbar-height - 10px;

#topbar {
  background: $mzk-color-bg;
  display: flex;
  height: $topbar-height;
  width: 100%;
  z-index: 700;

  @include user-select(none);

  div#topbar-spinner {
    align-self: center;
    border: 1px solid rgba(125, 125, 125, 0.1);
    border-radius: 100%;
    display: block;
    height: $topbar-loader;
    opacity: 0;
    position:absolute;
    right: 70px;
    width: $topbar-loader;

    transition: opacity $mzk-animation-duration ease-out;

    &:after {
      content: '';
      border-top: 1px solid $mzk-color-primary;
      position:absolute;
      width: $topbar-loader;
      border-radius: 100%;
      height: $topbar-loader;
      transition: 0.3s transform ease-in-out;
      animation: spin 1s linear infinite;
    }
  }

  img#topbar-home-button {
    cursor: pointer;
    height: $topbar-height;
    left: $mzk-margin;
    position: absolute;
    width: auto;
  }

  img#topbar-logo {
    align-self: center;
    position: absolute;
    left: calc(50% - (#{$mzk-text-logo-width} / 2));
    opacity: 0;
    width: $mzk-text-logo-width;

    transition: opacity $topbar-transition ease 0s;
  }

  img#topbar-avatar {
    position: absolute;
    right: $mzk-margin;
    top: 0;
    height: $topbar-height;
    left: inherit;
    width: auto;
    opacity: 1;
    cursor: pointer;
  }
}
