/* Auth pages background is a dank radial gradient */
html, body {
  background-image: radial-gradient(var(--color-bg-lighter) 0, var(--color-bg-light) 45%, var(--color-bg-dark) 80%);
}
/* Content wrapper for whole page */
.mzk-user {
  font-size: var(--font-size);
  height: auto;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 2;
  /* Top page ManaZeak text logo */
  img {
    user-select: none;
    width: 35%;
  }
  /* Text that are both in and out of the form */
  p {
    margin: var(--margin-big) var(--margin);
    /* Mainly for text under form to fit parent bottom */
    &:last-of-type {
      margin-bottom: 0;
    }
    /* To handle specific error on fields */
    &.error {
      color: var(--color-anti-primary);
      font-style: italic;
      margin: 0;
    }
    /* Form global error (validation etc.) */
    &.global-error {
      color: var(--color-anti-primary);
      font-style: italic;
      margin-bottom: var(--margin-big);
    }
  }
  /* Links */
  a {
    color: var(--color-primary);
    text-decoration: none;
  }
  /* Standard form across auth pages */
  form {
    background: linear-gradient(90deg, var(--color-bg-dark) 10%, var(--color-bg-dark-alpha-50) 50%, var(--color-bg-dark) 90%);
    border: var(--border-width) solid var(--color-bg-dark-alpha-25);
    border-radius: var(--font-size);
    box-shadow:  0 0 var(--padding) 0 var(--color-txt-darker-alpha-10);
    box-sizing: border-box;

    padding: var(--padding-bigger) var(--padding-huge);

    .tooltip {
      margin: var(--margin) 0 0;
    }
    /* Override auth margin on P for form errors */
    p {
      margin-top: 0;
    }
    /* All inputs labels */
    label {
      cursor: help;
      font-style: italic;
      font-weight: bold;
    }
    /* Form margin for inputs */
    input[type="password"],
    input[type="text"],
    input[type="email"],
    input[type="file"],
    input[type="date"],
    select,
    textarea {
      margin-bottom: var(--margin-small);
      max-width: 50%;
      outline: none;
      min-width: 25rem;
    }
    
    textarea {
      display: block;
      height: 8rem;
      margin-left: auto;
      margin-right: auto;
    }

    select option {
      background: var(--color-bg);
      color: var(--color-txt);
    }
    /* Error state for inputs */
    input.error {
      border-bottom: solid 1px var(--color-anti-primary);
    }
    /* Form submit button */
    button {
      margin-top: var(--margin-big);
    }
    /* Positioning form elements */
    button,
    input,
    select {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &.two-col-form {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .left-col,
      .right-col {
        width: fit-content;        
      }

      .left-col {
        margin-left: auto;
        margin-right: var(--margin);
      }

      .right-col {
        margin-left: var(--margin);
        margin-right: auto;
      }

      button {
        grid-column: 1 / -1;
      }
    }
  }
}
