@import "front/scss/tool/color";
@import "front/scss/tool/variable";
@import "front/scss/tool/keyframe";
@import "front/scss/tool/mixin";
@import "front/scss/tool/overlay";
@import "front/scss/tool/modal";
/* Make sizes be true sizes */
* {
  box-sizing: border-box;
}
/* Global set for html and body tag to have unified platform across pages */
html, body {
  align-items: center;
  background-color: var(--mzk-color-bg-light);
  color: var(--mzk-color-text);
  display: flex;
  font-family: Helvetica, serif;
  height: 100%;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;
}
/* Text inputs */
input[type="password"],
input[type="text"],
input[type="email"] {
  background: 0;
  border: 0;
  border-bottom: solid 1px var(--mzk-color-border);
  color: var(--mzk-color-text);
  margin: 0;
  padding: 5px;
  text-align: center;

  transition: border-bottom .2s, color .2s;

  &:active,
  &:hover {
    border-bottom: solid 1px #ebebff;
  }

  &:active,
  &:focus,
  &:hover {
    color: #ebebff;
  }
}

input[type="file"] {
  background: 0;
  border: 0;
  color: #aaaabe;
  margin: 0;
  padding: 5px;
  text-align: center;
}

input[type="date"],
select {
  background: 0;
  border: 1px solid var(--mzk-color-border);
  border-radius: 6px;
  box-sizing: content-box;
  color: var(--mzk-color-text);
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  padding: .5rem;
}
textarea {
  background: 0;
  border: solid 1px var(--mzk-color-border);
  border-radius: 6px;
  color: var(--mzk-color-text);
  height: 3rem;
  margin: 0;
  padding: 5px;
  resize: none;
  text-align: left;

  transition: border .2s, color .2s;

  &:active,
  &:hover {
    border: solid 1px #ebebff;
  }

  &:active,
  &:focus,
  &:hover {
    color: #ebebff;
  }
}
/* Global button configuration */
button,
input[type="submit"],
label.submit {
  background: 0;
  border: 1px solid var(--mzk-color-border);
  border-radius: 6px;
  color: var(--mzk-color-text);
  cursor: pointer;
  font-weight: bold;
  margin: 0;
  padding: .5rem 2.5rem;

  transition: background-color .2s,
    border .2s,
    box-shadow .2s,
    color .2s;

  &:active,
  &:focus,
  &:hover {
    background-color: rgba(127, 127, 127, .1);
    border: 1px solid #ebebff;
    box-shadow: 0 0 1px #ebebff;
    color: #ebebff;
  }
}
.light-theme img { /* Because of icon, we must add a drop shadow on image */
  filter: drop-shadow(1px 1px 1px #222); // TODO, only for img.icon
}
/* Global form configuration */
form {
  text-align: center;
  height: auto;
}

.components-wrapper,
.scene-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.scene-wrapper {
  background-image: linear-gradient(var(--mzk-color-bg-lighter), var(--mzk-color-bg-darker) 85%);
  height: calc(100% - var(--mzk-footbar-height));
}

@media only screen and (min-width: 800px) {
  .scene-wrapper {
    flex-direction: row;
  }
}
