:root {
  /* ----------  Mains colors  ---------- */
  --color-primary: #56D45B;
  --color-primary-lighter: #AFF2B3;
  --color-primary-light: #7DE484;
  --color-primary-dark: #37C340;
  --color-primary-darker: #12B31D;

  --color-primary-alpha-90: rgba(86, 212, 91, .9);
  --color-primary-alpha-75: rgba(86, 212, 91, .75);
  --color-primary-alpha-50: rgba(86, 212, 91, .5);
  --color-primary-alpha-25: rgba(86, 212, 91, .25);
  --color-primary-alpha-10: rgba(86, 212, 91, .1);

  --color-anti-primary: #FF6B67;
  --color-anti-primary-lighter: #FFBAB8;
  --color-anti-primary-light: #FF8F8C;
  --color-anti-primary-dark: #F74B46;
  --color-anti-primary-darker: #E31C17;

  --color-anti-primary-alpha-90: rgba(255, 107, 103, .9);
  --color-anti-primary-alpha-75: rgba(255, 107, 103, .75);
  --color-anti-primary-alpha-50: rgba(255, 107, 103, .5);
  --color-anti-primary-alpha-25: rgba(255, 107, 103, .25);
  --color-anti-primary-alpha-10: rgba(255, 107, 103, .1);

  --color-secondary: #48ABAF;
  --color-secondary-lighter: #A8E4E7;
  --color-secondary-light: #71C9CD;
  --color-secondary-dark: #2B9196;
  --color-secondary-darker: #0F8489;

  --color-secondary-alpha-90: rgba(72, 171, 175, .9);
  --color-secondary-alpha-75: rgba(72, 171, 175, .75);
  --color-secondary-alpha-50: rgba(72, 171, 175, .5);
  --color-secondary-alpha-25: rgba(72, 171, 175, .25);
  --color-secondary-alpha-10: rgba(72, 171, 175, .1);

  --color-anti-secondary: #FFAD67;
  --color-anti-secondary-lighter: #FFD9B8;
  --color-anti-secondary-light: #FFC18C;
  --color-anti-secondary-dark: #F79846;
  --color-anti-secondary-darker: #E37517;

  --color-anti-secondary-alpha-90: rgba(255, 173, 103, .9);
  --color-anti-secondary-alpha-75: rgba(255, 173, 103, .75);
  --color-anti-secondary-alpha-50: rgba(255, 173, 103, .5);
  --color-anti-secondary-alpha-25: rgba(255, 173, 103, .25);
  --color-anti-secondary-alpha-10: rgba(255, 173, 103, .1);
}

.dark-theme {
  /* ----------  Background colors  ---------- */
  --color-bg: #1D1E25;

  --color-bg-alpha-90: rgba(29, 30, 37, .9);
  --color-bg-alpha-75: rgba(29, 30, 37, .75);
  --color-bg-alpha-50: rgba(29, 30, 37, .5);
  --color-bg-alpha-25: rgba(29, 30, 37, .25);
  --color-bg-alpha-10: rgba(29, 30, 37, .1);

  --color-bg-lighter: #3C405D;
  --color-bg-lighter-alpha-90: rgba(60, 64, 93, .9);
  --color-bg-lighter-alpha-75: rgba(60, 64, 93, .75);
  --color-bg-lighter-alpha-50: rgba(60, 64, 93, .5);
  --color-bg-lighter-alpha-25: rgba(60, 64, 93, .25);
  --color-bg-lighter-alpha-10: rgba(60, 64, 93, .1);

  --color-bg-light: #21252B;
  --color-bg-light-alpha-90: rgba(33, 37, 43, .9);
  --color-bg-light-alpha-75: rgba(33, 37, 43, .75);
  --color-bg-light-alpha-50: rgba(33, 37, 43, .5);
  --color-bg-light-alpha-25: rgba(33, 37, 43, .25);
  --color-bg-light-alpha-10: rgba(33, 37, 43, .1);

  --color-bg-dark: #0F1015;
  --color-bg-dark-alpha-90: rgba(15, 16, 21, .9);
  --color-bg-dark-alpha-75: rgba(15, 16, 21, .75);
  --color-bg-dark-alpha-50: rgba(15, 16, 21, .5);
  --color-bg-dark-alpha-25: rgba(15, 16, 21, .25);
  --color-bg-dark-alpha-10: rgba(15, 16, 21, .1);

  --color-bg-darker: #060609;
  --color-bg-darker-alpha-90: rgba(6, 6, 9, .9);
  --color-bg-darker-alpha-75: rgba(6, 6, 9, .75);
  --color-bg-darker-alpha-50: rgba(6, 6, 9, .5);
  --color-bg-darker-alpha-25: rgba(6, 6, 9, .25);
  --color-bg-darker-alpha-10: rgba(6, 6, 9, .1);

  /* ----------  Text colors  ---------- */
  --color-txt: #E7E9E7;

  --color-txt-alpha-90: rgba(231, 233, 231, .9);
  --color-txt-alpha-75: rgba(231, 233, 231, .75);
  --color-txt-alpha-50: rgba(231, 233, 231, .5);
  --color-txt-alpha-25: rgba(231, 233, 231, .25);
  --color-txt-alpha-10: rgba(231, 233, 231, .1);

  --color-txt-lighter: #FFFFFF;
  --color-txt-lighter-alpha-90: rgba(255, 255, 255, .9);
  --color-txt-lighter-alpha-75: rgba(255, 255, 255, .75);
  --color-txt-lighter-alpha-50: rgba(255, 255, 255, .5);
  --color-txt-lighter-alpha-25: rgba(255, 255, 255, .25);
  --color-txt-lighter-alpha-10: rgba(255, 255, 255, .1);

  --color-txt-light: #E3E3FF;
  --color-txt-light-alpha-90: rgba(231, 233, 239, .9);
  --color-txt-light-alpha-75: rgba(231, 233, 239, .75);
  --color-txt-light-alpha-50: rgba(231, 233, 239, .5);
  --color-txt-light-alpha-25: rgba(231, 233, 239, .25);
  --color-txt-light-alpha-10: rgba(231, 233, 239, .1);

  --color-txt-dark: #D4D4EE;
  --color-txt-dark-alpha-90: rgba(212, 212, 238, .9);
  --color-txt-dark-alpha-75: rgba(212, 212, 238, .75);
  --color-txt-dark-alpha-50: rgba(212, 212, 238, .5);
  --color-txt-dark-alpha-25: rgba(212, 212, 238, .25);
  --color-txt-dark-alpha-10: rgba(212, 212, 238, .1);

  --color-txt-darker: #AAAACC;
  --color-txt-darker-alpha-90: rgba(170, 170, 204, .9);
  --color-txt-darker-alpha-75: rgba(170, 170, 204, .75);
  --color-txt-darker-alpha-50: rgba(170, 170, 204, .5);
  --color-txt-darker-alpha-25: rgba(170, 170, 204, .25);
  --color-txt-darker-alpha-10: rgba(170, 170, 204, .1);

  --color-txt-negative: var(--color-bg);
  --color-icons: var(--color-txt-darker);
}

.light-theme {
  /* ----------  Background colors  ---------- */
  --color-bg: #E7E9E7;

  --color-bg-alpha-90: rgba(231, 233, 231, .9);
  --color-bg-alpha-75: rgba(231, 233, 231, .75);
  --color-bg-alpha-50: rgba(231, 233, 231, .5);
  --color-bg-alpha-25: rgba(231, 233, 231, .25);
  --color-bg-alpha-10: rgba(231, 233, 231, .1);

  --color-bg-lighter: #FFFFFF;
  --color-bg-lighter-alpha-90: rgba(255, 255, 255, .9);
  --color-bg-lighter-alpha-75: rgba(255, 255, 255, .75);
  --color-bg-lighter-alpha-50: rgba(255, 255, 255, .5);
  --color-bg-lighter-alpha-25: rgba(255, 255, 255, .25);
  --color-bg-lighter-alpha-10: rgba(255, 255, 255, .1);

  --color-bg-light: #E3E3FF;
  --color-bg-light-alpha-90: rgba(231, 233, 239, .9);
  --color-bg-light-alpha-75: rgba(231, 233, 239, .75);
  --color-bg-light-alpha-50: rgba(231, 233, 239, .5);
  --color-bg-light-alpha-25: rgba(231, 233, 239, .25);
  --color-bg-light-alpha-10: rgba(231, 233, 239, .1);

  --color-bg-dark: #D4D4EE;
  --color-bg-dark-alpha-90: rgba(212, 212, 238, .9);
  --color-bg-dark-alpha-75: rgba(212, 212, 238, .75);
  --color-bg-dark-alpha-50: rgba(212, 212, 238, .5);
  --color-bg-dark-alpha-25: rgba(212, 212, 238, .25);
  --color-bg-dark-alpha-10: rgba(212, 212, 238, .1);

  --color-bg-darker: #AAAACC;
  --color-bg-darker-alpha-90: rgba(170, 170, 204, .9);
  --color-bg-darker-alpha-75: rgba(170, 170, 204, .75);
  --color-bg-darker-alpha-50: rgba(170, 170, 204, .5);
  --color-bg-darker-alpha-25: rgba(170, 170, 204, .25);
  --color-bg-darker-alpha-10: rgba(170, 170, 204, .1);

  /* ----------  Text colors  ---------- */
  --color-txt: #1D1E25;
  
  --color-txt-alpha-90: rgba(29, 30, 37, .9);
  --color-txt-alpha-75: rgba(29, 30, 37, .75);
  --color-txt-alpha-50: rgba(29, 30, 37, .5);
  --color-txt-alpha-25: rgba(29, 30, 37, .25);
  --color-txt-alpha-10: rgba(29, 30, 37, .1);

  --color-txt-lighter: #3C405D;
  --color-txt-lighter-alpha-90: rgba(60, 64, 93, .9);
  --color-txt-lighter-alpha-75: rgba(60, 64, 93, .75);
  --color-txt-lighter-alpha-50: rgba(60, 64, 93, .5);
  --color-txt-lighter-alpha-25: rgba(60, 64, 93, .25);
  --color-txt-lighter-alpha-10: rgba(60, 64, 93, .1);

  --color-txt-light: #21252B;
  --color-txt-light-alpha-90: rgba(33, 37, 43, .9);
  --color-txt-light-alpha-75: rgba(33, 37, 43, .75);
  --color-txt-light-alpha-50: rgba(33, 37, 43, .5);
  --color-txt-light-alpha-25: rgba(33, 37, 43, .25);
  --color-txt-light-alpha-10: rgba(33, 37, 43, .1);

  --color-txt-dark: #0F1015;
  --color-txt-dark-alpha-90: rgba(15, 16, 21, .9);
  --color-txt-dark-alpha-75: rgba(15, 16, 21, .75);
  --color-txt-dark-alpha-50: rgba(15, 16, 21, .5);
  --color-txt-dark-alpha-25: rgba(15, 16, 21, .25);
  --color-txt-dark-alpha-10: rgba(15, 16, 21, .1);

  --color-txt-darker: #060609;
  --color-txt-darker-alpha-90: rgba(6, 6, 9, .9);
  --color-txt-darker-alpha-75: rgba(6, 6, 9, .75);
  --color-txt-darker-alpha-50: rgba(6, 6, 9, .5);
  --color-txt-darker-alpha-25: rgba(6, 6, 9, .25);
  --color-txt-darker-alpha-10: rgba(6, 6, 9, .1);

  --color-txt-negative: var(--color-bg);
  --color-icons: var(--color-txt-darker);
}
