@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  user-select: $value;
}

@mixin text-ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Mixin for volumebar, progressbar, speedometer */
@mixin bar-container() {
  background-color: var(--color-icons);
  border-radius: var(--border-radius);
  cursor: pointer;
  height: var(--bar-height);
  margin-left: auto;
  margin-right: auto;
  pointer-events: initial;
  position: relative;
  width: 75%;
}

@mixin bar-thumb() {
  background-color: var(--color-txt-lighter);
  border-radius: 50%;
  bottom: 0;
  height: calc(var(--bar-height) * 2);
  margin-left: calc(var(--bar-height) * -1);
  margin-bottom: calc(var(--bar-height) / -2);
  opacity: 0;
  position: absolute;
  width: calc(var(--bar-height) * 2);

  transition: opacity .2s ease;
}

@mixin bar-current() {
  background-color: var(--color-primary);
  border-radius: var(--border-radius) 0 0 var(--border-radius);
  border-right: solid var(--border-width) var(--color-secondary-darker);
  bottom: 0;
  height: 100%;
  position: absolute;

  transition: background-color .2s ease;

  &.full {
    border-radius: var(--border-radius);
  }
}
