.loading-overlay {
  align-items: center;
  background-color: var(--color-bg-darker-alpha-75);
  display: flex;
  font-size: var(--font-size);
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

.modal {
  background: var(--color-bg);
  border: solid 1px var(--color-txt-alpha-10);
  border-radius: 5px;
  box-shadow: 0 0 .3rem var(--color-primary-alpha-10);
  max-width: 66rem;
  min-width: 20%;
  position: relative;
  text-align: justify;
  z-index: 800;

  .header {
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: center;
    padding: 0 var(--padding-huge);
    position: relative;
    text-align: center;

    p { // The modal title
      font-size: var(--font-size-big);
      margin: 0;
    }
  }

  .container {
    background-color: var(--color-bg-lighter-alpha-25);
    display: flex;
    flex-direction: column;
    height: calc(100% - 12rem);
    justify-content: center;
    padding: var(--padding-big);
    position: relative;

    p {
      margin-bottom: var(--font-size);
      text-indent: 1rem;

      &.error {
        color: #FF6B67;
        font-style: italic;
        margin: 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;

      [type="submit"] {
        display: none;
      }
    }
  }

  .footer {
    align-items: center;
    display: flex;
    height: 6rem;
    justify-content: center;

    button {
      border: solid 1px gray;
      border-radius: 5px;
      cursor: pointer;
      height: 55%;
      outline: none;
      text-decoration : none;

      transition: background-color var(--animation-duration);

      &.primary {
        background-color: var(--color-primary);
        border-color: var(--color-primary);
        color: var(--color-txt-negative);
      }

      &:active,
      &:focus,
      &:hover {
        background-color: var(--color-secondary);
        border-color: var(--color-secondary);
        color: var(--color-txt-negative);
      }
    }
  }

  .close { // Header close button
    cursor: pointer;
    position: absolute;
    right: var(--font-size-small);
    top: var(--font-size-small);
    z-index: 801;

    transition: color var(--animation-duration) ease-out;

    &:active,
    &:focus,
    &:hover {
      color: var(--color-anti-primary);
    }
  }
}

.wish-modal {
  textarea {
    border: solid 1px gray;
    border-radius: var(--font-size-small);
    height: inherit;
  }
}

.album-cover-modal,
.artist-picture-modal {
  max-height: 95%;
  max-width: inherit;

  .container {
    height: calc(100% - 6rem);

    img {
      max-height: 80vh;
    }

    [class$="-info"] {
      background-color: var(--color-bg-lighter-alpha-90);
      bottom: var(--padding);
      border-radius: .5rem;
      left: 50%;
      max-width: 90%;
      opacity: 0;
      padding: var(--padding) var(--padding-big);
      position: absolute;
      text-align: center;
      width: max-content;
      transform: translateX(-50%);
      transition: opacity .2s;

      h1, p {
        margin: 0;
      }

      h1 {
        font-size: var(--font-size);
        margin-bottom: var(--margin-tiny);
      }
    }

    &:active [class$="-info"],
    &:focus [class$="-info"],
    &:hover [class$="-info"] {
      opacity: .9;
    }
  }
}

.track-detail-modal {
  height: calc(100% - var(--margin));
  max-width: inherit;
  width: calc(100% - var(--margin));

  .container {
    height: calc(100% - 6rem);

    header {
      text-align: left;
    }

    .waveform-container {
      height: calc(18rem + 1px); /* Avoid centered waveform line */
      width: 100%;
    }
  }

  .footer {
    justify-content: space-between;
    padding: 0 var(--padding);
  }
}

.reset-password-modal {
  label {
    padding-top: var(--padding);
    text-align: center;

    &.error {
      color: var(--color-red);
    }
  }

  input.error {
    border-bottom-color: var(--color-red);
  }
}
