/* Loading spinner between views */
.mzk-loading-overlay {
  background-color: var(--mzk-color-bg-darker-alpha-75);
  cursor: progress;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;

  &::before {
    content: '';
    background-color: var(--mzk-color-primary);
    border-radius: var(--mzk-border-radius);
    height: var(--mzk-margin-big);
    left: calc(50% - var(--mzk-margin-small));
    position: absolute;
    top: 50%;
    width: var(--mzk-margin-big);

    animation: rotate-plane 1.2s infinite ease-in-out; // Custom keyframe
  }
}
