.pager {
  div {
    display: flex;
    max-width: 24rem;
    overflow: hidden;

    span {
      cursor: pointer;
      align-items: center;
      border: solid var(--border-width) var(--border-color);
      border-radius: 0;
      display: flex;
      font-size: var(--font-size-small);
      height: 3rem;
      justify-content: center;
      width: 3rem;

      &:first-of-type {
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
      }

      &:last-of-type {
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
      }

      &.selected {
        border: solid 1px var(--color-primary);
        color: var(--color-primary);
      }

      &.inactive {
        cursor: not-allowed;
      }
    }
  }
}
