.tooltip {
  position: relative;

  &:active .tooltip-text,
  &:focus .tooltip-text,
  &:hover .tooltip-text {
    opacity: 1;
    transform: translateX(.5rem);
    visibility: visible;
  }

  .tooltip-text {
    background-color: var(--color-bg);
    border: solid 1px var(--color-txt-alpha-25);
    border-radius: 3px;
    display: block;
    color: var(--color-txt);
    font-size: var(--font-size-small);
    max-width: 250px;
    opacity: 0;
    padding: var(--padding-small) var(--padding);
    position: absolute;
    text-align: center;
    transform: translate3d(0, 0, 0);
    transition: opacity .2s ease-in-out,
    visibility .2s ease-in-out,
    transform .2s ease-in-out;
    visibility: hidden;
    width: max-content;
    z-index: 998;

    &.right {
      top: calc(50% - (var(--font-size-small) / 2) - var(--padding-small));
      left: 100%;

      &::after {
        content: ' ';
        border-color: transparent var(--color-txt-alpha-25) transparent transparent;
        border-style: solid;
        border-width: .25rem;
        position: absolute;
        margin-top: -.25rem;
        right: 100%; // To the left side of the tooltip
        top: 50%;
      }
    }

    &.left {
      top: calc(50% - (var(--font-size-small) / 2) - var(--padding-small));
      right: calc(100% + 1rem);

      &::after {
        content: ' ';
        border-color: transparent transparent transparent var(--color-txt-alpha-25);
        border-style: solid;
        border-width: .25rem;
        position: absolute;
        margin-top: -.25rem;
        left: 100%; // To the right side of the tooltip
        top: 50%;
      }
    }

    &.top {
      width: 120px;
      bottom: 100%;
      left: 50%;
      margin-left: -60px;
    }

    &.bottom {
      width: 120px;
      top: 100%;
      left: 50%;
      margin-left: -60px;
    }
  }
}
