:root { // Define colors in css root element
  /* ----------  Global styling  ---------- */

  --animation-duration: .2s;
  --animation-duration-short: calc(var(--animation-duration) / 2);
  --animation-duration-long: calc(var(--animation-duration) * 2);

  --border-width: 1px;
  --border-jumbo-width: 3px;
  --border-radius: 3px;
  --border-jumbo-radius: 9px;

  --font-size-2: 3.2rem;
  --font-size-big: 2.4rem;
  --font-size: 1.6rem;
  --font-size-small: 1.4rem;
  --font-size-smaller: 1.2rem;

  --padding: 1.6rem;
  --padding-tiny: calc(var(--padding) / 4);
  --padding-small: calc(var(--padding) / 2);
  --padding-big: calc(var(--padding) * 2);
  --padding-bigger: calc(var(--padding) * 3);
  --padding-huge: calc(var(--padding) * 6);

  --margin: 2rem;
  --margin-tiny: calc(var(--margin) / 4);
  --margin-small: calc(var(--margin) / 2);
  --margin-big: calc(var(--margin) * 2);
  --margin-bigger: calc(var(--margin) * 3);
  --margin-huge: calc(var(--margin) * 6);

  --logo-text-width: 145px;

  --bar-height: 6px;

  /* ----------  Components variables  ---------- */

  --aside-size: 4rem;
  --topbar-size: 2rem;

  --navbar-height: 8rem;

  --scene-height-resp: calc(100% - var(--aside-size));
  --scene-height: 100%;
  --scene-width-resp: 100%;
  --scene-width: calc(100% - var(--aside-size));

  --default-scroll-size: 18px;
  --scroll-color: rgb(155, 155, 155);
  --scroll-size: 10px;
  --scroll-radius: calc(var(--scroll-size) / 2);
  --scroll-low-opacity: .2;
  --scroll-high-opacity: .8;
  --scroll-transition-duration: .2s;
}
