// Background colors
$mzk-bg-light:  rgba(64, 64, 72, 1);
$mzk-bg-normal: rgba(44, 44, 48, 1);
$mzk-bg-alt:    rgba(41, 41, 45, 1);
$mzk-bg-strong: rgba(31, 33, 39, 1);
$mzk-bg-darker: rgba(14, 15, 20, 1);
// Text colors
$mzk-text:       rgba(170, 170, 190, 1);
$mzk-text-light: rgba(235, 235, 255, 1);
// App colors
$mzk-accent-color:      rgba(255, 0, 0, 0.8);
$mzk-anti-accent-color: rgba(0, 0, 255, 0.8);
// Collection colors
$mzk-collection-library:   rgba(255, 0, 0, 0.8);
$mzk-collection-playlist:  rgba(0, 0, 255, 0.8);
$mzk-collection-favorites: rgba(0, 255, 0, 0.8);

$mzk-std-animation-duration: 0.2s;

$topbar-height:   50px;
$mzk-border-color: $mzk-bg-darker;
$mzk-border-width:    1px;
$mzk-border-radius:   3px;
$mzk-padding:     10px;
$mzk-margin:      10px;
$footbar-padding: $mzk-padding;


input[type=text],
input[type=password] {
    background:    transparent;
    border:        0;
    border-bottom: solid $mzk-border-width $mzk-text;
    border-radius: ($mzk-border-radius * 2) - 1;
    color:         $mzk-text;
    padding:       $mzk-padding / 2;
    text-align:    center;
    transition:    $mzk-std-animation-duration;

    &:active,
    &:focus {
        color: $mzk-text-light;
    }

    &:active,
    &:focus,
    &:hover {
        border-bottom: solid 1px $mzk-text-light;
    }
}

button {
    background:    transparent;
    margin:        25px 10px;
    padding:       10px 25px;
    color:         $mzk-text;
    border-radius: 6px;
    border:        solid 1px $mzk-text;
    cursor:        pointer;
    transition:    $mzk-std-animation-duration;

    &:active,
    &:focus,
    &:hover {
        border:     solid 1px $mzk-text-light;
        box-shadow: 0 0 1px $mzk-text-light;
        color:      $mzk-text-light;
    }
}

.mzk-hidden {
    opacity:    0;
    visibility: hidden;
    transition: visibility 0s 0.3s,
    opacity 0.3s ease;

    &.mzk-visible {
        @extend .mzk-visible;
    }
}

.mzk-visible {
    opacity:    1;
    transition: opacity 0.3s ease;
    visibility: visible;
}
