@keyframes text-moving {
    0% {
        opacity:   0;
        transform: translateX(-200%);
    }

    2% {
        opacity:   1;
        transform: translateX(0px);
    }

    93% {
        opacity:   1;
        transform: translateX(0px);
    }

    100% {
        opacity:   0;
        transform: translateX(300%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rise {
    0% {
        transform: translateY(1000px) rotate(360deg);
    }
}

@keyframes rise-blur {
    0% {
        transform: translateY(1000px) translateZ(0px);
    }
}

@keyframes rise-closeup {
    0% {
        transform: translateY(1000px) translateZ(30px);
    }
}

@keyframes wind {
    100% {
        transform: translateX(40px);
    }
}

@keyframes wind-deux {
    100% {
        transform: translateX(-50px);
    }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}