# This file is used to ignore the directory not needed for the creation of the manazeak_back image.
doc/
docker/
static/
node/
node_modules/
mda-generator/
.idea/
back/target/
back/src/dev/bdd/
.github
.git