/*
 *
 *
/* Program colors */
$primary-color:        rgba(44, 44, 48, 1);
$secondary-color:      rgba(31, 33, 39, 1);

$accent-color:         rgba(255, 0, 0, 1);
$anti-accent-color:    rgba(0, 0, 255, 1);
$dark-primary-color:   rgba(64, 64, 72, 1);
$dark-secondary-color: rgba(14, 15, 20, 1);

$primary-text:         rgba(170, 170, 190, 1);

$white:                rgba(255, 255, 255, 1);