//=================================== VISIBILITY LOCK ===================================

.mzk-hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s 0.3s,
  opacity 0.3s ease;

  //We need to beat hidden's specificity because of how @extend works
  &.mzk-visible {
    @extend .mzk-visible;
  }
}

.mzk-visible {
  opacity: 1;
  transition: opacity 0.3s ease;
  visibility: visible;
}
