@import './components/progressbar';

#footbar {
  background: red;
  bottom: 0;
  display: flex;
  height: auto;
  position: absolute;
  width: 100%;

  .left,
  .right {
    height: 100%;
    width: 50px;
  }

  .center {
    height: 100%;
    width: calc(100% - 100px);

    #controls-container {
      align-items: center;
      display: flex;
      height: 50px;
      justify-content: center;
      width: 100%;

      img {
        cursor: pointer;
        height: 66%;
        margin: 0 3px;
      }
    }
  }

  .right {

  }
}
