$main-container-icon-margin: (8 * $margin) / 10;

@import './maincontainer/views/listview'; // Loading list view rules
@import './maincontainer/aside'; // Loading progressbar rules
@import './maincontainer/scene'; // Loading progressbar rules

#mainContainer {
  background-image: linear-gradient(red, yellow);                
  height: calc(100% - (#{$topbar-height} + #{$footbar-height}));
  width: 100%;

  #overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    height: calc(100% - #{$topbar-height} - #{$footbar-height});
    justify-content: center;
    position: absolute;
    top: $topbar-height;
    width: 100%;
    z-index: 700;
  }
}
