p {
	margin: 0 15px;
	font-size: small;
	height: 100%;
}

#progress {
	display: flex;
	align-items: center;
	width: auto;
	height: 20px;
}

#progress-track {
	width: 100%;
	background-color: #555555;
	height: 4px;
	cursor: pointer;
	position: relative;
	display: inline-flex;
}

#progress-current {
	background-color: lime;
	height: 100%;
	width: 0%;
}

#progress-thumb {
	background-color: red;
	position: absolute;
	height: 6px;
	width: 6px;
	left: 0%;
	bottom: -1px;
}

#progress-hover {
	background-color: grey;
  border:           solid 1px black;
  border-radius:    3px;
  bottom:           10px;
  box-sizing:       border-box;
  color:            black;
  font-size:        0.7em;
  height:           20px;
  left:             0;
  line-height:      20px;
  pointer-events:   none;
  position:         absolute;
  text-align:       center;
  width:            60px;
	z-index: 2;
}
