$topbar-margin: (2 * $margin);
$topbar-transition: ($transition-duration * 2);

#top-bar {
  background: blue;
  display: flex;
  height: $topbar-height;
  width: 100%;
  z-index: 700;

  img {
    align-self: center;
    position: absolute;
    left: calc(7.5% - (#{$mzk-text-logo-width} / 2)); // Aside width (15%) / 2
    opacity: 0;
    width: $mzk-text-logo-width;

    transition: opacity $topbar-transition ease 0s;
  }
}
