@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2em !important;
  }

  #volumebar-wrapper {
    display: none !important;
  }

  #topbar {
    img#topbar-logo {
      left: 10px !important;
    }
  }

  #scene {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    #scene-view-option {
      display: none !important;
    }

    .albumview {
      .genre-badges {
        text-align: center;
      }
    }
  }

  #footbar {
    .left,
    .right {
      display: none;
    }

    .center {
      width: 100%;
    }
  }

  .shuffle-left {
    left: 0 !important;
    bottom: -25px;
    z-index: -1;
  }

  .artist {
    .album {
      display: block !important;
      width: inherit !important;
      margin-bottom: 33px !important;

      .album-info {
        width: calc(100% - 18px) !important;

        h1 {
          font-size: 1.66em !important;
          text-align: center !important;
          padding-left: 0 !important;
        }

        .tracks-container {
          display: block !important;
          padding: 0 !important;

          .track {
            margin-bottom: 5px;
          }
        }
      }

      img {
        width: 120px !important;
        height: 120px !important;
        margin: 0 auto !important;
        display: flex !important;
      }

      .genre-badge {
        margin: 0 !important;
      }
    }
  }

  .listview {
    .header {
      display: none;
    }

    .track-container {
      height: inherit !important;
    }
  }
}
