@import 'maincontainer/scene'; // Loading progressbar rules

#mainContainer {
//  background-image: linear-gradient(red, yellow);
  background-image: linear-gradient(rgb(60, 64, 93), rgb(6, 6, 9) 85%);
  height: calc(100% - (#{$topbar-height}));
  left: $aside-width;
  position: absolute;
  width: calc(100% - #{$aside-width});

  transition: all 0.8s ease-in-out 0s;

  #overlay { // Move overlay in scene instead of in container
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    height: calc(100% - #{$footbar-height});
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 700;
  }

  &.extended {
    width: 100%;
    left: 0;
  }

  @import 'footbar/footbar';
}
