@import 'maincontainer/scene'; // Loading progressbar rules

#mainContainer {
  background-image: linear-gradient(rgb(60, 64, 93), rgb(6, 6, 9) 85%);
  height: calc(100% - (#{$topbar-height} + #{$footbar-height}));
  position: absolute;
  width: 100%;
}

.mzk-loading-overlay {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;

  &::before {
    content: '';
    background-color: lime;
    height: $margin * 2;
    left: calc(50% - (#{$margin} / 2));
    position: absolute;
    top: 50%;
    width: $margin * 2;
    border-radius: $border-radius;
    animation: rotate-plane 1.2s infinite ease-in-out;
  }

  &::after {
    content: 'Loading...';
    color: white;
    font-style: italic;
    left: 0;
    text-align: center;
    position: absolute;
    top: 55%;
    width: 100%;
  }
}