.earningManaCoinList {
    list-style: inherit !important;
    padding-left: 20px !important;

    li {
        background-color: inherit !important;
        border-radius: inherit !important;
        margin-bottom: inherit !important;
        padding: inherit !important;
        position: inherit !important;
        min-height: inherit !important;
    }
}

/* TODO add mk style from messcss fw */