$cover-width: 600px;

.mzk-partyview {
    background-color:  $mzk-bg-darker;
    color:             white;
    display:           flex;
    overflow:          hidden !important;
    -moz-transition:    party-fadeIn 0.8s linear, z-index 0s, transform 0.8s ease-in-out;
    -webkit-transition: party-fadeIn 0.8s linear, z-index 0s, transform 0.8s ease-in-out;
    transition:         party-fadeIn 0.8s linear, z-index 0s, transform 0.8s ease-in-out;

    position: fixed !important;
    top:      0 !important;
    left:     0 !important;
    width:    100vw !important;
    height:   100vh !important;
    z-index:  42;

    transform: translateX(0);
    &.mzk-view-hide {
        -moz-transition:    party-fadeIn 0.8s linear, z-index 0s 0.8s, transform 0.8s ease-in-out;
        -webkit-transition: party-fadeIn 0.8s linear, z-index 0s 0.8s, transform 0.8s ease-in-out;
        transition:         party-fadeIn 0.8s linear, z-index 0s 0.8s, transform 0.8s ease-in-out;
        transform:          translateX(-100vw);
    }

    .mzk-logo {
        position:  absolute;
        right:     25px;
        bottom:    25px;
        width:     250px;
        max-width: calc(100% - 2 * 25px);
    }

    .mzk-party-cover-controls {
        z-index:            1;
        width:              100%;
        display:            flex;
        flex-direction:     column;
        justify-content:    center;
        align-items:        flex-start;

        .mzk-track-container {
            align-items:  center;
            display:      inline-flex;
            padding-left: 10%;
            position:     relative;
            width:        90%;

            & > img {
                background-color: $mzk-bg-light;
                animation-delay: 0.2s;
                box-shadow: 0 0 30px #fff;
                height: $cover-width;
                width: $cover-width;
                -moz-animation: fade 40s linear infinite;
                -webkit-animation: fade 40s linear infinite;
                animation: fade 40s linear infinite;
            }

            .mzk-party-track-info {
                display:     inline-block;
                margin-left: 80px;

                h1,
                h2,
                h3 {
                    margin:     0;
                    text-align: left;
                }

                h1 {
                    font-size: 3em;
                }

                h2 {
                    font-size: 1.7em;
                }

                h3 {
                    font-size: 1.2em;
                }

                .a,
                .b {
                    animation:         text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                    -moz-animation:    text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                    -webkit-animation: text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                }

                .c {
                    animation:         text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) 0.1s infinite;
                    -moz-animation:    text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) 0.1s infinite;
                    -webkit-animation: text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) 0.1s infinite;

                }

                .d {
                    animation:         text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) 0.2s infinite;
                    -moz-animation:    text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) 0.2s infinite;
                    -webkit-animation: text-moving 20s cubic-bezier(0.77, 0, 0.18, 1) 0.2s infinite;
                }

                .b,
                .c {
                    margin-bottom: 20px;
                }
            }

            .mzk-party-track-info-composers {
                display: inline-flex;
            }
        }

        @import '../../components/elements/footbar/controls';
        .mzk-controls {
            margin-top:   2 * $mzk-margin;
            padding-left: 10%;
            width:        $cover-width;

            img {
                background: $mzk-bg-alpha-darker;
            }

            .mzk-controls-play {
                flex-basis: 1.5 * 1.2 * $controls-icon-width;
                img {
                    max-height: 1.5 * 1.2 * $controls-icon-width;
                    max-width:  1.5 * 1.0 * $controls-icon-width;
                }
            }

            .mzk-controls-stop {
                display: none;
            }

            .mzk-controls-shuffle {
                flex-grow:  1;
                text-align: center;
            }

            .mzk-controls-repeat {
                flex-grow:  1;
                text-align: center;
                order:      16;
            }
        }
    }

    .mzk-star {
        bottom:   0;
        left:     0;
        overflow: hidden;
        position: absolute;
        right:    0;
        top:      0;
    }

    .mzk-start-layer {
        animation:         wind 14s ease-in-out infinite alternate;
        left:              -100px;
        perspective:       100px;
        right:             -100px;
        -moz-animation:    wind 14s ease-in-out infinite alternate;
        -webkit-animation: wind 14s ease-in-out infinite alternate;
    }

    .mzk-start-layer::after {
        animation:         rise-closeup 40s linear infinite;
        background:        url("/static/img/partyview/bg-light.png");
        content:           '';
        height:            2000px;
        left:              -100px;
        position:          absolute;
        right:             -100px;
        top:               -1000px;
        transform:         translateZ(30px);
        -moz-animation:    rise-closeup 40s linear infinite;
        -webkit-animation: rise-closeup 40s linear infinite;
    }


    .mzk-start-layer:nth-child(1) {
        animation-duration: 25s;
        animation-name:     wing-deux;
    }

    .mzk-start-layer:nth-child(1)::after {
        animation-duration: 60s;
        animation-name:     rise-blur;
        background:         url("/static/img/partyview/bg-blur.png");
        transform:          translateZ(0px);
    }

    .mzk-start-layer:nth-child(2) {
        animation-duration: 10s;
    }

    .mzk-start-layer:nth-child(2)::after {
        animation-duration: 50s;
        animation-name:     rise;
        background:         url("/static/img/partyview/bg-medium.png");
    }

    .mzk-date {
        height: 1em;
        position: absolute;
        text-align: right;
        width: 100%;

        h3 {
            color: $mzk-text;
            padding-top: 3px;
            padding-right: 70px;
        }
    }

    .mzk-close {
        z-index:  2;
        cursor:   pointer;
        height:   30px;
        position: absolute;
        right:    15px;
        top:      15px;
        width:    30px;
    }
}
