&.mzk-modal-cover {

  h1 {
    position: absolute;
    height: 25px;
    top: 10px;
    margin: 0;
    line-height: 25px;
    font-size: 25px;
    text-shadow: black 1px 1px 5px;
  }

  #content {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    text-align: center;
    width: 100%;
    top: 0;
    padding: 0;
    height: 100%;
    position: absolute;

    img {
      height: 90%;
      background-color: $primary-color;
      box-shadow: 0 0 30px #fff;
    }
  }
}