&.mzk-modal-edit-group {

  .mzk-modal-content {

    .mzk-modal-title {
      font-size: 1.5em;
      padding-bottom: $mzk-padding;
    }

    .mzk-modal-box-container {

      text-align: start;

      & > label {
        width: 50%;
        padding: 1px 0;
        display: inline-block;
        cursor: pointer;

        & > input {
          margin: 0 8px;
        }

        &:nth-child(even) {
          text-align: start;

          & > input {
            float: left;
          }
        }

        &:nth-child(odd) {
          text-align: end;

          & > input {
            float: right;
          }
        }
      }

    }

  }

}