&.mzk-modal-edit-tag {
    padding: ($mzk-padding * 2) ($mzk-padding * 2) 0 ($mzk-padding * 2);
    width: auto;

    .mzk-modal-header,
    .mzk-modal-footer {
        display: none;
    }

    .mzk-modal-content {
        padding:    0;
        text-align: start;
    }

    .mzk-list {
        background-color: $mzk-bg-normal;
        border-right:     solid 1px $mzk-bg-light;
        box-sizing:       border-box;
        font-size:        0.8em;
        margin:           0;
        overflow:         auto;
        width:            250px;
        white-space:      nowrap;

        p {
            cursor:  pointer;
            margin:  0;
            padding: 2px 15px;

            &.mzk-selected {
                background-color: $mzk-bg-strong;
            }
        }
    }

    .mzk-edit-tag {
        background-color: $mzk-bg-normal;
        height:           auto;
        position:         relative;
        width:            $modalWidth;

        .mzk-head {
            display: flex;
            height:  auto;
            width:   100%;

            p {
                font-size: 0.7em;
                margin:    0;
                padding:   0;
            }

            .mzk-img-container {
                box-sizing: border-box;
                height:     130px;
                padding:    15px;
                width:      130px;

                img {
                    cursor: pointer;
                    height: 100px;
                    width:  100px;
                }
            }

            .mzk-art-tit-container {
                align-items: center;
                display:     flex;
                height:      130px;
                width:       340px;

                input {
                    background:   transparent;
                    display:      inline-block;
                    font-size:    0.7em;
                    margin-left:  5px;
                    padding-left: 5px;
                    text-align:   left;
                    width:        320px;
                }

                p {
                    margin-left: 5px;
                }

                .mzk-space-up {
                    margin-top: 15px;
                }
            }

            .mzk-numbs-year-container {
                align-items:     center;
                display:         flex;
                height:          130px;
                justify-content: right;
                width:           130px;

                .mzk-item-wrapper {
                    height: auto;

                    .mzk-item {
                        align-items:     center;
                        box-sizing:      border-box;
                        display:         flex;
                        font-size:       0.7em;
                        height:          calc(130px / 4);
                        justify-content: right;
                        padding-right:   15px;
                        width:           100%;

                        input {
                            background: transparent;
                            display:    inline-block;
                            height:     1em;
                            margin:     0 3px;
                            text-align: center;
                            width:      15px;
                        }

                        .mzk-year {
                            width: 49px !important;
                        }
                    }
                }
            }
        }


        .mzk-tags {
            display:         flex;
            height:          auto;
            justify-content: center;

            .mzk-tags-wrapper {
                box-sizing:      border-box;
                display:         flex;
                justify-content: center;
                height:          auto;
                padding:         0 15px;
                width:           100%;

                input {
                    background:    transparent;
                    display:       inline-block;
                    font-size:     0.7em;
                    margin-bottom: 15px;
                    text-align:    left;
                    width:         570px;
                }

                .mzk-no-margin {
                    margin: 0 !important;
                }
            }
        }

        .mzk-coms {
            display: flex;

            .mzk-element {
                align-items: center;
                display:     flex;
                height:      140px;
                padding:     0 15px;
                text-align:  center;
                width:       50%;

                textarea {
                    background:    transparent;
                    border:        solid 1px $mzk-text !important;
                    border-radius: 2px;
                    box-sizing:    border-box;
                    color:         $mzk-text !important;
                    font-size:     0.85em;
                    height:        100px;
                    margin-top:    5px;
                    padding:       5px;
                    resize:        none;
                    transition:    0.2s ease;
                    width:         100%;
                }

                textarea:active,
                textarea:hover,
                textarea:focus {
                    border: solid 1px $mzk-accent-color !important;
                }

                .mzk-center {
                    text-align: center;
                }
            }
        }

        .mzk-info {
            height:     30px;
            padding:    5px 0;
            text-align: center;
            width:      100%;

            & > p {
                opacity:    1;
                transition: opacity 0.2s;

                &.multiple {
                    opacity: 0;
                }
            }
        }


        .mzk-foot {
            height:     auto;
            text-align: center;
            width:      100%;
        }


        p {
            font-size: 0.7em;
            margin:    0;
        }

        input {
            border:        0;
            border-bottom: solid 1px $mzk-text !important;
            color:         $mzk-text;
            transition:    0.2s ease;
        }

        input:active,
        input:hover,
        input:focus {
            border-bottom: solid 1px $mzk-accent-color !important;
        }
    }
}
