&.mzk-modal-invite-code {
    .mzk-modal-content {

        -webkit-user-select: text; /* Chrome/Safari */
        -moz-user-select:    text; /* Firefox */

        #infoLabel {
            margin-left:  auto;
            margin-right: auto;
        }
    }

    .mzk-modal-footer {
        #cancelButton:hover {
            border: solid 1px green;
        }

        #deleteButton:hover {
            border: solid 1px red;
        }
    }
}
