&.mzk-modal-new-library {
    .mzk-modal-content {
        input {
            margin: 10px 0;
        }

        #mzk-name,
        #mzk-path {
            width: 300px;
        }

        #mzk-id3Label {
            margin-right:   5px;
            margin-top:     15px;
            vertical-align: text-bottom;
        }
    }
}

