&.mzk-modal-new-wish {
    .mzk-modal-content {
        p {
            margin:         0;
            padding-bottom: 25px;
        }
    }

    .mzk-modal-footer {
        button {
            cursor: pointer;
        }
    }
}
