&.mzk-modal-newlibrary {

  .mzk-modal-content {

    #infoLabel {
      margin-left: auto;
      margin-right: auto;
    }


    #name {
      height: 25px;
      width: 300px;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 1px;
      border: solid 1px #777;
    }

    #path {
      height: 25px;
      width: 300px;
      margin-bottom: 20px;
      text-align: center;
      border-radius: 1px;
      border: solid 1px #777;
    }

    #id3Label {
      vertical-align: text-bottom;
      margin-right: 5px;
    }

    #convert {
      margin: 0;
      margin-bottom: 20px;
    }
  }

  .mzk-modal-footer {

    #scanButton {
      width: 75px;
    }
  }
}
