&.mzk-modal-scanlibrary {
  cursor: not-allowed;

  .mzk-modal-content {
    img {
      width: 100px;
      height: 100px;
      margin: 16px 0;
    }
  }

  #footer {
    p {
      margin: 0;
      padding: 15px 0;
    }
  }
}
