&.mzk-modal-scan-library {
    cursor: not-allowed;

    .mzk-modal-content {
        img {
            height: 100px;
            margin: 16px 0;
            width:  100px;
        }
    }

    #footer {
        p {
            margin:  0;
            padding: 15px 0;
        }
    }
}
