.user-hub-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-evenly;

  div img {
    height: 50px;
  }

  .hub-entry {
    cursor: pointer;
    text-align: center;
  }

  .user-hub-logout {
    align-items: center;
    bottom: var(--mzk-margin-big);
    cursor: pointer;
    display: flex;
    position: absolute;
    right: var(--mzk-margin-big);

    h2 {
      padding-right: var(--mzk-padding-big);
    }
  }
}