.albumview {
  height: 100%;
  width: 100%;
  font-size: 0.9em;
  z-index: 600;

  .artist {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3.66em;
      line-height: 2em;
      color: var(--mzk-color-text-light);
    }

    .album {
      width: 90%;
      height: auto;
      display: grid;
      grid-template-columns: 50px 250px 1fr;
      grid-template-rows: 300px auto;

      img {
        width: 250px;
        height: 250px;
        margin: 25px;
        grid-column: 1 / span 2;
        grid-row: 1;
      }

      .hq-badge {
        grid-column: 1;
        grid-row: 2;
        justify-self: start;
        line-height: 2.8em;
        margin: 0 25px;
        text-align: left;
        width: 25px;
        height: auto;
      }

      .genre-badges {
        grid-column: 2;
        grid-row: 2;
        justify-self: end;
        line-height: 2.8em;
        margin: 0 25px;
        text-align: right;
        
        span {
          background: var(--mzk-color-text-light-alpha-10);
          padding: 7px;
          line-height: 1em;
          font-size: 1em;
          border-radius: 5px;
          margin: 3.5px;
          cursor: pointer;
          display: inline-block;
        }
      }

      .album-info {
        width: 100%;
        grid-column: 3;
        grid-row: 1 / span 2;

        h1 {
          font-size: 2em;
          line-height: 2em;
          padding-left: 25px;
          color: var(--mzk-color-text-light);
        }

        .tracks-container {
          display: grid;
          grid-gap: 8px 12px;
          padding: 25px;
          grid-template-columns: repeat(2, 1fr);
          grid-auto-flow: column;
          border-left: solid 1px var(--mzk-color-text-light-alpha-10);

          .track {
            max-width: 500px;
            user-select: none;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            height: calc(3 * 1.66em + var(--mzk-padding));
            padding: var(--mzk-padding-small) var(--mzk-padding);
            background: var(--mzk-color-text-light-alpha-10);
            position: relative;
            display: grid;
            grid-template-columns: 2fr 16fr;
            grid-template-rows: repeat(3, 1.6em);

            &::before {
              font-size: 1.66em;
              color: #333;
              letter-spacing: -2px;
              content: attr(data-before);
              position: absolute;
              top: 7px;
              text-shadow: #AAA 0 0 3px;
              left: 7px;
            }

            p {
              align-self: center;
              grid-column: 2;
              padding-left: var(--mzk-padding);

              @include text-ellipsis();
            }

            p:first-child {
              align-self: end;
              grid-column: 1;
              grid-row: 1 / span 3;
              font-weight: inherit;
              padding-left: 0;

              @include text-ellipsis();
            }

            p.track-title {
              font-weight: 800;
            }

            p.track-artist,
            p:last-child {
              font-weight: inherit;
              padding-left: var(--mzk-padding-big);
            }

            p.track-artist:before,
            p:last-child:before {
              content: attr(data-label);
              font-style: italic;
            }

            &.selected {
              background-color: var(--mzk-color-primary-alpha-50) !important; // Important to 'z-index' over playing bg-color
            }

            &.playing {
              background-color: var(--mzk-color-secondary-alpha-50);
              box-shadow: 0 0 var(--mzk-margin) rgba(255, 255, 255, 0.1);

              &::after {
                content: '';
                background: url(/static/img/player/play.svg);
                height: (3 * $listview-track-height) / 4;
                width: (3 * $listview-track-height) / 4;
                opacity: 0.5;
                top: 7px;
                position: absolute;
                right: 7px;
                z-index: 999;
              }
            }
          }
        }
      }
    }
  }
}
