$listview-margin: var(--mzk-margin);
$listview-padding: var(--mzk-padding);
$listview-icon: 30px;
$listview-track-height: 40px;

.listview {
  height: 100%;
  width: 100%;
  font-size: 0.9em;
  z-index: 600;

  #listview-resize-marker {
    width: 1px;
    height: calc(100% - 50px);
    top: 45px;
    position: absolute;
    z-index: 9999;
    background: lime;
  }

  .header {
    border-bottom: solid 1px black;
    box-sizing: border-box;
    display: grid;
    font-family: Helvetica, serif;
    font-weight: 800;
    grid-template-rows: 100%;
    height: $listview-track-height;
    line-height: $listview-track-height;
    overflow-x: hidden;
    user-select: none;
    width: 100%;
    z-index: 633;

    @include user-select(none);

    div {
      cursor: move;
      padding: 0 $listview-padding;
      position: relative;

      @include text-ellipsis();

      &.dragElem {
        opacity: 0.4;
        background: var(--mzk-color-anti-primary);
      }

      &.over {
        border-left: 2px solid var(--mzk-color-secondary);
      }

      .listview-resize-handle {
        border-right: solid 1px rgba(0, 0, 0, 0.05);
        width: 5px;
        height: 30px;
        cursor: ew-resize;
        position:absolute;
        right: 0;
        bottom: 5px;
        padding: 0;
        z-index: 999;

        transition: border 0.4s ease 0s;

        &.over {
          border-left: none;
        }
      }

      .listview-stretch-button {
        width: 15px;
        opacity: 0;
        height: 15px;
        cursor: pointer;
        position:absolute;
        right: 5px;
        bottom: 12.5px;
        padding: 0;
        z-index: 999;

        transition: opacity 0.4s ease 0s;

        &.over {
          border-left: none;
        }
      }


      &:hover {
        & .listview-stretch-button {
          opacity: 1;
        }
      }      
    }
  }

  &:hover {
    div .listview-resize-handle {
      border-right: solid 1px rgba(0, 0, 0, 0.4);
    }
  }

  .track-container {
    height: calc(100% - #{$listview-track-height});
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
    z-index: 633;

    .track {
      background: var(--mzk-color-bg-darker-alpha-25);
      box-sizing: border-box;
      cursor: pointer;
      display: grid;
      grid-template-rows: 100%;
      height: $listview-track-height;
      line-height: $listview-track-height;
      margin-bottom: 2px;
      user-select: none;
      z-index: 634;
      width: 100%;

      transition: all 0.15s ease-out;

      -webkit-user-select: none;
      -webkit-transition: all 0.15s ease-in;

      -moz-user-select: none;
      -moz-transition: all 0.15s ease-in;

      p {
        display: inline-block;
        margin: 0;
      }

      div {
        padding: 0 $listview-padding;

        @include text-ellipsis();
      }

      &:nth-child(2n) {
        background: var(--mzk-color-bg-dark-alpha-25);
      }

      &:last-child {
        margin-bottom: 0;
      }

      &.selected {
        background-color: var(--mzk-color-primary-alpha-50) !important; // Important to 'z-index' over playing bg-color
      }

      &.playing {
        background-color: var(--mzk-color-secondary-alpha-50);
        box-shadow: 0 0 var(--mzk-margin) rgba(255, 255, 255, 0.1);

        &::before {
          content: '';
          background: url(/static/img/player/play.svg);
          height: (3 * $listview-track-height) / 4;
          width: (3 * $listview-track-height) / 4;
          opacity: 0.5;
          margin-top: $listview-track-height / 8;
          position: absolute;
          left: $listview-track-height / 8;
          z-index: 999;
        }
      }
    }
  }
}
