.single-releaseArtist-page,
//.single-artist-page,
.single-producer-page,
.single-lang-page,
.single-label-page {
  height: 100%;
  overflow: hidden;
  width: 100%;

  .sp-artist-header {
    border-bottom: solid var(--mzk-border-width) var(--mzk-color-text-light-alpha-25);
    display: flex;
    height: 300px;
    padding: 0 5%;

    div {
      display: flex;
    }

    .artist-cover-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      width: 300px;

      img {
        width: 95%;
      }
    }

    .artist-info {
      flex-direction: column;
      justify-content: space-around;
      padding-left: var(--mzk-padding-huge);
      width: calc(100% - 300px);

      h1 {
        margin-bottom: var(--mzk-margin);
      }

      h2 {
        color: var(--mzk-color-text-darker);
      }

      h4 {
        padding-left: var(--mzk-padding-big);

        img {
          cursor: pointer;
          height: 1rem; /* Fit flag size to line height */
        }

        span {
          &:first-child {
            margin-left: 0;
          }
        }
      }

      p {
        padding-top: var(--mzk-padding);
      }

      .artist-main-info {
        flex-direction: column;
      }

      .artist-controls {
        flex-direction: row;
      }

      .artist-detailed-info {
        flex-direction: row;

        & > div {
          flex-direction: column;

          &.labels {
            text-align: right;
          }

          &.values {
            text-align: left;
          }
        }
      }

      button,
      span {
        margin: 0 var(--mzk-margin);

        &:last-child {
          padding: 0;
        }

        img {
          cursor: pointer;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  .sp-artist-albums {
    align-items: flex-start;
    border-bottom: solid var(--mzk-border-width) var(--mzk-color-text-light-alpha-25);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: .5rem;
    flex-wrap: wrap;
    height: calc(100% - 300px);
    overflow-x: hidden;
    overflow-y: auto;

    .sp-artist-album {
      align-items: center;
      background-color: transparent;
      border-radius: 0;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: var(--mzk-margin);
      padding: var(--mzk-padding);
      position: relative;
      text-align: center;
      width: 150px;

      @include box-shadow(0 0 0 0, transparent);

      transition: background-color var(--mzk-animation-duration) ease-out,
                  border-radius var(--mzk-animation-duration) ease,
                  box-shadow var(--mzk-animation-duration) ease-in;

      &:active,
      &:focus,
      &:hover {
        background-color: var(--mzk-color-primary-alpha-10);
        border-radius: var(--mzk-border-radius);

        @include box-shadow(0 0 10px 0, var(--mzk-color-primary));
      }

      img {
        background-color: var(--mzk-color-bg);
        border-radius: var(--mzk-border-radius);
        height: 120px;
        width: 120px;
      }

      p {
        font-size: .9rem;
        margin-top: 5px;
        padding: 3px;
        text-align: center;
      }
    }
  }
}

.single-artist-page {
  display: flex;
  height: 100%;
  overflow: hidden;
  width: 100%;

  .sa-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30%;

    .sa-pp-container {
      padding: var(--mzk-padding-big) 0;

      img {
        width: 85%;
      }
    }

    .sa-artist-info {
      padding: var(--mzk-padding-small);

      .sa-info-header {
        margin-bottom: var(--mzk-margin-big);
      }

      .sa-info-content {
        h4 {
          margin-bottom: var(--mzk-margin-small);
        }

        img {
          cursor: pointer;
          height: 1rem;
        }

        a {
          cursor: pointer;
          margin: 0 var(--mzk-margin-small);

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .sa-right {
    width: 70%;

    h3 {
      margin: var(--mzk-margin-big) var(--mzk-margin) var(--mzk-margin);
      font-style: italic;
    }

    .sa-artist-albums {
      display: flex;
      height: 33%;
      flex-wrap: wrap;
      overflow: auto;

      .sa-album {
        align-items: center;
        background-color: transparent;
        border-radius: 0;
        box-shadow: 0 0 0 0 transparent;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        height: max-content;
        margin: var(--mzk-margin);
        padding: var(--mzk-padding);
        position: relative;
        text-align: center;
        width: 150px;

        transition: background-color var(--mzk-animation-duration) ease-out,
                    border-radius var(--mzk-animation-duration) ease,
                    box-shadow var(--mzk-animation-duration) ease-in;

        &:active,
        &:focus,
        &:hover {
          background-color: var(--mzk-color-primary-alpha-10);
          border-radius: var(--mzk-border-radius);
          box-shadow: 0 0 10px -2px var(--mzk-color-primary);
        }

        img {
          background-color: var(--mzk-color-bg);
          border-radius: var(--mzk-border-radius);
          height: 120px;
          width: 120px;
        }

        p {
          font-size: .9rem;
          margin-top: 5px;
          text-align: center;

          @include clamp-line(2);
        }
      }
    }
  }
}

.single-album-page {
  display: flex;
  height: 100%;
  width: 100%;

  .album-header {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 2.5%;
    width: 35%;

    div {
      display: flex;
    }

    .album-cover-container {
      align-items: center;
      flex-direction: column;
      justify-content: space-evenly;
      margin: var(--mzk-margin-big) 0;
      width: 100%;

      img {
        max-width: 400px;
        width: 95%;
      }
    }

    .album-info {
      flex-direction: column;
      justify-content: space-around;

      h1 {
        margin-bottom: var(--mzk-margin);
        text-align: center;
      }

      h2 {
        color: var(--mzk-color-text-darker);
        text-align: center;
      }

      h4 {
        padding: var(--mzk-padding-tiny) 0;
        text-align: center;

        img {
          cursor: pointer;
          height: 1.125rem;
        }
      }

      p {
        padding-top: var(--mzk-padding);
      }

      .album-artist {
        color: var(--mzk-color-text-darker);
        cursor: pointer;

        transition: color var(--mzk-animation-duration) ease;

        &:active,
        &:focus,
        &:hover {
          color: var(--mzk-color-primary);
        }
      }

      .album-genres {
        a {
          color: white;
          cursor: pointer;
          padding: 0 var(--mzk-padding-small);

          transition: color var(--mzk-animation-duration) ease;

          &:active,
          &:focus,
          &:hover {
            color: var(--mzk-color-primary);
          }

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }
        }
      }

      .album-main-info {
        flex-direction: column;

        .album-year-label span {
          cursor: pointer;
          font-style: italic;
          margin: 0;

          transition: background-color var(--mzk-animation-duration) ease-out,
                      border-radius var(--mzk-animation-duration) ease,
                      box-shadow var(--mzk-animation-duration) ease-in;

          &:active,
          &:focus,
          &:hover {
            color: var(--mzk-color-primary);
          }
        }
      }

      .album-controls {
        flex-direction: row;
        justify-content: center;
      }

      .album-detailed-info {
        flex-direction: column;
        margin: var(--mzk-margin-big) 0;

        & > div {
          flex-direction: column;

          &.labels {
            text-align: right;
          }

          &.values {
            text-align: left;
          }
        }
      }

      button,
      span {
        margin: 0 var(--mzk-margin);

        &:last-child {
          padding: 0;
        }

        img {
          cursor: pointer;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  .album-tracks {
    display: block;
    height: 100%;
    overflow: hidden;
    padding-right: 2.5%;
    width: 65%;

    div.track {
      background: var(--mzk-color-bg-darker-alpha-25);
      cursor: pointer;
      display: grid;
      grid-template-columns: 50px 1fr 100px;
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      margin: var(--mzk-margin-small) var(--mzk-margin) var(--mzk-margin-small) 0;
      user-select: none;

      transition: background-color var(--mzk-animation-duration) ease-in;

      &:nth-child(2n) {
        background: var(--mzk-color-bg-dark-alpha-25);
      }

      &.selected {
        background-color: var(--mzk-color-primary-alpha-50) !important; // Important to 'z-index' over playing bg-color
      }

      &.playing {
        background-color: var(--mzk-color-secondary-alpha-50);
        box-shadow: 0 0 var(--mzk-margin) rgba(255, 255, 255, 0.1);

        &::before {
          content: '';
          background: url(/static/img/player/play.svg);
          height: (3 * 35px) / 4;
          width: (3 * 35px) / 4;
          opacity: 0.5;
          margin-top: 35px / 8;
          position: absolute;
          right: 100px;
          z-index: 998;
        }
      }

      p {
        margin: 6px 0 3px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-child {
          text-align: center;
        }
      }
    }
  }
}

.single-genre-page {
  height: 100%;
  width: 100%;

  .album-header {
    border-bottom: solid var(--mzk-border-width) var(--mzk-color-text-light-alpha-25);
    display: flex;
    height: 300px;
    padding: 0 5%;

    div {
      display: flex;
    }

    .album-cover-container {
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      width: 300px;

      img {
        width: 95%;
      }
    }

    .album-info {
      flex-direction: column;
      justify-content: space-around;
      padding-left: var(--mzk-padding-huge);
      width: calc(100% - 300px);

      h1 {
        margin-bottom: var(--mzk-margin);
      }

      h2 {
        color: var(--mzk-color-text-darker);
      }

      h4 {
        padding-left: var(--mzk-padding-big);
      }

      p {
        padding-top: var(--mzk-padding);
      }

      .album-main-info {
        flex-direction: column;
      }

      .album-controls {
        flex-direction: row;
      }

      .album-detailed-info {
        flex-direction: row;

        & > div {
          flex-direction: column;

          &.labels {
            text-align: right;
          }

          &.values {
            text-align: left;
          }
        }
      }

      button,
      span {
        margin: 0 var(--mzk-margin);

        &:last-child {
          padding: 0;
        }

        img {
          cursor: pointer;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  .album-tracks {
    display: block;
    height: calc(100% - 300px);
    overflow: hidden;

    div.track {
      background: var(--mzk-color-bg-darker-alpha-25);
      cursor: pointer;
      display: flex;
      height: 35px;
      align-items: center;
      margin: var(--mzk-margin-small) 5%;
      user-select: none;

      &:nth-child(2n) {
        background: var(--mzk-color-bg-dark-alpha-25);
      }

      &.selected {
        background-color: var(--mzk-color-primary-alpha-50) !important; // Important to 'z-index' over playing bg-color
      }

      &.playing {
        background-color: var(--mzk-color-secondary-alpha-50);
        box-shadow: 0 0 var(--mzk-margin) rgba(255, 255, 255, 0.1);

        &::before {
          content: '';
          background: url(/static/img/player/play.svg);
          height: (3 * 35px) / 4;
          width: (3 * 35px) / 4;
          opacity: 0.5;
          margin-top: 35px / 8;
          position: absolute;
          right: 100px;
          z-index: 998;
        }
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 150px);

        &:first-child {
          margin-left: var(--mzk-margin);
        }

        &:last-child {
          text-align: right;
          margin-right: var(--mzk-margin);
          width: 100px;
        }
      }
    }
  }
}

.single-country-page {
  display: flex;
  height: 100%;
  width: 100%;

  .sp-country-header {
    height: 100%;
    padding: var(--mzk-padding);
    text-align: center;
    width: 25%;

    .sp-country-flag-container {
      display: flex;
      justify-content: center;

      img {
        width: 90%;
      }
    }
  }

  .sp-country-artists {
    height: 100%;
    padding: var(--mzk-padding);
    width: 75%;

    .artist {
      display: flex;
      height: 16rem;
      width: 100%;

      .artist-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 16rem;

        img {
          height: 12rem;
        }

        h3 {
          margin: var(--mzk-margin) 0;
        }
      }

      .artist-albums {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
        grid-gap: .5rem;
        padding: var(--mzk-padding);
        width: calc(100% - 16rem);

        .album {
          align-items: center;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;

          transition: background-color var(--mzk-animation-duration) ease-out,
                      border-radius var(--mzk-animation-duration) ease,
                      box-shadow var(--mzk-animation-duration) ease-in;

          &:active,
          &:focus,
          &:hover {
            background-color: var(--mzk-color-primary-alpha-10);
            border-radius: var(--mzk-border-radius);
            box-shadow: 0 0 10px -2px var(--mzk-color-primary);
          }

          img {
            height: 6rem;
          }
        }
      }
    }
  }
}