<div th:fragment="albumPictureDisplay (cover, size)" xmlns:th="http://www.thymeleaf.org" id="album-picture" class="album-picture">
  <div th:if="*{cover != null}">
    <!-- If the size is null using the original size -->
    <div th:if="*{size == null}">
      <img alt="album-cover" class="album-cover" loading="lazy" th:src="'/resources/covers/orig/' + *{cover} + '.jpg'">
    </div>
    <div th:if="*{size != null}">
      <img alt="album-cover" class="album-cover" loading="lazy" th:src="'/resources/covers/' + *{size} + '/' + *{cover} + '.jpg'">
    </div>
  </div>
  <div th:if="*{cover == null}">
    <img alt="album-cover" class="album-cover" loading="lazy" th:src="'static/img/object/album.svg'">
  </div>
</div>
