<div th:fragment="albumPictureDisplay (cover, size)" xmlns:th="http://www.thymeleaf.org">
    <div th:if="*{cover != null}">
        <!-- If the size is null using the original size -->
        <div th:if="*{size == null}">
            <img alt="artist-pp" class="artist-pp" th:src="'/resources/covers/orig/' + *{cover} + '.jpg'">
        </div>
        <div th:if="*{size != null}">
            <img alt="artist-pp" class="artist-pp"
                 th:src="'/resources/covers/' + *{size} + '/' + *{cover} + '.jpg'">
        </div>
    </div>
    <div th:if="*{cover == null}">
        <p>The image of the album wasn't found, please contact the administrator.</p>
    </div>
</div>