<div th:fragment="displayMinimalAlbums(albums, size)" class="albums-in-row" xmlns:th="http://www.thymeleaf.org">
  <div id="released-albums" class="items-container">
    <div th:each="album : ${albums}" th:attr="data-id=*{album.albumId}" class="item">
      <h3><span class="ep-sp"></span><span th:text="*{album.releaseYear}"></span></h3>
      <div th:replace="~{/include/album/albumPictureFragment.html :: albumPictureDisplay (*{album.cover}, 'medium')}"></div>
      <h2 th:text="*{album.title}"></h2>
    </div>
  </div>
</div>
