$controls-icon-width: 30px;
$controls-height:     60px;
$progress-height:     $footbar-height - $controls-height;

.mzk-controls {
    align-items:     center;
    display:         flex;
    min-height:      $controls-height;
    justify-content: center;
    width:           100%;

    a {
        cursor:         pointer;
        flex:           0 1 (1.2 * $controls-icon-width);
        display:        flex;
        flex-direction: column;
        align-items:    center;
    }

    img {
        border-radius: 50%;
        max-height:    1.2 * $controls-icon-width;
        max-width:     1.0 * $controls-icon-width;
        margin-left:   0.1 * $controls-icon-width;
        margin-right:  0.1 * $controls-icon-width;
    }

    .mzk-queue-expander {
        cursor:     pointer;
        min-height: $controls-icon-width;
        position:   absolute;
        right:      0;

        &:hover .mzk-queue-preview {
            @extend .mzk-visible;
        }
    }
}

@import './progressbar';
@import './volumebar';
