$controls-height: 50px;
$progress-height: $footbar-height - $controls-height;

.mzk-controls-container {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 40%;
    -webkit-user-select: none;
    -moz-user-select: none;

    .mzk-controls {
        height: $controls-height;
        width: 100%;
        -webkit-user-select: none;
        -moz-user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 30px;
            margin-left: 3px;
            margin-right: 3px;
            width: 30px;
        }

        a {
            cursor: pointer;
            height: 30px;
        }

        .mzk-queue-expander {
            cursor: pointer;
            height: 30px;
            position: absolute;
            right: 0;

            &:hover .mzk-queue-preview {
                @extend .mzk-visible;
            }
        }
    }

    @import './progressbar';
    @import './volumebar';
}