.mzk-playlist-review {
    align-items:     center;
    box-sizing:      border-box;
    display:         flex;
    float:           right;
    height:          100%;
    justify-content: end;
    opacity:         0;
    padding-right:   $footbar-padding;
    position:        relative;
    text-align:      right;
    width:           $footbar-info-width;

    img {
        cursor: pointer;
        height: $footbar-height;
        width:  $footbar-height;
    }

    ul {
        display:        inline-block;
        font-size:      0.8em;
        list-style:     none;
        margin:         0;
        padding-right:  0;
    }

    li {
        padding: 1px 0;
    }
}
