.mzk-playlist-review {
    align-items:     center;
    box-sizing:      border-box;
    display:         flex;
    float:           right;
    height:          100%;
    justify-content: flex-end;
    opacity:         0;
    padding-right:   $footbar-padding;
    text-align:      right;
    width:           $footbar-info-width;

    ul {
        display:        inline-block;
        font-size:      $footbar-font-size;
        list-style:     none;
        margin:         0;
    }
}
