.mzk-progress-bar-wrapper {
    align-items:     baseline;
    display:         flex;
    height:          $progress-height;
    justify-content: center;

    .mzk-current-duration,
    .mzk-total-duration {
        font-size: 0.7em;
    }

    .mzk-progress-bar {
        background-color: $mzk-text;
        border:           solid 1px $mzk-bg-darker;
        border-radius:    $mzk-border-radius;
        cursor:           pointer;
        display:          inline-block;
        height:           3px;
        margin:           0 $mzk-margin;
        position:         relative;
        width:            85%;

        &:hover > .mzk-progress-timecode-hover {
            @extend .mzk-visible;
        }

        .mzk-progress-lin {
            background-color: $mzk-accent-color;
            border-radius:    $mzk-border-radius;
            height:           100%;
            transition:       background-color 0.15s ease;
            width:            0;
        }

        .mzk-progress-thumb {
            background-color: $mzk-text;
            border:           solid 1px $mzk-bg-darker;
            border-radius:    $mzk-border-radius * 2;
            height:           10px;
            left:             -6px;
            margin-left:      0;
            position:         absolute;
            top:              -4px;
            transition:       opacity 0.15s ease;
            opacity:          0;
            width:            10px;
        }

        .mzk-progress-timecode-hover {
            @extend .mzk-hidden;
            background-color: $mzk-text;
            border:           solid 1px $mzk-bg-darker;
            border-radius:    3px;
            bottom:           10px;
            box-sizing:       border-box;
            color:            $mzk-bg-darker;
            font-size:        0.7em;
            height:           20px;
            left:             0;
            line-height:      20px;
            pointer-events:   none; /* Disable hover effect from parent */
            position:         absolute;
            text-align:       center;
            width:            60px;
            z-index:          2;
        }
    }

    .mzk-progress-bar:hover > .mzk-progress-lin {
        background-color: $mzk-anti-accent-color;
    }

    .mzk-progress-bar:hover > .mzk-progress-thumb {
        opacity: 1;
    }
}
