/*      --------        ProgressBar style       --------        */
#progressBar {
    background-color: $primary-text;
    border: solid 1px $dark-secondary-color;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    height: 4px;
    margin: 0 10px;
    position: relative;
    width: 85%;

    &:hover > #progressTimecodeHover {
        @extend .mzk-visible;
    }

    #progress {
        background-color: $accent-color;
        border-radius: 4px;
        height: 100%;
        transition: background-color 0.15s ease;
        width: 0;
    }

    #progressThumb {
        background-color: $white;
        border: solid 1px $dark-secondary-color;
        border-radius: 5px;
        height: 10px;
        left: -6px;
        margin-left: 0;
        position: absolute;
        top: -4px;
        transition: opacity 0.15s ease;
        opacity: 0;
        width: 10px;
    }
}

#moodbar #moodbarThumb {
    @extend .mzk-hidden;
    background-color: $white;
    border: solid 1px $dark-secondary-color;
    border-radius: 1px;
    box-sizing: border-box;
    height: 16px;
    left: -5px;
    margin-left: 0;
    position: absolute;
    top: 0;
    width: 5px;
}

#progressTimecodeHover {
    @extend .mzk-hidden;
    background-color: $primary-text;
    border: solid 1px $dark-secondary-color;
    border-radius: 3px;
    bottom: 10px;
    box-sizing: border-box;
    color: $dark-secondary-color;
    font-size: 0.7em;
    height: 20px;
    left: 0;
    line-height: 20px;
    pointer-events: none; /* Disable hover effect from parent */
    position: absolute;
    text-align: center;
    width: 60px;
    z-index: 2;
}

#progressBar:hover > #progress {
    background-color: $anti-accent-color;
}

#progressBar:hover > #progressThumb {
    opacity: 1;
}
