.mzk-track-preview {
    box-sizing: border-box;
    float: left;
    height: 100%;
    opacity: 0;
    padding-left: $footbar-padding;
    width: 30%;
    display: flex;
    align-items: center;


    img {
        cursor: pointer;
        height: 80px;
        width: 80px;
        background-color: $secondary-color;
    }

    ul {
        list-style: none;
        font-size: 0.8em;
        margin: 0;
        padding-left: 20px;
        vertical-align: 66%;

        li {
            padding: 1px 0;
        }
    }


    div {
        height: 100%;

        span {
            @extend .mzk-hidden;
            background-color: rgba(0, 0, 0, 1);
            border-radius: 3px;
            bottom: 85px;
            height: 500px;
            left: $footbar-padding;
            position: absolute;
            text-align: center;
            width: 500px;
            z-index: 1;

            img {
                background-color: $secondary-color;
                border-radius: 3px;
                box-sizing: border-box;
                height: 500px !important;
                width: 500px !important;
            }
        }

        span::after {
            border: solid 5px;
            border-color: $secondary-color transparent transparent transparent;
            content: "";
            left: 32px;
            position: absolute;
            top: 100%;
        }

    }

    div:hover span {
        @extend .mzk-visible;
    }
}