$mzk-track-preview-arrow-width: 5px;
$mzk-track-preview-cover:       600px;
$mzk-track-preview-max:         70vh;

.mzk-track-preview {
    align-items:  center;
    box-sizing:   border-box;
    display:      flex;
    float:        left;
    height:       100%;
    opacity:      0;
    padding-left: $footbar-padding;
    width:        $footbar-info-width;

    ul {
        font-size:      $footbar-font-size;
        list-style:     none;
        margin:         0;
        padding-left:   $footbar-padding;
    }

    div {
        cursor: pointer;
        height: 100%;

        img {
            height:           $footbar-height;
            width:            $footbar-height;
        }

        span {
            @extend .mzk-hidden;
            background-color: $mzk-bg-strong;
            border:           solid $mzk-border-width $mzk-border-color;
            border-radius:    $mzk-border-radius * 2;
            bottom:           $footbar-height + $mzk-track-preview-arrow-width;
            height:           $mzk-track-preview-cover;
            left:             $footbar-padding;
            max-height:       calc(#{$mzk-track-preview-max} - #{$footbar-height});
            max-width:        calc(#{$mzk-track-preview-max} - #{$footbar-height});
            position:         absolute;
            pointer-events:   none;
            width:            $mzk-track-preview-cover;
            z-index:          1;

            img {
                border-radius:    $mzk-border-radius * 2;
                box-sizing:       border-box;
                height:           100% !important;
                width:            100% !important;
            }
        }

        span::after {
            border:       solid $mzk-track-preview-arrow-width;
            border-color: $mzk-border-color transparent transparent transparent;
            content:      "";
            left:         ($footbar-height / 2) - ($mzk-track-preview-arrow-width / 2);
            position:     absolute;
            top:          100%;
        }

    }

    div:hover span {
        @extend .mzk-visible;
    }
}