.footbar {
  --moodbar-max-size: 1000px;

  display: flex;
  bottom: 0;
  height: var(--mzk-footbar-height);
  left: 0;
  position: absolute;
  right: 0;
  width: calc(100% - var(--mzk-aside-width));

  @include transition(width var(--mzk-animation-duration) ease-in-out);

  .footbar-controls {
    background: var(--mzk-color-bg);
    display: flex;
    height: var(--mzk-footbar-height);
    justify-content: center;
    width: 100%;
    z-index: 700;

    .left,
    .right {
      align-items: flex-end;
      display: flex;
      height: var(--mzk-footbar-controls-height) + var(--mzk-footbar-progress-height);
      width: var(--mzk-footbar-sides-width);

      p {
        height: var(--mzk-footbar-moodbar-height);
        line-height: var(--mzk-footbar-moodbar-height);
        opacity: 0;

        @include transition(opacity var(--mzk-footbar-transition) linear);
      }
    }

    .left {
      justify-content: flex-end;

      p {
        margin-right: var(--mzk-margin);
      }
    }

    .center {
      height: 100%;
      max-width: var(--moodbar-max-size);
      width: calc(100% - (var(--mzk-footbar-sides-width) * 2));

      .controls-container {
        align-items: center;
        display: flex;
        height: var(--mzk-footbar-controls-height);
        justify-content: center;
        width: 100%;
        position: relative;

        img {
          cursor: pointer;
          height: 100%;
          margin: 0 var(--mzk-footbar-controls-margin);

          @include user-select(none);

          .repeat {
            left: 0;
            position: absolute;
          }

          .shuffle {
            left: calc(var(--mzk-footbar-icons-size) + var(--mzk-footbar-controls-margin));
            position: absolute;
          }
        }

        .image-wrapper {
          cursor: pointer;
          height: 50%;

          &::before {
            content: attr(data-before); // To be retrieved in Js
            border-radius: 50%;
            color: var(--mzk-color-primary);
            font-size: .9em;
            height: 13px;
            position:absolute;
            right: -10px;
            top: 5px;
            text-align: center;
            text-shadow: #000 1px 0 5px;
            width: 13px;
          }

          &.shuffle {
            left: calc(var(--mzk-footbar-icons-size) + 2 * var(--mzk-footbar-controls-margin));
            position: absolute;
          }

          &.repeat {
            left: 0;
            position: absolute;
          }

          &.speedometer {
            position: absolute;
            right: calc(var(--mzk-footbar-icons-size) + var(--mzk-footbar-controls-margin));
            width: var(--mzk-footbar-icons-size);

            img {
              height: 100% !important;
            }
          }

          &.queue {
            height: var(--mzk-footbar-controls-scale);
            margin: 0 var(--mzk-footbar-controls-margin);
            position: absolute;
            right: 0;
            width: var(--mzk-footbar-icons-size);

            img {
              height: 100% !important;
            }
          }
        }

        @import 'volumebar'; // Loading volumebar rules
      }

      @import 'progressbar'; // Loading progressbar rules
    }

    .right {
      p {
        margin-left: var(--mzk-margin);
      }
    }
  }
}

@import 'playbackratebar';
