/* Parent element is in context subfolder */
.playback-rate-container {
  @include bar-container();

  .playback-rate-current {
    width: 50%;

    @include bar-current();
  }

  .playback-rate-thumb {
    left: 50%;
    z-index: 999; // Since playback rate bar is in a context high in z-index

    @include bar-thumb();
  }

  &:hover > .playback-rate-current {
    background-color: var(--mzk-color-secondary);
  }

  &:hover > .playback-rate-thumb {
    opacity: 1;
  }
}