#volumebar-wrapper {
  height: 100%;
  text-align: center;
  width: var(--mzk-footbar-volumebar-width);
  display: flex;
  position: absolute;
  right: calc((2 * var(--mzk-footbar-icons-size)) + (2 * var(--mzk-footbar-controls-margin)));
  align-items: center;

  div.image-wrapper {
    cursor: pointer;
    height: 50%;
  }

  #volumebar-container {
    background-color: var(--mzk-color-icons);
    border-radius: 4px;
    cursor: pointer;
    pointer-events: initial;
    position: relative;
    width: 75%;
    height: 6px;
    margin-left: auto;
    margin-right: auto;

    #volumebar-current {
      background-color: var(--mzk-color-primary);
      border-radius: var(--mzk-border-radius) 0 0 var(--mzk-border-radius);
      border-right: solid var(--mzk-border-width) var(--mzk-color-secondary-darker);
      bottom: 0;
      height: 100%;
      position: absolute;
      transition: background-color 0.15s ease;
      width: 100%;
    }

    #volumebar-current.full {
      border-radius: var(--mzk-border-radius);
    }

    #volumebar-thumb {
      background-color: var(--mzk-color-text-lighter);
      border-radius: 50%;
      bottom: 0;
      height: 12px;
      margin-left: -6px;
      left: 100%;
      margin-bottom: -3px;
      opacity: 0;
      position: absolute;
      transition: opacity 0.15s ease;
      width: 12px;
    }

    &:hover > #volumebar-current {
      background-color: var(--mzk-color-secondary);
    }
    &:hover > #volumebar-thumb {
      opacity: 1;
    }
  }
}