
$listView-padding: 0 5%;


@media (min-width: 1281px) and (max-width: 1600px) { // Bellow 1280 width, UI not handled (yet)
    #listView, .columnHeader {
        font-size: 0.8em !important;
        padding: 0 20px !important;
    }

    .col-title {
        width: 17% !important;
    }

    .col-artist {
        width: 17% !important;
    }

    .col-composer {
        width: 17% !important;
    }

    .col-album {
        width: 17% !important;
    }

    .col-genre {
        width: 15% !important;
    }

    .col-year {
        text-align: center !important;
    }
}

/* listview */
#listView {
    box-sizing: border-box;
    max-height: calc(100% - 35px);
    overflow-y: auto;
    padding: $listView-padding;
    width: 100%;
    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
}

.columnHeader {
    border-bottom: solid 1px $dark-primary-color;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.9em;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    padding: $listView-padding;
    width: 100%;
    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
}

.trackContainer {
    cursor: pointer;
    font-size: 0.8em;
    height: 1.3em;
    line-height: 1.46em;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100%;

    &.mzk-selected {
        background-color: $secondary-color;
    }
}


[class*='col-'] {
    box-sizing: border-box;
    display: inline-block;
    float: left;
    min-height: 1px;
    overflow: hidden;
    padding-left: 8px;
    padding-right: 8px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.col-duration {
    text-align: right;
    width: 5%;
}

.col-title {
    width: 22%;
}

.col-artist {
    width: 16%;
}

.col-composer {
    width: 18.5%;
}
/*
.col-performer { // Tod Add In Another ListView Type
    width: 16%;
}
*/
.col-album {
    width: 19%;
}

.col-genre {
    width: 11%;
}

.col-bitRate {
    text-align: right;
    width: 5%;
}

.col-year {
    width: 3.5%;
}

// Must be applied when a vertical scrollBar is active
.columnHeaderOffset {
    width: calc(100% - 20px) !important;
}


.evenLin {
    background-color: $listview-even-lin;
}
