//---------------//
// Global Colors //
//---------------//
$mzk-color-primary: #56D45B;
$mzk-color-anti-primary: #FF6B67;
$mzk-color-secondary: #48ABAF;
$mzk-color-anti-secondary: #FFAD67;

$mzk-color-primary-lighter: #AFF2B3;
$mzk-color-primary-light: #7DE484;
$mzk-color-primary-dark: #37C340;
$mzk-color-primary-darker: #12B31D;

$mzk-color-primary-alpha-50: rgba(86, 212, 91, 0.5);

$mzk-color-anti-primary-lighter: #FFBAB8;
$mzk-color-anti-primary-light: #FF8F8C;
$mzk-color-anti-primary-dark: #F74B46;
$mzk-color-anti-primary-darker: #E31C17;

$mzk-color-secondary-lighter: #A8E4E7;
$mzk-color-secondary-light: #71C9CD;
$mzk-color-secondary-dark: #2B9196;
$mzk-color-secondary-darker: #0F8489;

$mzk-color-secondary-alpha-50: rgba(72, 171, 175, 0.5);

$mzk-color-anti-primary-lighter: #FFD9B8;
$mzk-color-anti-primary-light: #FFC18C;
$mzk-color-anti-primary-dark: #F79846;
$mzk-color-anti-primary-darker: #E37517;

//--------------------//
// Global Backgrounds //
//--------------------//
$mzk-color-bg: #1D1E25;
$mzk-color-bg-lighter: #3C405D;
$mzk-color-bg-light: #21252B;
$mzk-color-bg-dark: #0F1015;
$mzk-color-bg-darker: #060609;

//------------//
// Main texts //
//------------//
$mzk-color-text: #E7E9E7;
$mzk-color-text-icons: #AAAABE;

$mzk-color-text-lighter: #FFFFFF;
$mzk-color-text-light: #F3F3F3;
$mzk-color-text-dark: #D4D4D4;
$mzk-color-text-darker: #CCCCCC;