*, *:before, *:after { box-sizing: border-box; margin: 0; }

html, body {
  color: var(--mzk-color-text);
  font-family: SegoeUI, Helvetica, serif;
  font-size: var(--mzk-font-size);
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;

  background-image: linear-gradient(rgb(60, 64, 93), rgb(6, 6, 9) 85%);
  position: absolute;
}

a {
  color: var(--mzk-color-text);
  text-decoration: none;

  transition: color var(--mzk-animation-duration);

  &:active,
  &:focus,
  &:hover {
    color: var(--mzk-color-primary);
  }
}

p.italic {
  font-style: italic;
}


input[type=text],
input[type=password] {
  background: transparent;
  border: 0;
  border-bottom: solid var(--mzk-border-width) var(--mzk-color-icons);
  color: var(--mzk-color-icons);
  padding: var(--mzk-padding-small);
  text-align: center;
  transition: var(--mzk-animation-duration);

  &:active,
  &:focus {
    color: var(--mzk-color-text-light);
  }

  &:active,
  &:focus,
  &:hover {
    border-bottom: solid var(--mzk-border-width) var(--mzk-color-text-light);
  }
}

button {
  background: transparent;
  margin: var(--mzk-margin-big) var(--mzk-margin);
  padding: var(--mzk-padding) var(--mzk-padding-big);
  color: var(--mzk-color-icons);
  border-radius: var(--mzk-border-radius);
  border: solid var(--mzk-border-width) var(--mzk-color-icons);
  cursor: pointer;

  transition: var(--mzk-animation-duration);

  &:active,
  &:focus,
  &:hover {
    border: solid var(--mzk-border-width) var(--mzk-color-text-light);
    box-shadow: 0 0 1px var(--mzk-color-text-light);
    color: var(--mzk-color-text-light);
  }
}

textarea {
  background: transparent;
  border: solid var(--mzk-border-width) var(--mzk-color-icons);
  border-radius: var(--mzk-border-radius);
  box-sizing: border-box;
  color: var(--mzk-color-icons);
  padding: var(--mzk-padding-small);
  resize: none;
  transition: var(--mzk-animation-duration) ease;

  &:active,
  &:focus,
  &:hover {
    border: solid var(--mzk-border-width) var(--mzk-color-text-light);
    box-shadow: 0 0 1px var(--mzk-color-text-light);
    color: var(--mzk-color-text-light);
  }
}

/* Custom checkbox from https://codepen.io/zFunx/pen/dWbevd */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: pointer;
  display: block;
  margin: 7px;
  padding: 0;

  &:before {
    content: '\2714';
    border: 0.1em solid #000;
    border-radius: 0.2em;
    color: transparent;
    display: inline-block;
    height: 1em;
    line-height: 1em;
    margin-right: 7px;
    vertical-align: top;
    width: 1em;

    transition: var(--mzk-animation-duration);
  }

  &:active:before {
    transform: scale(0);
  }
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: var(--mzk-border-color);
}

input[type=checkbox]:checked + label:before {
  background-color: var(--mzk-color-primary);
  border-color: var(--mzk-color-primary);
  color: var(--mzk-color-text-negative);
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: var(--mzk-color-primary);
  border-color: var(--mzk-color-primary);
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -webkit-user-drag: element;
}
