*, *:before, *:after { box-sizing: border-box; margin: 0; }

html, body {
  color: $mzk-color-text-light;
  font-family: SegoeUI, Helvetica, serif;
  font-size:   $mzk-font-size;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

input[type=text],
input[type=password] {
    background:    transparent;
    border:        0;
    border-bottom: solid $mzk-border-width $mzk-color-text-icons;
    color:         $mzk-color-text-icons;
    padding:       $mzk-padding / 2;
    text-align:    center;
    transition:    $mzk-animation-duration;

    &:active,
    &:focus {
        color: $mzk-color-text-light;
    }

    &:active,
    &:focus,
    &:hover {
        border-bottom: solid 1px $mzk-color-text-light;
    }
}

button {
    background:    transparent;
    margin:        25px 10px;
    padding:       10px 25px;
    color:         $mzk-color-text-icons;
    border-radius: 6px;
    border:        solid 1px $mzk-color-text-icons;
    cursor:        pointer;
    transition:    $mzk-animation-duration;

    &:active,
    &:focus,
    &:hover {
        border:     solid 1px $mzk-color-text-light;
        box-shadow: 0 0 1px $mzk-color-text-light;
        color:      $mzk-color-text-light;
    }
}

textarea {
    background:    transparent;
    border:        solid 1px $mzk-color-text-icons;
    border-radius: $mzk-border-radius;
    box-sizing:    border-box;
    color:         $mzk-color-text-icons;
    padding:       $mzk-padding / 2;
    resize:        none;
    transition:    0.2s ease;

    &:active,
    &:focus,
    &:hover {
        border:     solid 1px $mzk-color-text-light;
        box-shadow: 0 0 1px $mzk-color-text-light;
        color:      $mzk-color-text-light;
    }
}

/* Checkbox from https://codepen.io/zFunx/pen/dWbevd */
input[type=checkbox] {
  display: none;
}

input[type=checkbox] + label {
  cursor: pointer;
  display: block;
  margin: 7px;
  padding: 0;

  &:before {
    border: 0.1em solid #000;
    border-radius: 0.2em;
    color: transparent;
    content: "\2714";
    display: inline-block;
    height: 1em;
    line-height: 1em;
    margin-right: 7px;
    transition: .2s;
    vertical-align: top;
    width: 1em;
  }

  &:active:before {
    transform: scale(0);
  }
}

input[type=checkbox]:disabled + label:before {
  transform: scale(1);
  border-color: #aaa;
}

input[type=checkbox]:checked + label:before {
  background-color: $mzk-color-primary;
  border-color: $mzk-color-primary;
  color: black;
}

input[type=checkbox]:checked:disabled + label:before {
  transform: scale(1);
  background-color: $mzk-color-primary;
  border-color: $mzk-color-primary;
}

p.italic {
  font-style: italic;
}

[draggable] {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -webkit-user-drag: element;
}
