@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@-moz-keyframes fadein {
  /* Firefox < 16 */
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadein {
  /* Chrome > 12.1 */
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes listview-loading-spin {
  to { transform: rotate(360deg); }
}

@keyframes spin {
  // Topbar spinner
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes rotate-plane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

/* PartyView background animation keyframes */
@keyframes pv-wind {
  100% { transform: translateX(80px); }
}

@keyframes pv-wind-reverse {
  100% { transform: translateX(-133px); }
}

@keyframes pv-rise {
  0% { transform: translateY(1000px); }
}

@keyframes pv-rise-blur {
  0% { transform: translateY(1000px) translateZ(0px); }
}

@keyframes pv-rise-closeup {
  0% { transform: translateY(1000px) translateZ(10px); }
}
