@mixin transition($transition) {
    -webkit-transition: $transition;
    -moz-transition:    $transition;
    -o-transition:      $transition;
    transition:         $transition;
}

@mixin user-select($value) {
    -webkit-user-select: $value;
    -moz-user-select:    $value;
    -ms-user-select:     $value;
    -o-user-select:      $value;
    user-select:         $value;
}

@mixin box-shadow($shadow, $r, $g, $b, $a) {
    -webkit-box-shadow: $shadow rgba($r, $g, $b, $a);
    -moz-box-shadow:    $shadow rgba($r, $g, $b, $a);
    -o-box-shadow:      $shadow rgba($r, $g, $b, $a);
    box-shadow:         $shadow rgba($r, $g, $b, $a);
}

@mixin tooltip-animation($duration) {
    transition:         opacity           $duration ease-in-out,
                        visibility        $duration ease-in-out,
                        transform         $duration cubic-bezier(0.71, 1.7, 0.77, 1.24);

    transform:         translate3d(0, 0, 0);
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/*
@keyframes text-moving {
    0% {
        opacity:   0;
        transform: translateX(-200%);
    }

    2% {
        opacity:   1;
        transform: translateX(0px);
    }

    93% {
        opacity:   1;
        transform: translateX(0px);
    }

    100% {
        opacity:   0;
        transform: translateX(300%);
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rise {
    0% {
        transform: translateY(1000px) rotate(360deg);
    }
}

@keyframes rise-blur {
    0% {
        transform: translateY(1000px) translateZ(0px);
    }
}

@keyframes rise-closeup {
    0% {
        transform: translateY(1000px) translateZ(30px);
    }
}

@keyframes wind {
    100% {
        transform: translateX(40px);
    }
}

@keyframes wind-deux {
    100% {
        transform: translateX(-50px);
    }
}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
*/
