@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  transition: $transition;
}

@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  user-select: $value;
}

@mixin box-shadow($shadow, $color) {
  -webkit-box-shadow: $shadow $color;
  -moz-box-shadow: $shadow $color;
  box-shadow: $shadow $color;
}

@mixin tooltip-animation($duration) {
  transition: opacity $duration ease-in-out,
              visibility $duration ease-in-out,
              transform $duration cubic-bezier(0.71, 1.7, 0.77, 1.24);

  transform: translate3d(0, 0, 0);
}

@mixin clamp-line($line) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
}
