$topbar-height: 40px;
$footbar-height: 80px;
$aside-width: 18%;
$margin: 15px;
$padding: 10px;
$transition-duration: 0.2s;
$mzk-text-logo-width: 145px;
$main-container-icon-margin: (8 * $margin) / 10;
$aside-transition: ($transition-duration * 4);
$aside-button-length: 25px;
$footbar-controls-height: 50px;
$footbar-controls-scale: 50%; // Usefull for volume bar image
$footbar-controls-margin: 5px;
$footbar-progress-height: 30px;
$footbar-sides-width: 85px;
$footbar-icons-size: 33px;
$footbar-volumebar-width: 170px;
$moodbar-height: 25px;
$footbar-transition: ($transition-duration * 2);
$progress-transition: $footbar-transition; // Variable defined in _footbar.scss
$progress-height: $moodbar-height; // Variable defined in _footbar.scss
$progress-track-height: 6px;
$progress-thumb-height: 12px;
$mzk-animation-duration: 0.2s;
$mzk-border-color:     $mzk-color-bg-dark;
$mzk-border-color-neg: $mzk-color-text-icons;
$mzk-border-width:     1px;
$mzk-border-radius:    3px;
$mzk-padding:          10px;
$mzk-margin:           10px;