<div class="modal" xmlns:th="http://www.thymeleaf.org">
    <div class="header">
        <p th:text="#{modal.wish.title}"></p>
        <span id="wish-close" class="close">&#10006;</span>
    </div>
    <div class="container">
        <!--/*@thymesVar id="wish" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishDto"*/-->
        <form method="POST" th:object="${wish}">
            <p th:each="error : ${#fields.errors('content')}" th:text="${error}"></p>
            <label for="wish-content" th:text="#{modal.wish.label}"></label>
            <textarea id="wish-content" maxlength="2048" th:errorClass="'error'" th:field="*{content}" rows="6" cols="30"></textarea>
            <!-- Global form errors -->
            <p class="global-error" th:if="${param.error}" th:text="#{modal.wish.error.global}"></p>
            <!-- Required csrf token from session cookies -->
            <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
            <button id="submit-form" type="submit"></button>
        </form>
    </div>
    <div class="footer">
        <label for="submit-form" id="submit-wish-button" class="submit" th:text="#{modal.footer.submit}"></label>
    </div>
</div>
