#party {
    background-color: black;
    color: white;
    display: flex;
    overflow: hidden;
    -moz-animation: party-fadeIn 0.3s linear;
    -webkit-animation: party-fadeIn 0.3s linear;
    animation: party-fadeIn 0.3s linear;

    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 42;


    #trackContainer {
        align-items: center;
        display: inline-flex;
        padding-left: 10%;
        position: relative;

        img {
            animation-delay: 0.2s;
            box-shadow: 0 0 30px #fff;
            height: 350px;
            width: 350px;
            -moz-animation: fade 40s linear infinite;
            -webkit-animation: fade 40s linear infinite;
            animation: fade 40s linear infinite;
        }

        #partyTrackInfo {
            display: inline-block;
            margin-left: 60px;

            h1,
            h2,
            h3 {
                margin: 0;
                text-align: left;
            }

            #a,
            #b {
                animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                -moz-animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                -webkit-animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
            }

            #c,
            #d {
                animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                animation-delay: 0.1s;
                -moz-animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                -webkit-animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;

            }

            #e {
                animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                animation-delay: 0.2s;
                -moz-animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
                -webkit-animation: in 20s cubic-bezier(0.77, 0, 0.18, 1) infinite;
            }

            #b,
            #d {
                margin-bottom: 20px;
            }
        }
    }


    #snow {
        bottom: 0;
        left: 0;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
    }

    #snow-layer {
        animation: wind 14s ease-in-out infinite alternate;
        left: -100px;
        perspective: 100px;
        right: -100px;
        -moz-animation: wind 14s ease-in-out infinite alternate;
        -webkit-animation: wind 14s ease-in-out infinite alternate;
    }

    #snow-layer::after {
        animation: rise-closeup 40s linear infinite;
        background: url("/static/img/utils/partyview/bg-light.png");
        content: '';
        height: 2000px;
        left: -100px;
        position: absolute;
        right: -100px;
        top: -1000px;
        transform: translateZ(30px);
        -moz-animation: rise-closeup 40s linear infinite;
        -webkit-animation: rise-closeup 40s linear infinite;
    }


    #snow-layer:nth-child(1) {
        animation-duration: 25s;
        animation-name: wing-deux;
    }

    #snow-layer:nth-child(1)::after {
        animation-duration: 60s;
        animation-name: rise-blur;
        background: url("/static/img/utils/partyview/bg-blur.png");
        transform: translateZ(0px);
    }

    #snow-layer:nth-child(2) {
        animation-duration: 10s;
    }

    #snow-layer:nth-child(2)::after {
        animation-duration: 50s;
        animation-name: rise;
        background: url("/static/img/utils/partyview/bg-medium.png");
    }

    #close {
        cursor: pointer;
        height: 30px;
        position: absolute;
        right: 15px;
        top: 15px;
        width: 30px;
    }

    #previous,
    #play,
    #next { // TODO : replace px with $var
        bottom: 25px;
        cursor: pointer;
        height: 35px;
        position: absolute;
        width: 35px;
    }

    #previous {
        left: 25px;
    }

    #play {
        left: 80px;
    }

    #next {
        left: 135px;
    }
}


@keyframes party-fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes in {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }

    2% {
        opacity: 1;
        transform: translateX(0px);
    }

    95% {
        opacity: 1;
        transform: translateX(0px);
    }

    100% {
        opacity: 0;
        transform: translateX(300%);
    }
}


@keyframes fade {
    0% {
        opacity: 0;
    }

    3% {
        opacity: 1;
    }

    97% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


@keyframes rise {
    0% {
        transform: translateY(1000px) rotate(360deg);
    }
}


@keyframes rise-blur {
    0% {
        transform: translateY(1000px) translateZ(0px);
    }
}

@keyframes rise-closeup {
    0% {
        transform: translateY(1000px) translateZ(30px);
    }
}

@keyframes wind {
    100% {
        transform: translateX(40px);
    }
}

@keyframes wind-deux {
    100% {
        transform: translateX(-50px);
    }
}
