
$listView-padding: 0 10%;

/* listview */
#listView {
    width: 100%;
    height: calc(100% - 30px);
    top: 30px;
    position: absolute;
    padding: $listView-padding;
    overflow-y: auto;
    box-sizing: border-box;

    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
}

.columnHeader {
    width: 100%;
    height: 35px;
    line-height: 35px;
    font-size: 0.9em;
    font-weight: bold;
    padding: $listView-padding;
    cursor: pointer;
    position: absolute;
    box-sizing: border-box;
    top: 0;

    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */
}

.trackContainer {
    width: 100%;
    height: 1.3em;
    line-height: 1.46em;
    font-size: 0.8em;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;

    &.mzk-selected {
        background-color: $secondary-color;
    }
}


[class*='col-'] {
    overflow: hidden;
    text-overflow: ellipsis;
    min-height: 1px;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    white-space: nowrap;
    display: inline-block;
}

.col-duration {
    width: 5%;
    text-align: right;
    min-width: 80px;
}

.col-title {
    width: 22%;
    min-width: 300px;
}

.col-artist {
    width: 14.8%;
    min-width: 180px;
}

.col-composer {
    width: 17.5%;
    min-width: 250px;
}

.col-performer { // Tod Add In Another ListView Type
    width: 14.5%;
    min-width: 180px;
}

.col-album {
    width: 22%;
    min-width: 180px;
}

.col-genre {
    width: 10.2%;
    min-width: 156px;
}

.col-bitRate {
    width: 5%;
    text-align: right;
    min-width: 75px;
}

.col-year {
    width: 3.2%;
    min-width: 45px;
}
