<div class="wish-grid-wrapper">
    <div id="pending-wishes" class="pending-wishes">
        <h1>Pending wishes</h1>
        <!--/*@thymesVar id="wishesTodo" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <div class="wish pending" th:attr="data-id=*{wish.wishId}" th:each="wish : ${wishesTodo}"
             xmlns:th="http://www.thymeleaf.org">
            <div class="wish-info">
                <!--/*@thymesVar id="wish" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
                <p th:text="*{wish.username}"></p>
                <p th:text="*{wish.content}"></p>
            </div>
            <div class="wish-controls">
                <img alt="delete-wish" src="static/img/actions/delete.svg">
            </div>
        </div>
    </div>
    <div id="accepted-wishes" class="accepted-wishes">
        <h1>Accepted wishes</h1>
        <!--/*@thymesVar id="wishesRefused" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <div class="wish accepted" th:attr="data-id=*{wish.wishId}" th:each="wish : ${wishesRefused}"
             xmlns:th="http://www.thymeleaf.org">
            <div class="wish-info">
                <!--/*@thymesVar id="wish" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
                <p th:text="*{wish.username}"></p>
                <p th:text="*{wish.content}"></p>
            </div>
            <div class="wish-controls">
                <img alt="delete-wish" src="static/img/actions/delete.svg">
            </div>
        </div>
    </div>
    <div id="refused-wishes" class="refused-wishes">
        <h1>Refused wishes</h1>
        <!--/*@thymesVar id="wishesAccepted" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <div class="wish refused" th:attr="data-id=*{wish.wishId}" th:each="wish : ${wishesAccepted}"
             xmlns:th="http://www.thymeleaf.org">
            <div class="wish-info">
                <!--/*@thymesVar id="wish" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
                <p th:text="*{wish.username}"></p>
                <p th:text="*{wish.content}"></p>
            </div>
            <div class="wish-controls">
                <img alt="delete-wish" src="static/img/actions/delete.svg">
            </div>
        </div>
    </div>
</div>
