<div class="wish-grid-wrapper">
  <div class="pending-wishes">
    <h1>Pending wishes</h1>
    <div class="wish pending" th:attr="data-id=*{wish.wishId}" th:each="wish : ${wishes}" xmlns:th="http://www.thymeleaf.org">
      <div class="wish-info">
        <!--/*@thymesVar id="wishes" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <!--/*@thymesVar id="wish" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <p th:text="*{wish.username}"></p>
        <p th:text="*{wish.content}"></p>
        <!-- <p th:text="*{wish.status}"></p> -->
      </div>
      <div class="wish-controls">
        <img src="static/img/actions/delete.svg" alt="delete-wish">
      </div>
    </div>
  </div>
  <div class="accepted-wishes">
    <h1>Accepted wishes</h1>
    <div class="wish accepted" th:attr="data-id=*{wish.wishId}" th:each="wish : ${wishes}" xmlns:th="http://www.thymeleaf.org">
      <div class="wish-info">
        <!--/*@thymesVar id="wishes" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <!--/*@thymesVar id="wish" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <p th:text="*{wish.username}"></p>
        <p th:text="*{wish.content}"></p>
        <!-- <p th:text="*{wish.status}"></p> -->
      </div>
      <div class="wish-controls">
        <img src="static/img/actions/delete.svg" alt="delete-wish">
      </div>
    </div>
  </div>
  <div class="refused-wishes">
    <h1>Refused wishes</h1>
    <div class="wish refused" th:attr="data-id=*{wish.wishId}" th:each="wish : ${wishes}" xmlns:th="http://www.thymeleaf.org">
      <div class="wish-info">
        <!--/*@thymesVar id="wishes" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <!--/*@thymesVar id="wish" type="org.manazeak.manazeak.entity.dto.user.wish.UserWishListLineDto"*/-->
        <p th:text="*{wish.username}"></p>
        <p th:text="*{wish.content}"></p>
        <!-- <p th:text="*{wish.status}"></p> -->
      </div>
      <div class="wish-controls">
        <img src="static/img/actions/delete.svg" alt="delete-wish">
      </div>
    </div>
  </div>
</div>
