<!--/*@thymesVar id="rlArtists" type="java.util.List"*/-->
<div class="main-page" xmlns:th="http://www.thymeleaf.org">
  <div class="section-header">
    <h2 th:text="#{mp.release_artists}"></h2>
    <h3 th:text="#{mp.release_artists_all}" id="see-all-release-artists"></h3>    
  </div>
  <div class="artists-container" id="artists-container">
    <div th:each="rlArtist : ${rlArtists}">
      <div th:replace="/include/artist/minimalArtistFragment.html :: displayMinimalArtist(*{rlArtist}, medium)"></div>
    </div>
  </div>
  <div class="section-header">
    <h2 th:text="#{mp.genres}"></h2>
  </div>
  <div class="genres-container" id="genres-container">
    <div th:each="genre : ${genres}">
      <div th:replace="/include/genre/minimalGenreFragment.html :: displayMinimalArtist(*{genre}, medium)"></div>
    </div>
    <button id="test-button">Test</button>
  </div>
</div>
