<div class="menu-page" xmlns:th="http://www.thymeleaf.org">
  <div id="userpage-button" class="item">
    <img src="static/img/default/user.svg" alt="user-avatar"/>
    <span th:text="#{menu.user}"></span>
  </div>
  <div id="wish-button" class="item">
    <img src="static/img/actions/wish.svg" alt="make-wish"/>
    <span th:text="#{menu.wish}"></span>
  </div>
  <div id="about-button" class="item">
    <img src="static/img/actions/info.svg" alt="about-mzk"/>
    <span th:text="#{menu.about}"></span>
  </div>
</div>
