<div class="menu-page" xmlns:th="http://www.thymeleaf.org" xmlns:pth="http://www.w3.org/1999/html">
  <div class="title-container">
    <h1>ManaZeak war room</h1>
  </div>
  <!--/*@thymesVar id="scanStatus" type="org.manazeak.manazeak.entity.dto.library.scan.ScanStatusDto"*/-->
  <div th:if="${scanStatus != null}" class="scan-status">
    <span th:text="${scanStatus.stepNumber()}"></span>/<span th:text="${totalSteps}"></span>
    <span th:text="#{${scanStatus.statusCode()}}"></span>
    <span th:text="#{user.menu.scan_start_time}"></span><span th:text="${scanStatus.startedAt()}"></span>
  </div>
  <div class="control-container">
    <!--/*@thymesVar id="isAdmin" type="java.lang.Boolean"*/-->
    <div class="item" id="admin-button" th:if="${isAdmin}">
      <img alt="admin-button" src="/static/img/actions/option-gear.svg"/>
      <p th:text="#{menu.admin}"></p>
    </div>
    <div class="item" id="userpage-button">
      <img alt="user-avatar" src="/static/img/default/user.svg"/>
      <p th:text="#{menu.user}"></p>
    </div>
    <div class="item" id="wish-button">
      <img alt="make-wish" src="/static/img/actions/wish.svg"/>
      <p th:text="#{menu.wish}"></p>
    </div>
    <div class="item" id="about-button">
      <img alt="about-mzk" src="/static/img/actions/info.svg"/>
      <p th:text="#{menu.about}"></p>
    </div>
  </div>
</div>
