<div class="menu-page" xmlns:th="http://www.thymeleaf.org">
  <div class="title-container">
    <h1>ManaZeak war room</h1>
    <p>Some text to put yeah</p>
  </div>
  <div class="control-container">
    <div id="admin-button" class="item"> <!-- TODO make available if user is admin only -->
      <img src="static/img/actions/option-gear.svg" alt="admin-button"/>
      <p th:text="#{menu.admin}"></p>
    </div>
    <div id="userpage-button" class="item">
      <img src="static/img/default/user.svg" alt="user-avatar"/>
      <p th:text="#{menu.user}"></p>
    </div>
    <div id="wish-button" class="item">
      <img src="static/img/actions/wish.svg" alt="make-wish"/>
      <p th:text="#{menu.wish}"></p>
    </div>
    <div id="about-button" class="item">
      <img src="static/img/actions/info.svg" alt="about-mzk"/>
      <p th:text="#{menu.about}"></p>
    </div>
  </div>
</div>
