@import 'sceneviews/librarypage'; // Loading library viewing rules
@import 'sceneviews/mainpage';
@import 'sceneviews/partyview';
@import 'sceneviews/singleobjectview';
@import 'sceneviews/allobjectsview';
@import 'adminviews/adminview';

$scene-transition: ($transition-duration * 4);
$margin-offset: 25px; // Offset to match arrow icons size in main container
$aside-button-length: 25px;

#scene {
  position: relative;
  height: calc(100% - (#{$topbar-height} + #{$footbar-height}));
  z-index: 701;
  width: calc(100% - var(--mzk-aside-width));
  
  transition: width $mzk-animation-duration ease-in-out;

  #scene-manipulation {
    position: absolute;
    top: 0;
    bottom: 0;
    right: $main-container-icon-margin;
    height: 90px;
    margin: auto;
    width: $aside-button-length;

    img {
      cursor: pointer;
      height: $aside-button-length;
      width: $aside-button-length;
    }
  }

  #scene-view-option {
    cursor: pointer;
    bottom: $main-container-icon-margin;
    height: $aside-button-length;
    position: absolute;
    right: $main-container-icon-margin;
    width: $aside-button-length;
    z-index: 666;
  }

  #loading-spinner {
    bottom: 20px;
    height: $aside-button-length;
    position: absolute;
    right: 20px;
    width: $aside-button-length;
    z-index: 699;

    &:before {
      background: transparent;
      border: 2px solid lime;
      border-radius: 50%;
      border-bottom-color: transparent;
      border-top-color: transparent;
      box-sizing: border-box;
      content: '';
      right: -($aside-button-length / 2);
      bottom: -($aside-button-length / 2);
      height: ($aside-button-length + $padding);
      position: absolute;
      width: ($aside-button-length + $padding);

      animation: listview-loading-spin 1.5s linear infinite;
    }
  }

  #scene-commands {
    position: absolute;
    right: $margin-offset + ($main-container-icon-margin * 2);
    height: $margin-offset + ($main-container-icon-margin * 2);
    width: auto;
    top: 0;
    display: inline-flex;
    align-items: center;

    span {
      line-height: $margin-offset + ($main-container-icon-margin * 2);
      font-size: 0.9em;
      display: flex;
      align-items: center;
      cursor: pointer;
      @include user-select(none);

      &:after {
        content: '';
        border-style: solid;
        border-width: 6px 6px 0 6px;
        border-color: $mzk-color-bg-dark transparent transparent transparent;
        margin-left: 10px;
      }
    }

    img {
      height: calc(49px / 2);
      padding: 0 15px;
      cursor: pointer;
    }
  }
}
