$modalMinHeight:       400px;
$modalWidth:           600px;
$modalHeaderHeight:    60px;
$modalVerticalPadding: 10px;

$spinnerSide: 110px;

[id*='mzk-modal-wrapper-'] {
    align-items:     center;
    background:      $mzk-bg-alpha-black;
    display:         flex;
    height:          100%;
    justify-content: center;
    left:            0;
    position:        fixed;
    top:             0;
    width:           100%;
    z-index:         999;

    & > #mzk-modal-container {
        background:          $mzk-bg-normal;
        border:              solid $mzk-border-width $mzk-bg-darker;
        border-radius:       $mzk-border-radius * 2;
        position:            relative;
        width:               $modalWidth;

        .mzk-modal-header,
        .mzk-modal-content,
        .mzk-modal-footer {
            width:      100%;
            box-sizing: border-box;
            text-align: center;
        }


        .mzk-modal-header {
            border-bottom: solid 1px $mzk-bg-darker;
            min-height:    $modalHeaderHeight;
            padding:       $mzk-padding ($mzk-padding * 2);

            h1 {
                line-height: ($modalHeaderHeight - (2 * $modalVerticalPadding));
                margin:      0;
            }
        }

        .mzk-modal-footer {
            border-top: solid 1px $mzk-bg-darker;
            min-height: $modalHeaderHeight;
            padding:    0 ($mzk-padding * 2);

            button {
                margin: ($mzk-margin * 2) $mzk-margin;
            }
        }

        .mzk-modal-content {
            padding: ($mzk-padding * 2) ($mzk-padding * 5);

            textarea {
                width: 100%;
            }
        }

        @import "content/cover";
        @import "content/chooseGroup";
        @import "content/editPlaylist";
        @import "content/editGroup";
        @import "content/editTag";
        @import "content/fetchPlaylists";
        @import "content/fetchStats";
        @import "content/inviteCode";
        @import "content/newLibrary";
        @import "content/newPlaylists";
        @import "content/newWish";
        @import "content/openSyncThing";
        @import "content/scanLibrary";
    }

    .mzk-modal-closebutton {
        cursor:   pointer;
        height:   25px;
        position: absolute;
        right:    $mzk-padding;
        top:      $mzk-padding;
        width:    25px;
    }

    .mzk-modal-editbutton {
        cursor:   pointer;
        height:   25px;
        position: absolute;
        right:    ((2 * $mzk-padding) + 25px);
        top:      $mzk-padding;
        width:    25px;
    }
}

.lds-dual-ring {
    position: relative;
}

.lds-dual-ring div {
    animation:         lds-dual-ring 1.3s linear infinite;
    border: 4px solid  $mzk-text;
    border-color:      $mzk-text transparent;
    border-radius:     50%;
    position:          absolute;
    height:            $spinnerSide;
    left:              ($modalWidth / 2) - $spinnerSide;
    top:               10px;
    width:             $spinnerSide;
    z-index:           9999;
    -webkit-animation: lds-dual-ring 1.3s linear infinite;
}
