$modalWidth: 600px;


// Scan modal settings
$scanModalHeight:   400px;
$scanModalWidth:    600px;
$scanHeaderHeight:  ($scanModalHeight / 6);
$scanContentHeight: ($scanModalHeight / 6) * 4;
$scanFooterHeight:  ($scanModalHeight / 6);

$spinnerSide: 110px;
$verticalPadding: 10px;


// Edit modal settings
$editModalHeight:   600px;
$editModalWidth:    800px;
$editHeaderHeight:  ($editModalHeight / 10);
$editContentHeight: ($editModalHeight / 10) * 8;
$editFooterHeight:  ($editModalHeight / 10);

[id*='mzk-modal-'] {
  z-index: 999;

  height: 100%;
  width: 100%;
  left: 0;
  top: 0;

  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.8);


  .mzk-modal-closebutton {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  @import "content/cover";
  @import "content/deletePlaylist";
  @import "content/editGroup";
  @import "content/editTag";
  @import "content/fetchPlaylists";
  @import "content/fetchStats";
  @import "content/inviteCode";
  @import "content/newLibrary";
  @import "content/newPlaylists";
  @import "content/newWish";
  @import "content/openSyncThing";
  @import "content/renamePlaylist";
  @import "content/scanLibrary";

}

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.lds-dual-ring {
  position: relative;
}


.lds-dual-ring div {
  z-index: 9999;
  position: absolute;
  width: $spinnerSide;
  height: $spinnerSide;
  left: ($scanModalWidth / 2) - $spinnerSide;
  top: 10px;
  border-radius: 50%;
  border: 4px solid $primary-text;
  border-color: $primary-text transparent;
  -webkit-animation: lds-dual-ring 1.3s linear infinite;
  animation: lds-dual-ring 1.3s linear infinite;
}
