$modalMinHeight:       400px;
$modalWidth:           600px;
$modalHeaderHeight:    60px;
$modalVerticalPadding: 10px;

$spinnerSide: 110px;

[id*='mzk-modal-wrapper-'] {
    align-items:     center;
    background:      rgba(0, 0, 0, 0.8);
    display:         flex;
    height:          100%;
    justify-content: center;
    left:            0;
    position:        fixed;
    top:             0;
    width:           100%;
    z-index:         999;

    & > #mzk-modal-container {
        background:          $mzk-bg-normal;
        border:              solid 1px $mzk-bg-darker;
        border-radius:       $mzk-border-radius;
        position:            relative;
        width:               $modalWidth;
        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select:    none; /* Firefox */

        .mzk-modal-header,
        .mzk-modal-content,
        .mzk-modal-footer {
            width:      100%;
            box-sizing: border-box;
            text-align: center;
        }


        .mzk-modal-header,
        .mzk-modal-footer {
            height:  $modalHeaderHeight;
            padding: $modalVerticalPadding 30px;
        }


        .mzk-modal-header {
            border-bottom: solid 1px $mzk-bg-darker;
            min-height:    $modalHeaderHeight;

            h1 {
                line-height: ($modalHeaderHeight - (2 * $modalVerticalPadding));
                margin:      0;
            }
        }

        .mzk-modal-footer {
            border-top: solid 1px $mzk-bg-darker;
            min-height: $modalHeaderHeight;
        }

        .mzk-modal-content {
            padding: $modalVerticalPadding 50px;
        }

        @import "content/cover";
        @import "content/chooseGroup";
        @import "content/deletePlaylist";
        @import "content/editGroup";
        @import "content/editTag";
        @import "content/fetchPlaylists";
        @import "content/fetchStats";
        @import "content/inviteCode";
        @import "content/newLibrary";
        @import "content/newPlaylists";
        @import "content/newWish";
        @import "content/openSyncThing";
        @import "content/renamePlaylist";
        @import "content/scanLibrary";
    }

    .mzk-modal-closebutton {
        cursor:   pointer;
        height:   25px;
        position: absolute;
        right:    10px;
        top:      10px;
        width:    25px;
    }
}

.lds-dual-ring {
    position: relative;
}

.lds-dual-ring div {
    animation:         lds-dual-ring 1.3s linear infinite;
    border: 4px solid  $mzk-text;
    border-color:      $mzk-text transparent;
    border-radius:     50%;
    position:          absolute;
    height:            $spinnerSide;
    left:              ($modalWidth / 2) - $spinnerSide;
    top:               10px;
    width:             $spinnerSide;
    z-index:           9999;
    -webkit-animation: lds-dual-ring 1.3s linear infinite;
}
