.aside-expander {
  cursor: pointer;
  height: 40px;
  position: absolute;
  right: var(--mzk-padding);
  top: calc(var(--mzk-topbar-height) + var(--mzk-padding));
  width: 40px;
  z-index: 999;

  img {
    height: 100%;
    width: 100%;
  }
}

.aside {
  --mzk-aside-icon-size: 50px;

  background-color: var(--mzk-color-bg);
  border-left: solid var(--mzk-border-width) var(--mzk-color-bg-light);
  height: calc(100% - var(--mzk-topbar-height));
  position: absolute;
  right: 0;
  top: var(--mzk-topbar-height);
  width: var(--mzk-aside-width);

  @include transition(width var(--mzk-animation-duration) ease-in-out);

  .app-controls {
    align-items: center;
    display: flex;
    height: var(--mzk-topbar-height);
    margin: var(--mzk-margin-small) 0;

    .aside-collapser {
      height: 100%;

      @include transition(transform var(--mzk-animation-duration) ease-in-out);

      img {
        cursor: pointer;
        height: 100%;
      }
    }
  }

  .aside-content {
    height: calc(100% - var(--mzk-aside-icon-size) - var(--mzk-footbar-height));
    padding-top: var(--mzk-padding);

    .aside-item-group {
      margin: 0 var(--mzk-margin) var(--mzk-margin) var(--mzk-margin-big);

      h3 {
        color: var(--mzk-color-text);
        font-weight: lighter;
        margin: 0;
        text-align: left;

        .group-image {
          line-height: 100%;
          opacity: 0;
          vertical-align: text-bottom;

          @include transition(opacity var(--mzk-animation-duration) ease-out);

          img {
            height: 1rem;
            width: 0;
          }
        }

        .group-collapser  {
          line-height: 100%;
          vertical-align: text-bottom;

          img {
            cursor: pointer;
            height: 1rem;
            margin-left: var(--mzk-margin);
          }
        }
      }

      ul {
        font-size: .9rem;
        overflow: hidden;
        padding: 0;

        li {
          background-color: transparent;
          border-radius: 0;
          box-shadow: 0 0 0 0 transparent;
          cursor: pointer;
          display: grid;
          grid-template-columns: 60px 1fr;
          grid-template-rows: repeat(3, 20px);
          padding: var(--mzk-margin-small) var(--mzk-margin) var(--mzk-margin-small) 0;
          margin: var(--mzk-margin);
          width: 90%;

          transition: background-color var(--mzk-animation-duration) ease-out,
                      border-radius var(--mzk-animation-duration) ease,
                      box-shadow var(--mzk-animation-duration) ease-in;

          &:active,
          &:focus,
          &:hover {
            background-color: var(--mzk-color-primary-alpha-10);
            border-radius: var(--mzk-border-radius);
            box-shadow: 0 0 var(--mzk-margin) -2px var(--mzk-color-primary);
          }

          img {
            align-self: center;
            height: 40px;
            justify-self: center;
            grid-row: 1 / span 3;
          }

          p {
            color: var(--mzk-color-text-darker);
            font-size: .9em;
            font-style: italic;
            font-weight: inherit;
            padding-left: var(--mzk-padding-big);

            &.mp-collection-title {
              color: var(--mzk-color-text);
              font-style: inherit;
              font-weight: bold;
              padding-left: var(--mzk-padding);
            }
          }
        }
      }
    }
  }

  .aside-track-preview {
    align-items: center;
    bottom: 0;
    display: flex;
    height: var(--mzk-footbar-height);
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;

    @include transition(opacity var(--mzk-animation-duration) ease-in);

    .track-preview-info {
      display: grid;
      width: calc(100% - var(--mzk-footbar-height));

      a {
        color: var(--mzk-color-text-darker);
        font-size: .8rem;
        text-indent: 1rem;

        @include text-ellipsis();

        &:first-child {
          color: var(--mzk-color-text);
          font-size: .9rem;
          text-indent: .5rem;
        }
      }
    }

    img {
      cursor: pointer;
      height: 100%;
    }
  }

/* Set of rules to describe collapsed aside behavior */

  &.collapsed {
    .app-controls {
      .aside-collapser {
        transform: rotate(180deg);

        img {
          cursor: pointer;
          height: 100%;
        }
      }
    }

    .aside-content {
      padding-top: 0;

      .aside-item-group {
        margin: 0;

        h3 {
          display: flex;
          font-size: 0; // Hide text on collapsed aside
          justify-content: center;
          margin: var(--mzk-margin) 0;
          margin-right: var(--mzk-margin-big);

          .group-image {
            opacity: 1;

            img {
              width: auto;
            }
          }

          img {
            margin: 0;
          }
        }

        ul {
          font-size: 0;

          li {
            grid-template-columns: calc(var(--mzk-topbar-height) + var(--mzk-margin));
            grid-template-rows: var(--mzl-topbar-height);
            margin: 0;
          }
        }
      }
    }
  }
}
