.aside {
  --mzk-aside-icon-size: 40px;

  background-color: var(--mzk-color-bg);
  border-left: solid var(--mzk-border-width) var(--mzk-color-bg-light);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--mzk-aside-width);

  @include transition(width var(--mzk-animation-duration) ease-in-out);

  .aside-user-container {
    align-items: center;
    background-image: var(--mzk-color-bg);
    cursor: pointer;
    display: flex;
    height: var(--mzk-topbar-height);

    &:before {
      --mzk-radial-gradient-center: calc(50% + var(--mzk-aside-icon-size) / 2);

      border-radius: inherit;
      background-image: linear-gradient(var(--mzk-color-primary-alpha-25), var(--mzk-color-bg) 80%);
      content: '';
      display: block;
      height: var(--mzk-topbar-height);
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      width: 100%;

      @include transition(opacity var(--mzk-animation-duration) ease-in-out);
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }

    img {
      height: 100%;
      z-index: 701;
    }

    h2 {
      align-self: flex-end;
      display: inline-block;
      padding-left: var(--mzk-padding);
      margin-left: auto;
      margin-right: auto;
      z-index: 701;

      @include transition(font-size var(--mzk-animation-duration));
    }
  }

  .app-controls {
    align-items: center;
    display: flex;
    height: var(--mzk-topbar-height);
    margin: var(--mzk-margin-small) 0;

    .aside-collapser {
      height: 100%;

      @include transition(transform var(--mzk-animation-duration) ease-in-out);

      img {
        cursor: pointer;
        height: 100%;
      }
    }

    .aside-logo {
      margin-left: auto;
      margin-right: auto;
      opacity: 0;
      width: var(--mzk-logo-text-width);

      @include transition(opacity var(--mzk-animation-duration-long) ease);
      @include transition(width var(--mzk-animation-duration) ease);
    }
  }

  .aside-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - (var(--mzk-aside-icon-size) * 2) - var(--mzk-footbar-height) - var(--mzk-margin));
    padding-top: var(--mzk-padding);

    .aside-item-group {
      margin-bottom: var(--mzk-margin-big);

      h3 {
        color: var(--mzk-color-text);
        font-weight: lighter;
        margin: 0 0 0 var(--mzk-margin);

        @include text-ellipsis();
        @include transition(font-size var(--mzk-animation-duration-short));

        .group-image {
          line-height: 100%;
          opacity: 0;
          vertical-align: text-bottom;

          @include transition(opacity var(--mzk-animation-duration) ease-out);

          img {
            height: 1rem;
            width: 0;
          }
        }

        .group-collapser  {
          line-height: 100%;
          vertical-align: text-bottom;

          img {
            cursor: pointer;
            height: 1rem;
            margin-left: var(--mzk-margin);
          }
        }
      }

      ul {
        font-size: .9rem;
        overflow: hidden;
        padding: 0;

        li {
          background-color: transparent;
          border-radius: 0;
          cursor: pointer;
          display: grid;
          grid-template-columns: 50px 1fr;
          grid-template-rows: repeat(2, 25px);
          padding: var(--mzk-margin-small) var(--mzk-margin) var(--mzk-margin-small) 0;
          margin: var(--mzk-margin);
          width: calc(100% - var(--mzk-margin) * 2);

          @include transition(all var(--mzk-animation-duration) ease-out);

          &:active,
          &:focus,
          &:hover {
            background-color: var(--mzk-color-primary-alpha-10);
            border-radius: var(--mzk-border-radius);
          }

          &.new-playlist img {
            border: solid var(--mzk-border-jumbo-width) var(--mzk-color-text-darker-alpha-25);
            border-radius: calc(var(--mzk-border-radius) * 3);
            padding: var(--mzk-padding-small);
          }

          img {
            align-self: center;
            height: var(--mzk-aside-icon-size);
            justify-self: center;
            grid-row: 1 / span 3;
          }

          p {
            color: var(--mzk-color-text-darker);
            font-size: .9em;
            font-style: italic;
            font-weight: inherit;
            padding-left: var(--mzk-padding-big);

            @include text-ellipsis();

            &.mp-collection-title {
              align-self: flex-end;
              color: var(--mzk-color-text);
              font-size: .95rem;
              font-style: inherit;
              font-weight: bold;
              padding-left: var(--mzk-padding);
            }
          }
        }
      }

      &.playback-modes {
        margin: 0;
      }
    }
  }

  .aside-track-preview {
    align-items: center;
    bottom: 0;
    display: flex;
    height: var(--mzk-footbar-height);
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;

    @include transition(opacity var(--mzk-animation-duration) ease-in);

    .track-preview-info {
      display: grid;
      width: calc(100% - var(--mzk-footbar-height));

      a {
        color: var(--mzk-color-text-darker);
        font-size: .8rem;
        padding-left: var(--mzk-padding);

        @include text-ellipsis();
        @include transition(font-size var(--mzk-animation-duration) ease-out);

        &:first-child {
          color: var(--mzk-color-text);
          font-size: .9rem;
          padding-left: var(--mzk-padding-small);
        }
      }
    }

    img {
      cursor: pointer;
      height: 100%;

      @include transition(height var(--mzk-animation-duration) ease-out);
    }
  }

/* Set of rules to describe collapsed aside behavior */

  &.collapsed {
    .aside-user-container {
      h3 {
        font-size: 0;
      }
    }

    .app-controls {
      .aside-collapser {
        transform: rotate(180deg);

        img {
          cursor: pointer;
          height: 100%;
        }
      }

      .aside-logo {
        width: 0;
      }
    }

    .aside-content {
      padding-top: 0;

      .aside-item-group {
        margin: 0;

        h3 {
          display: flex;
          font-size: 0; // Hide text on collapsed aside
          justify-content: center;
          margin: var(--mzk-margin) 0;

          .group-image {
            opacity: 1;

            img {
              width: auto;
            }
          }

          img {
            margin: 0;
          }
        }

        ul {
          font-size: 0;

          li {
            grid-template-columns: var(--mzk-aside-icon-size) 1fr;
            grid-template-rows: repeat(3, var(--mzk-aside-icon-size) / 3);
            margin: 0;
            width: 100%;

            img {
              height: calc(var(--mzk-aside-icon-size) - var(--mzk-margin-small));
            }
          }
        }
      }
    }

    .aside-track-preview {
      img {
        height: var(--mzk-aside-icon-size);
      }

      a {
        font-size: 0;
      }
    }
  }
}
