<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="initial-scale=1" name="viewport">
    <meta content="Please give more information about you, so we can create a unique musical experience for you!"
          name="description">
    <title th:text="#{auth.tellusmore.title}"></title>
    <link href="static/img/logo/manazeak-logo-square.svg" rel="icon" type="image/png">
    <link href="static/dist/css/auth.bundle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mzk-user">
    <img src="static/img/logo/manazeak-text.svg" alt="manazeak-text-logo"/>
    <p th:utext="#{auth.tellusmore.header}"></p>
    <!--/*@thymesVar id="userInfo" type="org.manazeak.manazeak.entity.dto.user.UserFirstInfoDto"*/-->
    <form class="two-col-form" enctype="multipart/form-data" method="POST" th:object="${userInfo}">
        <div class="left-col">
            <!-- Email address field (256 char) and specific errors -->
            <label for="email-input" th:text="#{auth.tellusmore.email}"></label>
            <p th:each="error : ${#fields.errors('mail')}" th:text="${error}">Invalid mail</p>
            <input id="email-input" maxlength="256" th:errorClass="'error'" th:field="*{mail}" type="email"/>
            <!-- Surname field (256 char) and specific errors -->
            <label for="surname-input" th:text="#{auth.tellusmore.surname}"></label>
            <p class="error" th:each="error : ${#fields.errors('surname')}" th:text="${error}">Validation error</p>
            <input id="surname-input" maxlength="256" th:errorClass="'error'" th:field="*{surname}" type="text"/>
            <!-- Name field (256 char) and specific errors -->
            <label for="name-input" th:text="#{auth.tellusmore.name}"></label>
            <p class="error" th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation error</p>
            <input id="name-input" maxlength="256" th:errorClass="'error'" th:field="*{name}" type="text"/>
            <!-- Bio field (4096 char) -->
            <label for="bio-input" th:text="#{auth.tellusmore.bio}"></label>
            <textarea id="bio-input" placeholder="Some words other users will see about you..." maxlength="4096" th:field="*{bio}"></textarea>
        </div>
        <div class="right-col">
            <!-- Birthday field (date) and specific errors -->
            <label for="birthday-input" th:text="#{auth.tellusmore.birthday}"></label>
            <p class="error" th:each="error : ${#fields.errors('birthDate')}" th:text="${error}">Validation error</p>
            <input id="birthday-input" min="1900-01-01" name="birthday" th:field="*{birthDate}" type="date"> <!-- Max attribute is set with Js -->
            <!-- Country selection (set from db) and specific errors -->
            <!--/*@thymesVar id="countries" type="org.manazeak.manazeak.entity.dto.country.CountrySelectProjection"*/-->
            <label for="country-select" th:text="#{auth.tellusmore.country}"></label>
            <select id="country-select" th:field="*{countryId}">
                <!-- Adding the empty value to the selection -->
                <option value="0"></option>
                <!-- Adding the rest of the objects in the database. -->
                <option th:each="country : ${countries}" th:text="${country.name}" th:value="${country.id}"></option>
            </select>
            <!-- Locale selection (set from db) and specific errors -->
            <!--/*@thymesVar id="locales" type="org.manazeak.manazeak.entity.reference.Locale"*/-->
            <label for="locale-select" th:text="#{auth.tellusmore.language}"></label>
            <select id="locale-select" th:field="*{localeId}">
                <!-- Adding the rest of the objects in the database. -->
                <option th:each="locale : ${locales}" th:text="${locale.value}" th:value="${locale.localeId}"></option>
            </select>
            <!-- Avatar field (file) and specific errors -->
            <label for="avatar-input" th:text="#{auth.tellusmore.avatar}">Test</label>
            <p th:each="error : ${#fields.errors('avatar')}" th:text="${error}">Invalid avatar</p>
            <input id="avatar-input" th:field="*{avatar}" type="file" accept=".jpg,.png"/>
        </div>
        <!-- Required csrf token from session cookies -->
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button th:text="#{auth.tellusmore.submit}" type="submit"></button>
    </form>
    <p th:utext="#{auth.tellusmore.footer}"></p>
</div>
<script>
    /* Update max value for birthday selection to today, ES5 since not bundled */
    var sessionDate = new Date();
    var yyyy = sessionDate.getFullYear();
    var mm = sessionDate.getMonth() + 1;
    var dd = sessionDate.getDate();
    // Prefix day with a zero if needed
    if (dd < 10) {
        dd = '0' + dd;
    }
    // Prefix month with a zero if needed
    if (mm < 10) {
        mm = '0' + mm;
    }
    // Create output string and update max attribute on birthday date input
    maxDate = yyyy + '-' + mm + '-' + dd;
    document.getElementById('birthday-input').setAttribute('max', maxDate);
</script>
</body>
</html>
