<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="Inspecting such an empty page... What a waste of time! Here's some good reading ; https://github.com/ManaZeak/ManaZeak"
          name="description">
    <title>See you soon!</title>
    <link href="static/img/logo/manazeak-logo-square.svg" rel="icon" type="image/png">
    <link href="static/dist/css/auth.bundle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mzk-user">
    <p th:text="#{label.logout}">logout</p>
    <p class="itl" th:text="#{label.logout.redirect}">redirection in 5s</p>
</div>
<script>
    /* Redirect user to login after 5 seconds */
    window.setTimeout(function() {
        window.location.replace('login');
    }, 5000);
</script>
</body>
</html>
