<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ManaZeak - Register</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1 th:text="#{label.register.title}">form</h1>

<!--/*@thymesVar id="user" type="org.manazeak.manazeak.entity.dto.user.NewUserDto"*/-->
<form method="POST" th:object="${user}">
    <p th:each="err : ${#fields.globalErrors()}" th:text="${err}"></p>
    <div>
        <label for="username-input" th:text="#{label.user.login}">username</label>
        <input id="username-input" th:field="*{username}"/>
        <p th:each="error : ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.password}">password</label>
        <input th:field="*{password1}" type="password"/>
        <p th:each="error : ${#fields.errors('password1')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.confirm_pass}">confirm</label>
        <input th:field="*{password2}" type="password"/>
        <p th:each="error : ${#fields.errors('password2')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label for="inviteCode-input" th:text="#{label.user.invite_code}">confirm</label>
        <input id="inviteCode-input" th:field="*{inviteCode}"/>
        <p th:each="error : ${#fields.errors('inviteCode')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.email}">email</label>
        <input th:field="*{mail}" type="email"/>
        <p th:each="error : ${#fields.errors('mail')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label th:text="#{label.user.surname}">last</label>
        <input th:field="*{surname}"/>
        <!-- <p th:each="error : ${#fields.errors('surname')}"
           th:text="${error}">Validation error</p> !-->
    </div>

    <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
    <button th:text="#{label.register.submit}" type="submit">submit</button>
</form>
</body>
</html>