<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
    <meta content="initial-scale=1" name="viewport">
    <meta content="Register to this ManaZeak instance using an invitation code. Learn more about ManaZeak ; https://github.com/ManaZeak/ManaZeak"
          name="description">
    <title>Mzk | Register</title>
    <link href="static/img/logo/manazeak-logo-square.svg" rel="icon" type="image/png">
    <link href="static/dist/css/auth.bundle.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="mzk-user">
    <img alt="manazeak-text-logo" src="static/img/logo/manazeak-text.svg">
    <p>Please create your account using the following form, or <a alt="log-in" href="login">login</a></p>
    <!-- Intellij doesn't detect the controller filling the model. The type of object in the for is this. -->
    <!--/*@thymesVar id="user" type="org.manazeak.manazeak.entity.dto.user.NewUserDto"*/-->
    <form method="POST" th:object="${user}">
        <!-- Account username field (128 char) and specific errors -->
        <label for="username-input" th:text="#{label.user.login}">username</label>
        <p class="error" th:each="error : ${#fields.errors('username')}" th:text="${error}">Validation error</p>
        <input id="username-input" maxlength="128" th:errorClass="'error'" th:field="*{username}" type="text"/>
        <!-- Invite code from an already registered user field (16 char) and specific errors -->
        <label for="inviteCode-input" th:text="#{label.user.invite_code}">invite code</label>
        <p class="error" th:each="error : ${#fields.errors('inviteCode')}" th:text="${error}">Validation error</p>
        <input id="inviteCode-input" maxlength="32" th:errorClass="'error'" th:field="*{inviteCode}" type="text"/>
        <!-- Account password field (256 char) and specific errors -->
        <label for="password-one-input" th:text="#{label.user.password}">password one</label>
        <p class="error" th:each="error : ${#fields.errors('password1')}" th:text="${error}">Validation error</p>
        <input id="password-one-input" maxlength="256" th:errorClass="'error'" th:field="*{password1}" type="password"/>
        <!-- Confirm password field (256 char) and specific errors -->
        <label for="password-two-input" th:text="#{label.user.confirm_pass}">password two</label>
        <p class="error" th:each="error : ${#fields.errors('password2')}" th:text="${error}">Validation error</p>
        <input id="password-two-input" maxlength="256" th:errorClass="'error'" th:field="*{password2}" type="password"/>
        <!-- Global form errors -->
        <p class="global-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">register error</p>
        <!-- Required csrf token from session cookies -->
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden"/>
        <button th:text="#{label.register.submit}" type="submit">submit</button>
    </form>
    <p>See what ManaZeak can do for you right <a alt="presentation-page" href="https://manazeak.github.io/"
                                                 rel="noopener noreferrer" target="_blank">here</a>.</p>
</div>
</body>
</html>
