#footBar {
    @import './elements/footbar/controls';
    @import './elements/footbar/playlistpreview';
    @import './elements/footbar/queuepreview';
    @import './elements/footbar/trackpreview';

    background-color: $secondary-color;
    bottom: 0;
    height: $footbar-height;
    position: absolute;
    width: 100%;
}
