@import './elements/footbar/trackpreview';
@import './elements/footbar/playlistpreview';
@import './elements/footbar/controls';
@import './elements/footbar/progressbar';
@import './elements/footbar/queuepreview';

#footBar {
    background-color: $secondary-color;
    bottom: 0;
    height: 80px;
    position: absolute;
    width: 100%;
}
