$footbar-height:         80px;
$footbar-info-width:     30%;
$footbar-controls-width: 40%;
$footbar-padding:        2 * $app-padding;

.mzk-footbar {
    background-color: $secondary-color;
    bottom:           0;
    height:           $footbar-height;
    position:         absolute;
    width:            100%;

    .mzk-controls-container {
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: $footbar-controls-width;
        -webkit-user-select: none;
        -moz-user-select: none;
        @import './elements/footbar/controls';
    }

    @import './elements/footbar/playlistpreview';
    @import './elements/footbar/queuepreview';
    @import './elements/footbar/trackpreview';
}
