
/* Notification */
.notificationContainer {
    background-color: $primary-color;
    border-radius: 1px;
    border: solid 1px $dark-primary-color;
    height: 100px;
    opacity: 0;
    position: fixed;
    right: 5px;
    top: 5px;
    width: 350px;
    z-index: 999;
}

.icon {
    height: 25px;
    left: 12.5px;
    position: absolute;
    top: 12.5px;
    width: 25px;
}

.title {
    color: $primary-text;
    font-size: 1em;
    left: 50px;
    line-height: 30px;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    top: 0;
    width: calc(100% - 70px);
}

.message {
    bottom: 0;
    box-sizing: border-box;
    color: $primary-text;
    font-size: 0.8em;
    height: 40px;
    left: 50px;
    line-height: 1em;
    margin: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 0;
    position: absolute;
    width: calc(100% - 70px);
    word-wrap: break-word;
}

.close {
    color: #777;
    cursor: pointer;
    height: 15px;
    position: absolute;
    right: 5px;
    top: 5px;
    width: 15px;
}


