#stats {
    box-sizing: border-box;
    height: 100%;
    overflow-y: auto;
    padding: 0 10%;
    text-align: center;
    width: 100%;

    h1 {
        margin: 15px 0;
    }

    p {
        margin: 15px 0;
    }

    p#label {
        font-weight: bold;
    }

    ol {
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        padding-left: 50px;
    }

    .col {
        display: inline-block;
        width: 50%;
    }
}