$topbar-height: 50px;

.mzk-topbar {
    background-color:    $secondary-color;
    height:              $topbar-height;
    position:            relative;
    width:               100%;
    -webkit-user-select: none;
    -moz-user-select:    none;

    @import './elements/topbar/moodbar';
    @import './elements/topbar/wishlist';
    @import './elements/topbar/partymode';
    @import './elements/topbar/usermenu';
    @import './elements/topbar/collectionbar';
}
