#footBar {
    background-color: $secondary-color;
    bottom: 0;
    height: 80px;
    position: absolute;
    width: 100%;

    #trackPreview {
        box-sizing: border-box;
        float: left;
        width: 30%;
        height: 100%;
        position: relative;
        opacity: 0;
        padding-left: 50px;

        img {
            height: 80px;
            width: 80px;

            cursor: pointer; // TODO : on click, launch cover modal (w/ transparency in black around + ability to set/remove/download cover)
        }

        ul {
            display: inline-block;
            vertical-align: 66%;
            font-size: 0.8em;
            margin: 0;
            padding-left: 20px;
            list-style: none;

            li {
                padding: 1px 0;
            }
        }
    }


    .tooltipWrapper {
        display: inline-block;
        position: relative;
        height: 100%;

        .tooltipTrackCover {
            @extend .mzk-hidden;
            background-color: rgba(0, 0, 0, 1);
            border-radius: 3px;
            bottom: 85px;
            height: 500px;
            width: 500px;
            left: 0;
            position: absolute;
            text-align: center;

            z-index: 1;

            img {
                border-radius: 3px;
                height: 500px !important;
                box-sizing: border-box;
                width: 500px !important;
            }
        }

        .tooltipPlaylistCover {
            @extend .mzk-hidden;
            background-color: rgba(0, 0, 0, 1);
            border-radius: 3px;
            bottom: 85px;
            height: 500px;
            width: 500px;
            right: 0;
            position: absolute;
            text-align: center;

            z-index: 1;

            img {
                border-radius: 3px;
                height: 500px !important;
                box-sizing: border-box;
                width: 500px !important;
            }
        }

        .tooltipTrackCover::after {
            border: solid 5px;
            border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
            content: "";
            left: 32px;
            position: absolute;
            top: 100%;
        }

        .tooltipPlaylistCover::after {
            border: solid 5px;
            border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
            content: "";
            right: 32px;
            position: absolute;
            top: 100%;
        }
    }

    .tooltipWrapper:hover .tooltipTrackCover,
    .tooltipWrapper:hover .tooltipPlaylistCover {
        @extend .mzk-visible;
    }

    .mzk-controls-container {
        /*border: solid 1px black;*/
        box-sizing: border-box;
        display: inline-block;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 40%;

        -webkit-user-select: none;  /* Chrome/Safari */
        -moz-user-select: none;     /* Firefox */

        .half {
            height: 50%;
            text-align: center;
            width: 100%;

            -webkit-user-select: none;  /* Chrome/Safari */
            -moz-user-select: none;     /* Firefox */

            img {
                height: 30px;
                width: 30px;
                margin-top: 13px;
                margin-left: 3px;
                margin-right: 3px;
            }

            a {
                cursor: pointer;
            }

            .main {
                height: 40px;
                width: 40px;
            }
        }
    }

    #currentDuration,
    #totalDuration {
        font-size: 0.7em;
    }

    #progressBarWrapper {
        padding-top: 10px;

        .pointer {
            cursor: pointer;
        }
    }

    // QUEUE
    .queueExpander {
        width: 35px;
        height: 35px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;

        &:hover .mzk-queue-preview {
            @extend .mzk-visible;
        }
    }

    .queueExpander img {
        width: 25px !important;
        height: 25px !important;
        margin-top: 5px !important;
        margin-right: 5px !important;
    }

    .mzk-queue-preview {
        @extend .mzk-hidden;
        width: 400px;
        height: auto;
        max-height: 500px;
        background-color: $secondary-color;
        border: solid 1px $dark-secondary-color;
        right: 0;
        bottom: 35px;
        position: absolute;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        color: white;

        ul.mzk-queue-list {
            overflow-y: auto;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                padding: 5px;
                display: flex;
                align-items: center;
                padding-left: 15px;
                justify-content: space-between;

                border-bottom: solid 1px $primary-text;

                & > img {
                    vertical-align: middle;
                    margin: 0 !important;
                    height: auto;
                }

                span {
                    max-width: 100%;
                    white-space: nowrap;
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                }

                .mzk-qprev-body {
                    display: inline-flex;
                    flex-direction: column;
                    align-items: start;
                    width: 80%;

                    .mzk-qprev-title {
                        font-size: 1em;
                        margin: 1px 0;
                    }

                    .mzk-qprev-origin {
                        font-size: 0.8em;
                        margin: 1px 0;
                    }

                    .mzk-qprev-composer {
                        font-size: 0.6em;
                        margin: 1px 0;
                    }
                }

                .mzk-qprev-controls {
                    width: 5%;
                    display: inline-flex;
                    flex-direction: column;
                }
            }
        }

        .mzk-queue-status {
            flex: none;
            height: 30px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            box-sizing: content-box;
            border-top: solid 1px $dark-secondary-color;

            & > * {
                white-space: nowrap;
                margin: 0 5px;
            }

            label {
                display: flex;
                align-items:center;
            }
        }
    }

    #playlistPreview {
        box-sizing: border-box;
        text-align: right;
        float: right;
        width: 30%;
        height: 100%;
        position: relative;
        opacity: 1;
        opacity: 0;
        padding-right: 50px;

        img {
            height: 80px;
            width: 80px;

            cursor: pointer; // TODO : on click, launch cover modal (w/ transparency in black around + ability to set/remove/download cover)
        }

        ul {
            display: inline-block;
            vertical-align: 66%;
            font-size: 0.8em;
            margin: 0;
            padding-right: 0;
            list-style: none;
        }

        li {
            padding: 1px 0;
        }
    }
}

// TODO : add queue inside footbar, same for progressBar and volumeBar
