$topbar-height: 50px;

#topBar {
    position: relative;
    width: 100%;
    height: $topbar-height;
    background-color: $secondary-color;

    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */

    #moodbar {
        box-sizing: border-box;
        position: absolute;
        width: 80%;
        height: 16px;
        left: 10%;

        cursor: pointer;
    }


    #userExpander {
        position: absolute;
        top: $topbar-height / 4;
        right: $topbar-height / 4;
        width: auto;
        height: $topbar-height / 2;
        cursor: pointer;

        img {
            height: 100%;
            width: 100%;
        }
    }

    #menu {
        @extend .mzk-hidden;
        position: absolute;
        top: ($topbar-height / 2) + 9px;
        right: 0;
        width: 100px;
        height: auto;
        background-color: $primary-color;
        z-index: 1;
        color: $primary-text;
        border: solid 1px $dark-primary-color;

        .menuEntry {
            height: 2em;
            line-height: 2em;
            padding-left: 15px;
            cursor: pointer;
        }

        .menuEntry:active,
        .menuEntry:focus,
        .menuEntry:hover {
            background-color: $dark-secondary-color;
        }

        .menuEntry::after {
            border: solid 5px;
            border-color: transparent transparent $primary-text transparent;
            content: "";
            right: 6px;
            position: absolute;
            top: -10px;
        }

    }


    #playlistBar {
        width: 100%;
        position: absolute;
        height: 30px;
        top: 20px;
        text-align: center;

        div {
            display: inline-block;
            margin: 0;
            padding: 0 25px;
            line-height: 30px;
            cursor: pointer;
            font-size: 0.9em;

            box-sizing: border-box;

            transition: 0.2s ease;
        }

        div.playlist:active,
        div.playlist:focus,
        div.playlist:hover,
        div.playlist.playlistSelected {
            box-shadow: 0 -2px blue inset;
        }


        div.library:active,
        div.library:focus,
        div.library:hover,
        div.library.librarySelected {
            box-shadow: 0 -2px red inset;
        }
    }

}
