$topbar-height: 50px;

#topBar {
    position: relative;
    width: 100%;
    height: $topbar-height;
    background-color: $secondary-color;

    -webkit-user-select: none;  /* Chrome/Safari */
    -moz-user-select: none;     /* Firefox */

    #moodbar {
        box-sizing: border-box;
        position: absolute;
        width: 80%;
        height: 16px;
        left: 10%;

        cursor: pointer;
    }


    #userExpander {
        position: absolute;
        right: 0;
        height: 20px;
        width: 20px;
        background-color: $secondary-color;
    }

    #menu {
        @extend .mzk-hidden;
        position: absolute;
        top: 20px;
        right: 0;
        width: 100px;
        height: auto;
        background-color: coral;
        z-index: 1;

        .menuEntry {
            height: 2em;
            line-height: 2em;
            padding-left: 15px;
            cursor: pointer;
        }
    }


    #playlistBar {
        width: 100%;
        position: absolute;
        height: 30px;
        top: 20px;
        text-align: center;

        div {
            display: inline-block;
            margin: 0;
            padding: 0 15px;
            line-height: 30px;
            cursor: pointer;
            font-size: 0.9em;

            box-sizing: border-box;

            transition: 0.2s ease;
        }

        div.playlist:active,
        div.playlist:focus,
        div.playlist:hover {
            box-shadow: 0 -2px blue inset;
            //border-bottom: solid 3px blue;
        }

        .playlistLocked {
            box-shadow: 0 -2px blue inset;
            //border-bottom: solid 3px blue;
        }

        div.library:active,
        div.library:focus,
        div.library:hover,
        div.library.librarySelected {
            box-shadow: 0 -2px red inset;
            //border-bottom: solid 3px red;
        }
    }

}
