/*
 *
 *
/* Mixins */
/*
 *
 *
/* Program colors */
#modal {
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999; }
  #modal #scan {
    border: solid 1px black;
    border-radius: 3px;
    position: relative;
    min-height: 400px;
    background: #fff;
    width: 600px;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */ }
    #modal #scan #header,
    #modal #scan #content,
    #modal #scan #footer {
      box-sizing: border-box;
      position: absolute;
      text-align: center;
      width: 100%; }
    #modal #scan #header,
    #modal #scan #footer {
      padding: 10px 30px; }
    #modal #scan #header {
      border-bottom: solid 1px black;
      top: 0;
      height: 66.66667px; }
      #modal #scan #header h1 {
        line-height: 46.66667px;
        margin: 0; }
    #modal #scan #content {
      top: 66.66667px;
      height: 266.66667px;
      padding: 10px 50px; }
      #modal #scan #content img {
        width: 100px;
        height: 100px;
        margin: 16px 0; }
    #modal #scan #footer {
      border-top: solid 1px black;
      height: 66.66667px;
      top: 333.33333px; }
      #modal #scan #footer p {
        line-height: 46.66667px;
        margin: 0; }
  #modal #edit {
    border: solid 1px black;
    border-radius: 3px;
    position: relative;
    min-height: 600px;
    background: #fff;
    width: 800px; }
    #modal #edit #header,
    #modal #edit #content,
    #modal #edit #footer {
      box-sizing: border-box;
      position: absolute;
      text-align: center;
      width: 100%; }
    #modal #edit #header {
      border-bottom: solid 1px black;
      top: 0;
      height: 60px;
      padding: 10px 30px; }
      #modal #edit #header h1 {
        line-height: 40px;
        margin: 0; }
    #modal #edit #content {
      top: 60px;
      height: 480px;
      position: relative; }
      #modal #edit #content #trackListContainer {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: inline-block;
        width: 225px; }
      #modal #edit #content #inputContainer {
        float: right;
        position: relative;
        height: 100%;
        display: inline-block;
        width: calc(100% - 225px); }
      #modal #edit #content .inputStandAlone {
        width: 100% !important; }
    #modal #edit #footer {
      border-top: solid 1px black;
      text-align: right;
      height: 60px;
      top: 540px;
      padding: 10px; }
      #modal #edit #footer .button {
        display: inline-block;
        border: solid 1px black;
        border-radius: 2px;
        cursor: pointer;
        box-sizing: border-box;
        height: 40px;
        line-height: 40px;
        padding: 0 25px;
        margin-left: 5px; }

.overlay {
  cursor: not-allowed; }

@keyframes lds-dual-ring {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.lds-dual-ring {
  position: relative; }

.lds-dual-ring div {
  z-index: 9999;
  position: absolute;
  width: 110px;
  height: 110px;
  left: 190px;
  top: 10px;
  border-radius: 50%;
  border: 4px solid #000;
  border-color: #000 transparent;
  -webkit-animation: lds-dual-ring 1.3s linear infinite;
  animation: lds-dual-ring 1.3s linear infinite; }

/*
 *
 *
/* Tooltips - (Warning, these are modified classes from Twitter Bootstrap) */
.tooltip {
  display: block;
  opacity: 0;
  z-index: 1050;
  visibility: visible;
  position: absolute;
  cursor: default;
  font-size: 11px;
  font-variant: small-caps;
  font-weight: bold;
  line-height: 1.2;
  filter: alpha(opacity=0); }

.tooltip.in {
  opacity: .8;
  filter: alpha(opacity=80); }

.tooltip.top {
  margin-top: -3px;
  padding: 5px 0; }

.tooltip.right {
  margin-left: 3px;
  padding: 0 5px; }

.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0; }

.tooltip.left {
  margin-left: -3px;
  padding: 0 5px; }

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none; }

.tooltip-arrow {
  border: solid transparent;
  height: 0;
  width: 0;
  position: absolute; }

.tooltip.top .tooltip-arrow {
  border-top-color: black;
  border-width: 5px 5px 0;
  bottom: 0;
  left: 50%;
  margin-left: -5px; }

.tooltip.right .tooltip-arrow {
  border-right-color: black;
  border-width: 5px 5px 5px 0;
  top: 50%;
  left: 0;
  margin-top: -5px; }

.tooltip.left .tooltip-arrow {
  border-left-color: black;
  border-width: 5px 0 5px 5px;
  top: 50%;
  right: 0;
  margin-top: -5px; }

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: black;
  border-width: 0 5px 5px;
  top: 0;
  left: 50%;
  margin-left: -5px; }

/*
 *
 *
/* Global elements */
.animate {
  -webkit-transition: max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s;
  -moz-transition: max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s;
  -o-transition: max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s;
  transition: max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s; }

.btn {
  border: solid 1px rgba(0, 0, 0, 0.125);
  background-color: white;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  font-size: .9em;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center; }

#login {
  width: 400px;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  background: whitesmoke;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25); }

/*# sourceMappingURL=../../../../static/scss/user/login.css.map */