@import "../utils/tools";

html, body {
    background-color: $primary-color;
    color: $primary-text;
    font-family: Helvetica, serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    display: flex;
    align-items: center;
}


#login {
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 2;

    img {
        height: 60px;
        margin-bottom: 25px;
    }

    p {
        margin-bottom: 25px;
        margin-top: 25px;

        a {
            color: $accent-color;
            text-decoration: none;
        }
    }

    form {
        background-color: $secondary-color;
        box-sizing: border-box;
        display: table;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding: 25px;
        text-align: center;
        width: auto;

        @include box-shadow(0px, 0px, 5px, 1px, $dark-secondary-color);
    }


    input,
    button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    button,
    #button {
        background-color: inherit;
        border: solid 1px $primary-text;
        color: $primary-text;
        cursor: pointer;
        padding: 6px 25px;
        margin-top: 25px;
    }

    input {
        background-color: inherit;
        border: none;
        border-bottom: solid 1px $primary-text;
        color: $primary-text;
        margin-top: 5px;
        text-align: center;
    }

    #error {
        background-color: $dark-primary-color;
        left: 25px;
        padding: 15px 25px;
        position: absolute;
        text-align: left;
        top: 25px;

        ul {
            list-style: none;
            padding: 0;

            li {
                ul {
                    margin-left: 15px;
                }
            }
        }
    }


    .mzk-logo {
        width: 475px;
        height: auto;
        z-index: 1;
        margin-top: 50px;
        margin-bottom: 0;
    }
}

