<div xmlns:th="http://www.thymeleaf.org">
  <div>
    <!-- Contains the criteria fields. -->
    <p th:text="#{general.search}"></p>
  </div>
  <!-- Include here the fragment containing the thumbnail errors. -->
  <label for="page-number">Page n°</label>
  <input type="number" id="page-number">
  <label for="entity-type">Entity type</label>
  <input type="number" id="entity-type">
  <label for="error-type">Error type</label>
  <input type="number" id="error-type">
  <label for="processed">Processed</label>
  <input type="checkbox" id="processed">
  <label for="page-req">Page requested</label>
  <input type="number" id="page-req">
  <button id="thumbs-search">Zé parti</button>
</div>
