.user-menu {
  position: absolute;
  right: $mzk-padding;
  top: ($topbar-height + $mzk-margin);
  width: auto;
  height: auto;
  padding: 0 $padding;
  border-radius: $mzk-border-radius;
  background: $mzk-color-bg-dark;
  z-index: 999;

  .entry {
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
      height: 20px;
      width: 20px;
    }

    p {
      line-height: 30px;
      padding-left: $padding;
    }
  }

  &::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent $mzk-color-bg-dark-alpha-75;
    content: '';
    position: absolute;
    top: -8px;
    cursor: pointer;
    right: 12px;
  }
}

.change-view-context {
  background: #1f2127;
  border: solid 1px black;
  border-radius: 5px 0 5px 5px;
  top: 89px;
  height: auto;
  position: absolute;
  right: 49px;
  width: auto;
  z-index: 665;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .entry {
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;

    img {
      height: 20px;
      width: 20px;
    }

    p {
      line-height: 30px;
      padding-left: $padding;
    }
  }

  &::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    border-color: transparent transparent $mzk-color-bg-dark-alpha-75;
    content: '';
    position: absolute;
    top: -9px;
    cursor: pointer;
    right: -1px;
  }
}

.track-context {
  background: #1f2127;
  border: solid 1px black;
  border-radius: 5px;
  top: 0;
  height: auto;
  position: absolute;
  left: 0;
  z-index: 999;
  display: flex;
  width: auto;
  justify-content: center;
  flex-direction: column;

  .entry {
    height: 30px; // Match value in TrackContext.js if modified here
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px;

    &:first-child {
      border-bottom: solid $mzk-border-width $mzk-color-text-light-alpha-25;
    }

    img {
      height: 20px;
      margin: 0 10px;
      width: 20px;
    }

    p {
      line-height: 30px;
    }

    &.add-to-queue::before {
      content: '+';
      color: #56D45B;
      position: absolute;
      font-weight: bold;
      left: 5px;
    }
  }
}

.queue-context {
  background: #1f2127;
  border: solid 1px black;
  border-radius: 5px;
  bottom: $footbar-height + 8px;
  height: auto;
  max-height: 500px;
  position: absolute;
  right: 0;
  width: auto;
  z-index: 800;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .track-container {
    margin: $margin / 2;
    min-height: 50px;
    max-height: 500px;
    height: auto;
    overflow: auto;

    p.italic {
      line-height: 50px;
    }

    .queued-track {
      background-color: $mzk-color-bg-dark;
      border-radius: $mzk-border-radius;
      height: 75px;
      width: 330px;
      display: grid;
      grid-template-columns: 70px 1fr 25px;
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "img title nav" "img artist nav" "position artist nav";
      align-items: center;
      margin: ($margin / 2) 0;

      img {
        grid-area: img;
        height: 40px;
        width: 40px;
        justify-self: center;
        align-self: end;
      }

      p {
        align-self: center;
        font-size: .9em;
        line-height: 1.4em;
        text-overflow: ellipsis;
        grid-area: artist;
        white-space: nowrap;
        overflow: hidden;

        &.title {
          font-size: 1em;
          font-style: italic;
          grid-area: title;
          line-height: 1;
          align-self: end;
        }
      }

      p.position {
        align-self: center;
        color: $mzk-color-primary;
        grid-area: position;
        line-height: 1;
        text-align: center;
      }

      div {
        grid-area: nav;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: "up" "trash" "down";

        img {
          height: 25px;
          width: 25px;
          cursor: pointer;

          &.up {
            grid-area: up;
          }

          &.down {
            grid-area: down;
          }

          &.trash {
            grid-area: trash;
          }
        }
      }

      &:first-child {
        div {
          height: 100%;
          justify-content: flex-end;

          & img.up {
            display: none;
          }
        }
      }

      &:last-child {
        div {
          height: 100%;
          justify-content: flex-start;

          & img.down {
            display: none;
          }
        }
      }
    }

    div {
      div.scrollbar-content {
        max-height: 450px;
      }
    }
  }

  .queue-status {
    text-align: left;
    padding: 8px;
    border-top: solid 1px black;

    p {
      font-size: 0.9em;
      height: 15px;
      line-height: 15px;
    }
  }

  &::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: $mzk-color-bg-dark-alpha-75 transparent transparent transparent;
    content: '';
    position: absolute;
    bottom: -8px;
    cursor: pointer;
    right: 8px;
  }
}

#listview-context {
  background: $mzk-color-bg-dark;
  border: solid 1px black;
  border-radius: 5px;
  bottom: 2 * $main-container-icon-margin + $aside-button-length + $footbar-height;
  height: auto;
  position: absolute;
  right: 5px;
  width: 180px;
  z-index: 665;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .checkbox-container {
    margin: $margin;

    label:last-child {
      margin-bottom: 0;
    }
  }

  button {
    background: rgba(0, 0, 0, 1);
    border: solid 1px black;
    border-radius: 20px;
    height: auto;
    width: auto;
    display: block;
    font-size: 0.9em;
    margin: 0 15px 15px;
    padding: 5px 15px;
    color: white;
  }

  img {
    cursor: pointer;
    bottom: $margin;
    height: $aside-button-length;
    position: absolute;
    float: right;
    right: (2 * $margin) + $aside-button-length;
    width: $aside-button-length;
    z-index: 666;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: $mzk-color-bg-dark-alpha-75 transparent transparent transparent;
    position: absolute;
    right: 10.5px;
    bottom: -8px;
  }
}

.scene-options {
  background: $mzk-color-bg-dark;
  border: solid 1px black;
  border-radius: $mzk-border-radius;
  bottom: 2 * $main-container-icon-margin + $aside-button-length + $footbar-height;
  height: auto;
  position: absolute;
  right: 5px;
  width: 180px;
  z-index: 665;
  display: flex;
  justify-content: center;
  flex-direction: column;

  .checkbox-container {
    margin: $margin;

    label:last-child {
      margin-bottom: 0;
    }
  }

  button {
    background: rgba(0, 0, 0, 1);
    border: solid 1px black;
    border-radius: $mzk-border-radius;
    height: auto;
    width: auto;
    display: block;
    font-size: 0.9em;
    margin: 0 15px 15px;
    padding: 5px 15px;
    color: white;
  }

  img {
    cursor: pointer;
    bottom: $margin;
    height: $aside-button-length;
    position: absolute;
    float: right;
    right: (2 * $margin) + $aside-button-length;
    width: $aside-button-length;
    z-index: 666;
  }

  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: $mzk-color-bg-dark-alpha-75 transparent transparent transparent;
    position: absolute;
    right: 10.5px;
    bottom: -8px;
  }
}

.playback-rate-context {
  align-items: center;
  background-color: $mzk-color-bg;
  border-top-left-radius: $mzk-border-radius;
  border-top-right-radius: $mzk-border-radius;
  bottom: $footbar-height;
  display: flex;
  height: 50px;
  opacity: 0;
  position: absolute;
  transform: translateY(50px);
  transition: transform .1s ease-out, opacity .1s ease-in;
  width: auto; // Volumebar width and speedometer icon only

  img {
    cursor: pointer;
    height: 50%;
    margin: 0 (2 * $footbar-controls-margin);
    @include user-select(none);
  }

  div#playback-rate-text {
    position: absolute;
    color: $mzk-color-text-darker;
    top: 3px;
    left: calc(50% - 10px);
    width: 20px;
    text-align: center;
    font-size: 0.8em;
  }

  img#reset-playback-rate {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: calc(50% - (15px / 2));
    height: 15px;
    margin: 0;
  }
}