.new-library {
  font-family: Helvetica, serif;
  color: $mzk-color-text;
  background: $mzk-color-bg;
  border-radius: 15px;
  box-shadow: 0 0 1em $mzk-color-primary-alpha-50;
  min-height: 250px;
  min-width: 350px;
  max-width: 550px;
  position: relative;
  z-index: 800;

  div:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 60px;

    p {
      font-size: 20px;
      height: 60px;
      line-height: 60px;
      margin: 0;
      padding-left: 20px;
    }

    span.close {
      cursor: pointer;
      position: absolute;
      right: 20px;
      height: 60px;
      line-height: 60px;
      top: 0;
    }
  }

  .container {
    background-color: rgba(0, 0, 250, 0.08);
    min-height: 100px;
    padding: 25px;
    top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p.description {
      margin: 0 0 25px;
      text-indent: 25px;
      text-align: justify;
    }

    label {
      margin-left: 7.5%;
    }

    input {
      background-color: $mzk-color-bg;
      color: $mzk-color-text;
      padding: 0 10px;
      border: none;
      height: 35px;
      width: 75%;
      margin: 10px 0 10px 7.5%;
    }

    code {
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      background-color: $mzk-color-bg-dark-alpha-10;
      border-radius: 3px;
      font-family: monospace, serif;
      color: #cb345b;
    }

    span { /* only for user id modal */
      display: flex;

      img {
        cursor: not-allowed; /* must be set to pointer in Js when user id went back from server */
        margin: 0 $mzk-margin;
        width: 35px;
      }
    }

    .bpm-click-container {
      align-items: center;
      background-color: $mzk-color-bg-dark-alpha-90;
      border: dashed 3px $mzk-border-color;
      border-radius: 15px;
      display: flex;
      height: 13rem;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      width: 85%;
      @include user-select(none);

      span {
        color: $mzk-color-secondary;
        display: block;
        font-size: 4em;
      }
    }
  }

  .footer {
    background-color: $mzk-color-bg;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;

    button {
      background-color: $mzk-color-primary;
      border: none;
      height: 35px;
      width: auto;
      padding: 0 20px;
      border-radius: 15px;
      cursor: pointer;
      color: $mzk-color-ng-text;
      text-decoration : none;
      outline: none;
      transition: all 0.1s ease 0s;

      &::-moz-focus-inner {
        border: 0;
      }

      &:active {
        background-color: $mzk-color-secondary;
      }
    }
  }
}
