.modal {
  --modal-radius: 15px;
  --modal-padding: 25px;
  --modal-title-size: 1.3rem;
  --modal-hf-container-height: calc(3 * var(--modal-title-size)); // Modal Header/Footer height relative to title size

  background: $mzk-color-bg;
  border-radius: var(--modal-radius);
  box-shadow: 0 0 1em $mzk-color-primary-alpha-50;
  max-width: 85%;
  min-height: 250px;
  min-width: 20%;
  position: relative;
  text-align: justify;
  width: 50%;
  z-index: 800;

  .header {
    text-align: center;

    p { // The modal title
      font-size: var(--modal-title-size);
      height: var(--modal-hf-container-height);
      line-height: var(--modal-hf-container-height);
    }

    span.close { // Header close button
      cursor: pointer;
      position: absolute;
      right: var(--modal-title-size);
      top: var(--modal-title-size);

      transition: color $mzk-animation-duration ease-out;

      &:active,
      &:focus,
      &:hover {
        color: $mzk-color-anti-primary;
      }
    }
  }

  .container {
    background-color: $mzk-color-bg-complementary;
    display: flex;
    flex-direction: column;
    height: calc(100% - (2 * var(--modal-hf-container-height)));
    justify-content: center;
    padding: var(--modal-padding);

    p {
      margin-bottom: $mzk-margin;
      text-indent: 1rem;
    }
  }

  .footer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: var(--modal-hf-container-height);

    button {
      border-radius: $mzk-border-radius;
      cursor: pointer;
      height: 55%;
      outline: none;
      text-decoration : none;

      transition: background-color $mzk-animation-duration;

      &.primary {
        background-color: $mzk-color-primary;
        border-color: $mzk-color-primary;
        color: $mzk-color-ng-text;
      }

      &:active,
      &:focus,
      &:hover {
        background-color: $mzk-color-secondary;
        border-color: $mzk-color-secondary;
        color: $mzk-color-ng-text;
      }
    }
  }
}

.new-library-modal {
  .container {
    align-items: center;
    display: flex;

    label {
      margin-top: $mzk-margin;
    }

    input {
      background-color: $mzk-color-bg;
      color: $mzk-color-text;
      padding: 0 $mzk-padding;
      border-radius: 5px;
      border: solid 1px $mzk-color-bg-lighter;
      height: 1.66rem;
      width: 75%;
      margin: $mzk-margin 0;
    }

    code {
      padding: 0.2em 0.4em;
      margin: 0;
      font-size: 85%;
      background-color: $mzk-color-bg-dark-alpha-10;
      border-radius: 3px;
      font-family: monospace, serif;
      color: #cb345b;
    }
  }
}

.tap-bpm-modal {
  text-align: center;

  .container {
    h3.tap-bpm-track-bpm-text {
      margin: $mzk-margin 0;
    }

    p {
      text-align: justify;
    }

    span#tap-bpm-track-bpm {
      color: $mzk-color-secondary;
    }

    .tap-bpm-click-container {
      align-items: center;
      background-color: $mzk-color-bg-dark-alpha-90;
      border: dashed 3px $mzk-border-color;
      border-radius: var(--modal-radius);
      display: flex;
      height: 13rem;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      margin-top: $mzk-margin;
      width: 85%;

      @include user-select(none);

      p {
        text-align: center;
        text-indent: inherit;
      }

      span {
        color: $mzk-color-secondary;
        display: block;
        font-size: 4em;
      }
    }
  }
}

.user-id-modal {
  width: 35%;

  .container {
    align-items: center;
    display: flex;

    span.user-id-input {
      display: flex;

      input {
        width: 18rem;
      }

      img {
        cursor: not-allowed; /* Must be set to 'pointer' in Js when user id went back from server */
        margin: 0 $mzk-margin;
        width: 35px;
      }
    }
  }
}

.about-modal {
  width: 65%;

  .container {
    * {
      margin-bottom: $mzk-margin;
    }

    img {
      height: 7rem;
    }

    h4 {
      text-align: center;
    }

    p {
      text-indent: var(--modal-title-size);
    }
  }
}

.suggestion-modal {
  .container {
    textarea {
      border: solid 1px $mzk-color-bg-lighter;
      height: 6rem;
      padding: $mzk-padding;
      margin: (2 * $mzk-margin) 0;
      width: 100%;
    }
  }
}
