.context-transparent-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

@import 'front/scss/context/playbackrate';
@import 'front/scss/context/track';
@import 'front/scss/context/queue';
