@use '/front/scss/context/playbackrate';
@use '/front/scss/context/track';
@use '/front/scss/context/queue';

.context-transparent-overlay {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
