.queue-context {
  background: var(--color-bg);
  border: solid 1px var(--color-bg-darker);
  border-radius: 5px;
  bottom: calc(var(--navbar-height) + 8px);
  height: auto;
  max-height: 66%;
  max-width: 66%;
  position: absolute;
  width: auto;
  z-index: 800;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &::before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 8px 0 8px;
    border-color: var(--color-bg) transparent transparent transparent;
    content: '';
    position: absolute;
    bottom: -8px;
    cursor: pointer;
    left: 8px;
  }

  h2 {
    font-size: var(--font-size);
    font-style: italic;
    margin: 0;
  }

  .queue,
  .play-object {
    p {
      margin: 0;
    }

    i {
      display: block;
      text-align: center;
      width: 100%;
    }
  }

  .queue-tracks-header,
  .queue-play-object-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: var(--padding);

    img {
      cursor: pointer;
      height: var(--font-size-big);
      margin-left: var(--margin);
      opacity: 1;
      width: var(--font-size-big);
      transition: opacity var(--animation-duration);

      &.hidden {
        opacity: 0;
      }
    }
  }

  /* Queued tracks */

  .queue {
    border-bottom: solid 1px var(--color-txt-lighter-alpha-10);
    padding-bottom: var(--padding);
    width: 100%;
    
    .queue-track-entry {
      align-items: center;
      cursor: pointer;
      display: flex;
      padding: 1rem;
      background: var(--color-primary-alpha-10);
      border-radius: 0.5rem;
      margin-bottom: var(--margin-tiny);
      min-width: 30rem;
      width: calc(100% - 2rem);

      &:last-child {
        margin-bottom: 0;
      }

      img {
        height: 4rem;
        width: 4rem;
      }

      .track-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 var(--margin);

        h2, h3 {
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        h2 {
          font-size: var(--font-size);
          font-style: inherit;
          padding: inherit;
        }

        h3 {
          font-size: var(--font-size-small);
          font-style: italic;
        }
      }

      p {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        margin-left: auto;
        width: 7rem;
      }

      .queue-track-remove {
        height: var(--font-size);
        margin-left: var(--margin-small);
        width: var(--font-size);
      }
    }

    i {
      display: block;
      margin: var(--margin-tiny) 0;
      text-align: center;
      width: 100%;
    }
  }

  /* User play object */

  .play-object {
    cursor: pointer;
    padding-bottom: var(--padding);

    .queue-play-object-entry {
      align-items: center;
      display: flex;
      margin: 0 var(--margin);

      img {
        height: 5rem;
        width: 5rem;
      }

      .queue-play-object-info {
        margin-left: var(--margin);

        h2 {
          padding: 0;
        }
  
        h3 {
          font-size: var(--font-size-small);
          margin: 0;
          margin-left: var(--margin-small);
        }
      }
    }
  }
}
