@import 'front/scss/control/volumebar';
@import 'front/scss/control/progressbar';

.navbar {
  background-color: var(--color-bg-light);
  height: var(--navbar-height);
  user-select: none;
  width: 100%;

  .playback-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .top-line,
    .bottom-line {
      height: 50%;
      max-width: 2000px;
    }

    .top-line {
      align-items: center;
      display: flex;
      justify-content: center;
      position: relative;
      width: calc(100% - 16rem);

      @include user-select(none);

      .image-wrapper {
        cursor: pointer;
        height: 66%;
        margin: 0 var(--margin-tiny);
        text-align: center;
        width: 3rem;

        img {
          height: 100%;          
        }

        &::before {
          content: attr(data-before); // To be retrieved in Js
          border-radius: 50%;
          color: var(--color-primary);
          font-size: .9em;
          height: 13px;
          position:absolute;
          left: calc(-1 * var(--font-size));
          top: 50%;
          text-align: center;
          text-shadow: #000 1px 0 5px;
          width: 13px;
          transform: translateY(-50%);
        }

        &.queue {
          position: absolute;
          left: 0;
          width: 3rem;

          img {
            height: 100% !important;
          }
        }

        &.shuffle {
          left: calc(6rem + (4 * var(--margin-tiny)));
          position: absolute;
        }

        &.repeat {
          left: calc(3rem + (2 * var(--margin-tiny)));
          position: absolute;
        }

        &.speedometer {
          position: absolute;
          right: 0;

          img {
            height: 100% !important;
          }
        }
      }
    }

    .bottom-line {
      align-items: flex-end;
      display: flex;
      width: 100%;

      p {
        line-height: calc(25px + .5rem);
        margin: 0;
        opacity: 0;
        text-align: center;
        width: 8rem;
      }
    }
  }
}
