/* Usefull classes and styles taken from MessCss */
$font-size: 14px;
$line-spacing: calc(var(--mzk-font-size) * (140 / 100));
$border-radius: 2px;
$border-thickness: 1px;

$color-dark-text: rgb(20, 20, 20);
$color-dark-border: rgb(20, 20, 20);
$color-info: var(--mzk-color-secondary);
$color-info-light: var(--mzk-color-secondary-light);
$color-info-lighter: var(--mzk-color-secondary-lighter);
$color-success: var(--mzk-color-primary);
$color-success-light: var(--mzk-color-primary-light);
$color-success-lighter: var(--mzk-color-primary-lighter);
$color-warning: var(--mzk-color-anti-secondary);
$color-warning-light: var(--mzk-color-anti-secondary-light);
$color-warning-lighter: var(--mzk-color-anti-secondary-lighter);
$color-error: var(--mzk-color-anti-primary);
$color-error-light: var(--mzk-color-anti-primary-light);
$color-error-lighter: var(--mzk-color-anti-primary-lighter);

/* Notification specific variables */
$notification-max-width: 345px;
$notification-min-width: 200px;
$notification-min-height:50px;
$notification-icon: 25px;
$notification-counter-size: 18px;
$notification-padding: 12px;
$notification-margin: 10px;
$notification-border-thick: 3px;
$notification-border-std: 1px;

/* Notification style code begin here */
.notification-container {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  height: auto;
  position: fixed;
  width: auto;
  z-index: 9999;

  &.top-left {
    left: 0;
    top:  0;
  }

  &.top-right {
    right: 0;
    top:   0;
  }

  &.bottom-left {
    bottom: 0;
    left:   0;
  }

  &.bottom-right {
    bottom: 0;
    right:  0;
  }
}


.notification {
  align-items: center;
  border-radius: $border-radius;
  color: black;
  cursor: pointer;
  display: flex;
  font-size: 0.9em;
  height: auto;
  margin: $notification-margin;
  min-width: $notification-min-width;
  opacity: 0;
  padding: $notification-padding;
  position: relative;
  width: fit-content;
  z-index: 999;

  transition: opacity 1s ease 0s;

  @include box-shadow(0 0 $notification-margin, var(--mzk-color-bg-darker-alpha-25));
  @include user-select(none);

  h6 {
    font-size: 1.13em;
  }

  &:nth-child(n + 2) {
    margin-top: $notification-padding;
  }

  .icon-container {
    align-self: baseline;
    height: 	$notification-icon;
    margin: 	0;
    width: 		$notification-icon;

    svg {
      height:  $notification-icon;
      width:   $notification-icon;
    }
  }

  .text-container {
    padding:    0 $notification-padding;
    margin-right: $notification-margin;
    text-align: justify;

    h6,
    p {
      margin-bottom: ($notification-padding / 2);
      max-width: 	   $notification-max-width - (2 * $notification-margin) - (4 * $notification-padding) - $notification-icon - (2 * $border-thickness);
      word-wrap: 	   break-word;
    }

    p {
      font-size: 	   0.9em;
      line-height:   1.4em;
      margin:        0;
      margin-bottom: ($notification-padding / 2);

      &.iconless-width {
        max-width: $notification-max-width - (2 * $notification-margin) - (4 * $notification-padding) - (2 * $border-thickness);
      }
    }

    button {
      background-color: transparent;
      border:           $border-thickness solid $color-dark-border;
      border-radius:    $border-radius;
      cursor:           pointer;
      font-size:     0.9em;
      margin-bottom: 0;
      padding: 	   ($notification-padding / 6) ($notification-padding / 2);
    }
  }

  &.left-border,
  &.right-border {
    h6,
    p {
      max-width: $notification-max-width - (2 * $notification-margin) - (4 * $notification-padding) - $notification-icon - ($border-thickness + $notification-border-thick);
      &.iconless-width {
        max-width: $notification-max-width - (2 * $notification-margin) - (4 * $notification-padding) - ($border-thickness + $notification-border-thick);
      }
    }
  }

  .counter {
    align-items:     center;
    border-radius:   50%;
    color: 		     $color-dark-text;
    display: 	     flex;
    font-size: 	     0.8em;
    height: 	     $notification-counter-size;
    justify-content: center;
    left: 			 -7px;
    line-height: 	 100%;
    position: 		 absolute;
    top: 			 -5px;
    width: 			 $notification-counter-size;
  }

  .close {
    cursor:   pointer;
    position: absolute;
    right:    $notification-margin;
    top: 	  ($notification-margin / 2);
  }

  &.info {
    background-color: $color-info-lighter;
    border: 		  solid $notification-border-std $color-info-light;

    & > .close {
      color: $color-info;
    }

    & > .counter {
      background: $color-info-lighter;
      border: 	solid $notification-border-std $color-info;
    }

    &.top-border    { border-top:    solid $notification-border-thick $color-info; }
    &.bottom-border { border-bottom: solid $notification-border-thick $color-info; }
    &.left-border   { border-left:   solid $notification-border-thick $color-info; }
    &.right-border  { border-right:  solid $notification-border-thick $color-info; }
  }

  &.success {
    background-color: $color-success-lighter;
    border: 		  solid $notification-border-std $color-success-light;

    & > .close {
      color: $color-success;
    }

    & > .counter {
      background: $color-success-lighter;
      border: 	solid $notification-border-std $color-success;
    }

    &.top-border    { border-top:    solid $notification-border-thick $color-success; }
    &.bottom-border { border-bottom: solid $notification-border-thick $color-success; }
    &.left-border   { border-left:   solid $notification-border-thick $color-success; }
    &.right-border  { border-right:  solid $notification-border-thick $color-success; }
  }

  &.warning {
    background-color: $color-warning-lighter;
    border: solid $notification-border-std $color-warning-light;

    & > .close {
      color: $color-warning;
    }

    & > .counter {
      background: $color-warning-lighter;
      border:     solid $notification-border-std $color-warning;
    }

    &.top-border    { border-top: 	 solid $notification-border-thick $color-warning; }
    &.bottom-border { border-bottom: solid $notification-border-thick $color-warning; }
    &.left-border   { border-left: 	 solid $notification-border-thick $color-warning; }
    &.right-border  { border-right:  solid $notification-border-thick $color-warning; }
  }

  &.error {
    background-color: $color-error-lighter;
    border: 		  solid $notification-border-std $color-error-light;

    & > .close {
      color: $color-error;
    }

    & > .counter {
      background: $color-error-lighter;
      border: 	solid $notification-border-std $color-error;
    }

    &.top-border    { border-top:    solid $notification-border-thick $color-error; }
    &.bottom-border { border-bottom: solid $notification-border-thick $color-error; }
    &.left-border   { border-left: 	 solid $notification-border-thick $color-error; }
    &.right-border  { border-right:  solid $notification-border-thick $color-error; }
  }
}
