@import "tools/mzkbase";
.scene {
  background-image: linear-gradient(rgb(60, 64, 93), rgb(6, 6, 9) 85%);
  height: calc(100% - 6rem);
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 80%;
}

.aside {
  border-left: solid 1px #21252B;
  height: calc(100% - 6rem);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 20%;

  .user {
    display: flex;
    justify-content: space-between;

    .user-avatar {
      cursor: pointer;
    }

    form {
      height: 32px;
      position: relative;
      width: 32px;

      img, input {
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
      }

      input {
        border: inherit;
        height: 100%;
        padding: 0;
        width: 100%;

        &:active,
        &:focus,
        &:hover { /* Make input invisible on logout icon */
          background-color: inherit;
          border: inherit;
          box-shadow: inherit;
        }
      }
    }
  }
}

.footbar {
  bottom: 0;
  height: 6rem;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
