@import "front/scss/tools/base";
.scene {
  background-image: linear-gradient(rgb(60, 64, 93), rgb(6, 6, 9) 85%);
  height: calc(100% - var(--mzk-footbar-height));
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: calc(100% - var(--mzk-aside-width));
}

.aside {
  border-left: solid 1px #21252B;
  height: calc(100% - var(--mzk-footbar-height));
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: var(--mzk-aside-width);

  .user {
    display: flex;
    justify-content: space-between;

    .user-avatar {
      cursor: pointer;
    }

    form {
      height: 32px;
      position: relative;
      width: 32px;

      img, input {
        position: absolute;
        right: 0;
        top: 0;
        width: 32px;
      }

      input {
        border: inherit;
        height: 100%;
        padding: 0;
        width: 100%;

        &:active,
        &:focus,
        &:hover { /* Make input invisible on logout icon */
          background-color: inherit;
          border: inherit;
          box-shadow: inherit;
        }
      }
    }
  }
}

@import 'components/footbar';
/* Import as last instruction to override standard behavior */
@import "tools/shortcut";
