$dragdropAnimationLength: 0.25s;

.mzk-dragdrop {
  &::after {
    content: "Drop your music here";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    background: rgba(255,255,255,0.2);
    border: dashed 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    opacity: 0;
      transition: opacity $dragdropAnimationLength, z-index 0s $dragdropAnimationLength;
  }

  &.mzk-dragdrop-show {

    & > * {
      filter: blur(3px);
      pointer-events: none;
    }

    &::after {
      z-index: 1;
      opacity: 1;
      transition: opacity $dragdropAnimationLength;
    }
  }
}