<!-- Display the information about a minimal artist. -->
<div th:fragment="displayMinimalArtist(artist, size)" xmlns:th="http://www.thymeleaf.org" th:data-id="${artist.id}" class="item">
  <!--/*@thymesVar id="artist" type="org.manazeak.manazeak.entity.dto.library.artist.ArtistMinimalInfoDto"*/-->
  <div th:replace="~{/include/artist/artistPictureFragment.html :: artistPictureDisplay (*{artist.cover}, *{size})}"></div>
  <h2 th:text="*{artist.name}"></h2>
  <span th:if="*{artist.isLabel}" class="label-artist">
    <img alt="artist-is-label" class="artist-is-label" src="static/img/object/label.svg">
  </span>
</div>
