.menu-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .item {
    align-items: center;
    background-color: var(--mzk-color-bg-light);
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    margin: 10px;
    padding: 20px;
  }
}
