/*
 *
 *
/* Global elements */
.animate /* TopBar Dropdown */
{
    -webkit-transition:	max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s;
  	-moz-transition:	max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s;
  	-o-transition: 		max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s;
  	transition: 		max-width .2s, max-height .2s, width .2s, height .2s, background-color .2s, padding-bottom .2s;
}

.btn /* Button global styling */
{
	border: solid 1px $black-eighth;

	background-color: $white-pure;
	color: $black-pure;
	padding: 5px 10px;

	cursor: pointer;
	font-family: Helvetica, sans-serif;
	font-size: .9em;

	@include transition(0.5s);
}
