// Scan modal settings
$scanModalHeight:   400px;
$scanModalWidth:    600px;
$scanHeaderHeight:  ($scanModalHeight / 6);
$scanContentHeight: ($scanModalHeight / 6) * 4;
$scanFooterHeight:  ($scanModalHeight / 6);

$spinnerSide: 110px;
$verticalPadding: 10px;


// Edit modal settings
$editModalHeight:   600px;
$editModalWidth:    800px;
$editHeaderHeight:  ($editModalHeight / 10);
$editContentHeight: ($editModalHeight / 10) * 8;
$editFooterHeight:  ($editModalHeight / 10);


#modal {
    height: 100%;
    position: fixed;
    width: 100%;
  	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;


    #scan {
        border: solid 1px black;
        border-radius: 3px;
        position: relative;
        min-height: $scanModalHeight;
        background: #fff;
        width: $scanModalWidth;

        -webkit-user-select: none;  /* Chrome/Safari */
        -moz-user-select: none;     /* Firefox */


        #header,
        #content,
        #footer {
            box-sizing: border-box;
            position: absolute;
            text-align: center;
            width: 100%;
        }

        #header,
        #footer {
            padding: $verticalPadding 30px;
        }

        #header {
            border-bottom: solid 1px black;
            top: 0;
            height: $scanHeaderHeight;

            h1 {
                line-height: ($scanHeaderHeight - (2 * $verticalPadding));
                margin: 0;
            }
        }


        #content {
            top: $scanHeaderHeight;
            height: $scanContentHeight;
            padding: $verticalPadding 50px;

            img {
                width: 100px;
                height: 100px;

                margin: 16px 0;
            }
        }


        #footer {
            border-top: solid 1px black;
            height: $scanFooterHeight;
            top: ($scanHeaderHeight + $scanContentHeight);

            p {
                line-height: ($scanFooterHeight - (2 * $verticalPadding));
                margin: 0;
            }
        }
    }


    #edit {
        border: solid 1px black;
        border-radius: 3px;
        position: relative;
        min-height: $editModalHeight;
        background: #fff;
        width: $editModalWidth;

        #header,
        #content,
        #footer {
            box-sizing: border-box;
            position: absolute;
            text-align: center;
            width: 100%;
        }


        #header {
            border-bottom: solid 1px black;
            top: 0;
            height: $editHeaderHeight;
            padding: $verticalPadding 30px;

            h1 {
                line-height: ($editHeaderHeight - (2 * $verticalPadding));
                margin: 0;
            }
        }


        #content {
            top: $editHeaderHeight;
            height: $editContentHeight;
            position: relative;

            #trackListContainer {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                display: inline-block;
                width: 225px;
            }

            #inputContainer {
                float: right;
                position: relative;
                height: 100%;
                display: inline-block;
                width: calc(100% - 225px);
            }

            .inputStandAlone {
                width: 100% !important;
            }
        }


        #footer {
            border-top: solid 1px black;
            text-align: right;
            height: $editFooterHeight;
            top: ($editHeaderHeight + $editContentHeight);
            padding: $verticalPadding;


            .button {
                display: inline-block;
                border: solid 1px black;
                border-radius: 2px;
                cursor: pointer;
                box-sizing: border-box;
                height: 40px;
                line-height: 40px;
                padding: 0 25px;
                margin-left: 5px;
            }
        }
    }
}


.overlay {
    cursor: not-allowed;
}


@keyframes lds-dual-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.lds-dual-ring {
    position: relative;
}


.lds-dual-ring div {
    z-index: 9999;
    position: absolute;
    width: $spinnerSide;
    height: $spinnerSide;
    left: ($scanModalWidth / 2) - $spinnerSide;
    top: 10px;
    border-radius: 50%;
    border: 4px solid #000;
    border-color: #000 transparent;
    -webkit-animation: lds-dual-ring 1.3s linear infinite;
    animation: lds-dual-ring 1.3s linear infinite;
}