<div class="modal" xmlns:th="http://www.thymeleaf.org">
  <!--/*@thymesVar id="track" type="org.manazeak.manazeak.entity.dto.library.track.TrackCompleteInfoDto"*/-->
  <span class="close" id="modal-close">&#10006;</span>
  <div class="container">
    <header>
      <h1 th:text="${track.title}"></h1>
      <h2 class="track-performers">
        <!-- <span th:each="performer : ${track.performers}" th:text="*{performer.name}" th:attr="data-id=*{performer.id}"></span> -->
      </h2>
    </header>
    <div id="waveform-container" class="waveform-container"></div>
  </div>
  <div class="footer">
    <button id="modal-footer-previous" th:text="#{modal.track.previous}"></button>
    <button id="modal-footer-close" th:text="#{modal.footer.close}"></button>
    <button id="modal-footer-next" th:text="#{modal.track.next}"></button>
  </div>
</div>
