{% load staticfiles %}
<div class="single-releaseArtist-page">
    <div class="sp-artist-header">
        <div class="artist-cover-container">
            <img src="{% static 'img/object/artist.svg' %}" class="artist-pp" alt="artist-profile-pic">
        </div>
        <div class="artist-info">
            <div class="artist-main-info">
                <h1 class="artist-title">Artist Name</h1>
                <h2 class="artist-years">1992 – 2018</h2>
                <h2 class="artist-labels"><em>Never Say Die, UKF Records</em></h2>
            </div>
            <div class="artist-detailed-info">
                <div class="labels">
                    <h4>&nbsp;</h4>
                    <h4>Country</h4>
                    <h4>Genre</h4>
                </div>
                <div class="values">
                    <h4 class="artist-track-composition">14 albums – 18 tracks – 1 hr 13 min</h4>
                    <h4 class="artist-country">France</h4>
                    <h4 class="artist-genres">Progressive Rock</h4>
                </div>
            </div>
            <div class="artist-controls">
                <button class="play-album">PLAY</button>
                <span><img src="{% static 'img/actions/more-hori.svg' %}" alt="options"></span>
            </div>
        </div>
    </div>
    <div class="sp-artist-albums"></div>
    <div class="sp-artist-random-tracks"></div>
</div>
