{% load staticfiles %}
<div class="single-album-page">
    <div class="album-header">
        <div class="album-cover-container">
            <img src="{% static 'img/tag/album.svg' %}" class="album-cover">
        </div>
        <div class="album-info">
            <div class="album-main-info">
                <h1 class="album-title">Album Title</h1>
                <h2 class="album-artist">Album Artist</h2>
                <h2><i>2018 – UKF Records</i></h2>
            </div>
            <div class="album-detailed-info">
                <div class="labels">
                    <h4>18 tracks</h4>
                    <h4>Country</h4>
                    <h4>Genre</h4>
                </div>
                <div class="values">
                    <h4>1 hr 13 min</h4>
                    <h4>France</h4>
                    <h4>Progressive Rock, Psychedelic Rock</h4>
                </div>
            </div>
            <div class="album-controls">
                <button>PLAY</button>
                <span><img src="{% static 'img/actions/more-hori.svg' %}"></span>
            </div>
        </div>
    </div>
    <div class="album-tracks">
        <div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div><div>
            <h2>HEY</h2>
            <p>HOOO</p>
        </div>
    </div>
</div>
