{% load staticfiles %}
<div class="single-genre-page">
    <div class="album-header">
        <div class="album-cover-container">
            <img src="{% static 'img/object/genre.svg' %}" class="album-cover" alt="genre-image">
        </div>
        <div class="album-info">
            <div class="album-main-info">
                <h1 class="album-title">Genre Name</h1>
            </div>
            <div class="album-detailed-info">
                <div class="values">
                    <h4 class="album-track-composition">3 arttists – 18 tracks – 1 hr 13 min</h4>
                    <h4 class="album-country">France; Osrtich</h4>
                </div>
            </div>
            <div class="album-controls">
                <button class="play-album">PLAY</button>
                <span><img src="{% static 'img/actions/more-hori.svg' %}" alt="options"></span>
            </div>
        </div>
    </div>
    <div class="album-tracks"></div>
</div>
