{% load staticfiles %}
<div class="single-artist-page">
    <div class="sa-left">
        <div class="sa-pp-container">
            <img src="{% static 'img/object/artist.svg' %}" class="sa-artist-pp" alt="artist-profile-pic">
        </div>
        <div class="sa-artist-info">
            <div class="sa-info-header">
                <h1 class="sa-artist-name">Artist Name</h1>
                <h2 class="sa-active-year">1992 – 2020</h2>
            </div>
            <div class="sa-info-content">
                <h4 class="sa-composition">0 albums – 0 tracks – 00:00</h4>
                <h4 class="sa-artist-countries"></h4>
                <h4 class="sa-artist-genres"></h4>
            </div>
        </div>
    </div>
    <div class="sa-right"></div>
</div>
