<form class="user-profile-view">
    <!--/*@thymesVar id="userInfo" type="org.manazeak.manazeak.entity.dto.user.MzkUserEditDto"*/-->
    <div class="user-info" th:object="${userInfo}" xmlns:th="http://www.thymeleaf.org">
        <div class="profile-header">
            <div th:replace="include/avatar/avatarFragment.html :: avatarDisplay(*{avatar})"></div>
            <!-- Display the file picker for the avatar of the user. -->
            <p th:each="error : ${#fields.errors('avatar')}" th:text="${error}"></p>
            <input accept=".jpg,.png" id="avatar-input" th:field="*{avatar}" type="file"/>
            <p id="username" th:text="*{username}"></p>
        </div>
        <div class="info-container">
            <label for="email" th:text="#{user.tellusmore.email}"></label>
            <input id="email" th:value="${userInfo.email}">/>
            <label for="name" th:text="#{user.tellusmore.name}"></label>
            <input id="name" th:value="*{name}"/>
            <label for="surname" th:text="#{user.tellusmore.surname}"></label>
            <input id="surname" th:value="*{surname}"/>
            <label for="bio" th:text="#{user.tellusmore.bio}"></label>
            <input id="bio" th:value="*{bio}"/>
            <label for="birthdate" th:text="#{user.tellusmore.birthday}"></label>
            <input id="birthdate" th:text="*{birthDate}"/>
            <label for="country" th:text="#{user.tellusmore.country}"></label>
            <input id="country" th:text="*{country}"/>
            <label for="locale-select" th:text="#{user.tellusmore.language}"></label>
            <select id="locale-select" th:field="*{localeId}">
                <!-- Adding the rest of the objects in the database. -->
                <option th:each="locale : ${locales}" th:text="${locale.value}" th:value="${locale.localeId}"></option>
            </select>
        </div>
    </div>
</form>
