<div class="user-profile-view">
  <div class="user-info" th:object="${userInfo}" xmlns:th="http://www.thymeleaf.org">
    <div class="profile-header">
      <!--/*@thymesVar id="userInfo" type="org.manazeak.manazeak.entity.dto.user.MzkUserDetailProjection"*/-->
      <div class="avatar-container" th:if="*{avatar == null}">
        <!-- User doesn't have an avatar. Displaying default -->
        <img alt="user-avatar" src="../../../../../../../static/img/default/user.svg">
      </div>
      <div class="avatar-container" th:unless="*{avatar == null}">
        <img alt="user-avatar" th:src='*{"/resources/avatars/"+avatar}'>
      </div>
      <p id="username" th:text="*{username}"></p>
      <div class="reset-password">
        <label for="password" th:text="#{user.profile.reset_password}"></label>
        <img id="password" src="../../../../../../../static/img/actions/passkey.svg" alt="reset-password">
      </div>
    </div>
    <div class="info-container">
      <label for="email" th:text="#{user.tellusmore.email}"></label>
      <p id="email" th:text="${userInfo.email}"></p>
      <label for="name" th:text="#{user.tellusmore.name}"></label>
      <p id="name" th:text="*{name}"></p>
      <label for="surname" th:text="#{user.tellusmore.surname}"></label>
      <p id="surname" th:text="*{surname}"></p>
      <label for="bio" th:text="#{user.tellusmore.bio}"></label>
      <p id="bio" th:text="*{bio}"></p>
      <label for="birthdate" th:text="#{user.tellusmore.birthday}"></label>
      <p id="birthdate" th:text="*{birthDate}"></p>
      <label for="country" th:text="#{user.tellusmore.country}"></label>
      <p id="country" th:text="*{country}"></p>
      <label for="locale" th:text="#{user.tellusmore.language}"></label>
      <p id="locale" th:text="*{locale}"></p>
      <div class="invitation-code">
        <label for="invite-code" th:text="#{user.register.invite_code}"></label>
        <img id="copy-invite" src="../../../../../../../static/img/actions/copy.svg" alt="copy-invite">
        <img id="copy-invite-link" src="../../../../../../../static/img/actions/share.svg" alt="copy-invite-link">
      </div>
      <p id="invite-code" th:text="*{inviteCode}"></p>
    </div>
  </div>
</div>
