<!--/*@thymesVar id="userInfo" type="org.manazeak.manazeak.entity.dto.user.MzkUserDetailProjection"*/-->
<div xmlns:th="http://www.thymeleaf.org" th:object="${userInfo}" class="user-profile-view">
  <div class="user-profile-header">
    <div class="user-profile-header-left">
      <div th:replace="include/avatar/avatarFragment.html :: avatarDisplay(*{avatar})"></div>
      <p id="username" th:text="*{username}"></p>
    </div>
    <div class="user-profile-header-center">
      <div>
        <label for="email" th:text="#{user.tellusmore.email}"></label>
        <p id="email" th:text="${userInfo.email}"></p>
      </div>
      <div>
        <label for="name" th:text="#{user.tellusmore.name}"></label>
        <p id="name" th:text="*{name}"></p>
      </div>
      <div>
        <label for="surname" th:text="#{user.tellusmore.surname}"></label>
        <p id="surname" th:text="*{surname}"></p>
      </div>
      <div>
        <label for="bio" th:text="#{user.tellusmore.bio}"></label>
        <p id="bio" th:text="*{bio}"></p>
      </div>
      <div>
        <label for="birthdate" th:text="#{user.tellusmore.birthday}"></label>
        <p id="birthdate" th:text="*{birthDate}"></p>
      </div>
      <div>
        <label for="country" th:text="#{user.tellusmore.country}"></label>
        <p id="country" th:text="*{country}"></p>
      </div>
      <div>
        <label for="locale" th:text="#{user.tellusmore.language}"></label>
        <p id="locale" th:text="*{locale}"></p>
      </div>
      <div>
        <label for="member-since" th:text="#{user.tellusmore.since}"></label>
        <p id="member-since" th:text="*{memberSince}"></p>
      </div>
      <div>
        <label for="invite-code" th:text="#{user.tellusmore.inviteCode}"></label>
        <p id="invite-code" th:text="*{inviteCode}"></p>
      </div>
      <div>
        <div th:replace="include/avatar/avatarFragment.html :: avatarDisplay(*{parentAvatar})"></div>
        <p id="parent-name" th:text="*{parentName}"></p>
        <p id="parent-surname" th:text="*{parentSurname}"></p>
      </div>
    </div>
    <div class="user-profile-header-right">
      <div class="cmd">
        <label>Edit Account</label>
        <img alt="edit-account" class="edit-account" id="edit-account" src="static/img/actions/edit.svg">
      </div>
      <div class="cmd">
        <label for="password" th:text="#{user.profile.reset_password}"></label>
        <img alt="reset-password" id="password" src="static/img/actions/passkey.svg">
      </div>
      <div class="cmd invite-code">
        <label for="invite-code" th:text="#{user.register.invite_code}"></label>
        <img alt="copy-invite-link" id="copy-invite-link" src="static/img/actions/share.svg">
        <img alt="copy-invite" id="copy-invite" src="static/img/actions/copy.svg">
      </div>
    </div>
  </div>
</div>
