.main-page {
  display: flex;
  height: 100%;
  width: 100%;
}

.mp-suggestion {
	height: 100%;
	padding: 25px;
	width: calc(100% - 370px);
}

.mp-suggestions-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
  width: 100%;
}

.mp-suggestions-container h3 {
	text-align: center;
}

.mp-suggestion-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
	padding: 10px;
}

.mp-suggestion-item {
	background-color: none;
	border-radius: 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	display: flex;
	position: relative;
	justify-content: center;
	margin: 0 10px;
	width: auto;
	flex-direction: column;
	padding: 5px;

	transition: background-color .2s ease-out, border-radius .2s ease, box-shadow .2s ease-in;
}

.mp-suggestion-item:active,
.mp-suggestion-item:focus,
.mp-suggestion-item:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	box-shadow: 0px 0px 10px -2px #56D45B;
}

.mp-suggestion-item img {
	border-radius: 5px;
	height: 90px;
	width: 90px;
}

.mp-suggestion-item p {
	font-size: .9rem;
	padding: 3px;
	margin-top: 5px;
	text-align: center;
}

/* Collection land */

.mp-collection {
	border-right: solid 1px rgba(225, 225, 225, 0.5);
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 25px;
	width: 370px;
}

.mp-collection-group h3 {
	font-weight: lighter;
	margin-bottom: 10px;
	text-align: right;
}

.mp-collection-group h3 span {
	line-height: 100%;
	vertical-align: text-bottom;
}

.mp-collection-group h3 span img {
	cursor: pointer;
	height: 1rem;
	margin-left: 1rem;
}

.mp-collection-group ul {
	font-size: .9rem;
	margin-bottom: 20px;
	padding: 0;
}

.mp-collection-group ul li {
	background-color: none;
	border-radius: 0;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	cursor: pointer;
	display: grid;
	grid-template-columns: 60px 1fr;
	grid-template-rows: repeat(3, 20px);
	padding: 5px 10px 5px 0;
	margin: 5px 0;

	transition: background-color .2s ease-out, border-radius .2s ease, box-shadow .2s ease-in;
}

.mp-collection-group ul li:active,
.mp-collection-group ul li:focus,
.mp-collection-group ul li:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
	box-shadow: 0px 0px 10px -2px #56D45B;
}

.mp-collection-group ul li img {
	align-self: center;
	height: 40px;
	justify-self: center;
	grid-row: 1 / span 3;
}

.mp-collection-group ul li p {
	color: rgb(200, 200, 200);
	font-size: .9em;
	font-style: italic;
	font-weight: inherit;
	padding-left: 20px;
}

.mp-collection-group ul li p.mp-collection-title {
	color: white;
	font-style: inherit;
	font-weight: bold;
	padding-left: 10px;
}
