.single-releaseArtist-page,
.single-artist-page,
.single-producer-page,
.single-label-page {
  height: 100%;
  width: 100%;

  .sp-artist-header {
    border-bottom: solid $mzk-border-width $mzk-color-text-light-alpha-25;
    display: flex;
    height: 300px;
    padding: 0 5%;

    div {
      display: flex;
    }

    .artist-cover-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      width: 300px;

      img {
        width: 95%;
      }
    }

    .artist-info {
      flex-direction: column;
      justify-content: space-around;
      padding-left: ($mzk-padding * 3);
      width: calc(100% - 300px);

      h1 {
        margin-bottom: $mzk-margin;
      }

      h2 {
        color: $mzk-color-text-darker;
      }

      h4 {
        padding-left: ($mzk-padding * 2);
      }

      p {
        padding-top: ($mzk-padding * 1.5);
      }

      .artist-main-info {
        flex-direction: column;
      }

      .artist-controls {
        flex-direction: row;
      }

      .artist-detailed-info {
        flex-direction: row;

        & > div {
          flex-direction: column;

          &.labels {
            text-align: right;
          }

          &.values {
            text-align: left;
          }
        }
      }

      button,
      span {
        margin: 0 $mzk-margin;

        &:last-child {
          padding: 0;
        }

        img {
          cursor: pointer;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  .sp-artist-albums {
    align-items: flex-end;
    border-bottom: solid $mzk-border-width $mzk-color-text-light-alpha-25;
    display: flex;
    height: 220px;

    .sp-artist-album {
      align-items: center;
      background-color: transparent;
      border-radius: 0;
      box-shadow: 0 0 0 0 transparent;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: $mzk-margin;
      padding: $mzk-padding;
      position: relative;
      text-align: center;
      width: 150px;

      transition: background-color $mzk-animation-duration ease-out,
                  border-radius $mzk-animation-duration ease,
                  box-shadow $mzk-animation-duration ease-in;

      &:active,
      &:focus,
      &:hover {
        background-color: $mzk-color-primary-alpha-10;
        border-radius: $mzk-border-radius;
        box-shadow: 0 0 10px -2px $mzk-color-primary;
      }

        img {
          background-color: $mzk-color-bg;
          border-radius: $mzk-border-radius;
          height: 120px;
          width: 120px;
        }

        p {
          font-size: .9rem;
          margin-top: 5px;
          padding: 3px;
          text-align: center;
        }
    }
  }

  .sp-artist-random-tracks {
    display: block;
    height: calc(100% - 520px);
    overflow: hidden;

    div.track {
      background: $mzk-color-bg-darker-alpha-25;
      cursor: pointer;
      display: flex;
      height: 35px;
      align-items: center;
      margin: ($mzk-margin / 2) 5%;
      user-select: none;

      &:nth-child(2n) {
        background: $mzk-color-bg-dark-alpha-25;
      }

      &.selected {
        background-color: $mzk-color-primary-alpha-50 !important; // Important to 'z-index' over playing bg-color
      }

      &.playing {
        background-color: $mzk-color-secondary-alpha-50;
        box-shadow: 0 0 $margin rgba(255, 255, 255, 0.1);

        &::before {
          content: '';
          background: url(/static/img/player/play.svg);
          height: (3 * 35px) / 4;
          width: (3 * 35px) / 4;
          opacity: 0.5;
          margin-top: 35px / 8;
          position: absolute;
          right: 100px;
          z-index: 998;
        }
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 150px);

        &:first-child {
          margin-left: $mzk-margin;
        }

        &:last-child {
          text-align: right;
          margin-right: $mzk-margin;
          width: 100px;
        }
      }
    }
  }
}

.single-album-page {
  height: 100%;
  width: 100%;

  .album-header {
    border-bottom: solid $mzk-border-width $mzk-color-text-light-alpha-25;
    display: flex;
    height: 300px;
    padding: 0 5%;

    div {
      display: flex;
    }

    .album-cover-container {
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      width: 300px;

      img {
        width: 95%;
      }
    }

    .album-info {
      flex-direction: column;
      justify-content: space-around;
      padding-left: ($mzk-padding * 3);
      width: calc(100% - 300px);

      h1 {
        margin-bottom: $mzk-margin;
      }

      h2 {
        color: $mzk-color-text-darker;
      }

      h4 {
        padding-left: ($mzk-padding * 2);

        img {
          cursor: pointer;
          height: 1.125rem;
        }
      }

      p {
        padding-top: ($mzk-padding * 1.5);
      }

      .album-artist {
        color: $mzk-color-text-darker;
        cursor: pointer;

        transition: color $mzk-animation-duration ease;

        &:active,
        &:focus,
        &:hover {
          color: $mzk-color-primary;
        }
      }

      .album-genres {
        a {
          color: white;
          cursor: pointer;

          transition: color $mzk-animation-duration ease;

          &:active,
          &:focus,
          &:hover {
            color: $mzk-color-primary;
          }
        }
      }

      .album-main-info {
        flex-direction: column;
      }

      .album-controls {
        flex-direction: row;
      }

      .album-detailed-info {
        flex-direction: row;

        & > div {
          flex-direction: column;

          &.labels {
            text-align: right;
          }

          &.values {
            text-align: left;
          }
        }
      }

      button,
      span {
        margin: 0 $mzk-margin;

        &:last-child {
          padding: 0;
        }

        img {
          cursor: pointer;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  .album-tracks {
    display: block;
    height: calc(100% - 300px);
    overflow: hidden;

    div.track {
      background: $mzk-color-bg-darker-alpha-25;
      cursor: pointer;
      display: grid;
      grid-template-columns: 50px 1fr 100px;
      grid-template-rows: repeat(2, 1fr);
      align-items: center;
      margin: ($mzk-margin / 2) 5%;
      user-select: none;

      transition: background-color $mzk-animation-duration ease-in;

      &:nth-child(2n) {
        background: $mzk-color-bg-dark-alpha-25;
      }

      &.selected {
        background-color: $mzk-color-primary-alpha-50 !important; // Important to 'z-index' over playing bg-color
      }

      &.playing {
        background-color: $mzk-color-secondary-alpha-50;
        box-shadow: 0 0 $margin rgba(255, 255, 255, 0.1);

        &::before {
          content: '';
          background: url(/static/img/player/play.svg);
          height: (3 * 35px) / 4;
          width: (3 * 35px) / 4;
          opacity: 0.5;
          margin-top: 35px / 8;
          position: absolute;
          right: 100px;
          z-index: 998;
        }
      }

      p {
        margin: 6px 0 3px 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:first-child {
          text-align: center;
        }
      }
    }
  }
}

.single-genre-page {
  height: 100%;
  width: 100%;

  .album-header {
    border-bottom: solid $mzk-border-width $mzk-color-text-light-alpha-25;
    display: flex;
    height: 300px;
    padding: 0 5%;

    div {
      display: flex;
    }

    .album-cover-container {
      align-items: center;
      flex-direction: column;
      height: 100%;
      justify-content: space-evenly;
      width: 300px;

      img {
        width: 95%;
      }
    }

    .album-info {
      flex-direction: column;
      justify-content: space-around;
      padding-left: ($mzk-padding * 3);
      width: calc(100% - 300px);

      h1 {
        margin-bottom: $mzk-margin;
      }

      h2 {
        color: $mzk-color-text-darker;
      }

      h4 {
        padding-left: ($mzk-padding * 2);
      }

      p {
        padding-top: ($mzk-padding * 1.5);
      }

      .album-main-info {
        flex-direction: column;
      }

      .album-controls {
        flex-direction: row;
      }

      .album-detailed-info {
        flex-direction: row;

        & > div {
          flex-direction: column;

          &.labels {
            text-align: right;
          }

          &.values {
            text-align: left;
          }
        }
      }

      button,
      span {
        margin: 0 $mzk-margin;

        &:last-child {
          padding: 0;
        }

        img {
          cursor: pointer;
          height: 35px;
          width: 35px;
        }
      }
    }
  }

  .album-tracks {
    display: block;
    height: calc(100% - 300px);
    overflow: hidden;

    div.track {
      background: $mzk-color-bg-darker-alpha-25;
      cursor: pointer;
      display: flex;
      height: 35px;
      align-items: center;
      margin: ($mzk-margin / 3) 5%;
      user-select: none;

      &:nth-child(2n) {
        background: $mzk-color-bg-dark-alpha-25;
      }

      &.selected {
        background-color: $mzk-color-primary-alpha-50 !important; // Important to 'z-index' over playing bg-color
      }

      &.playing {
        background-color: $mzk-color-secondary-alpha-50;
        box-shadow: 0 0 $margin rgba(255, 255, 255, 0.1);

        &::before {
          content: '';
          background: url(/static/img/player/play.svg);
          height: (3 * 35px) / 4;
          width: (3 * 35px) / 4;
          opacity: 0.5;
          margin-top: 35px / 8;
          position: absolute;
          right: 100px;
          z-index: 998;
        }
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: calc(100% - 150px);

        &:first-child {
          margin-left: $mzk-margin;
        }

        &:last-child {
          text-align: right;
          margin-right: $mzk-margin;
          width: 100px;
        }
      }
    }
  }
}
