@import 'utils/tools';
@import 'modals/modal';
@import 'components/topbar';
@import 'components/footbar';
@import 'views/views';

html, body {
    color:          $mzk-text;
    display:        flex;
    flex-direction: column;
    font-family:    Helvetica, serif;
    height:         100%;
    margin:         0;
    overflow:       hidden;
    padding:        0;
    width:          100%;
}

.mzk-main-container {
    background: $mzk-bg-normal;
    flex:       1 1 auto;
    overflow:   auto;
    width:      100%;

    & > .mzk-view {

        &.mzk-view-hide {
            z-index: -1;
        }
    }

}
