@import 'utils/tools';
@import 'components/topbar';
@import 'core/views/statsview';
@import 'components/dragdrop';
@import 'components/editTag';
@import 'components/elements/trackinfo';
@import 'components/elements/progressbar';
@import 'components/elements/volumebar';
@import 'components/elements/contextmenu';
@import 'components/notification';
@import 'core/views/listview';
@import 'core/views/partyview';
@import 'core/views/userview';
@import 'core/views/adminview';
@import 'components/footbar';

html, body {
    color: $primary-text;
    font-family: Helvetica, serif;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#spectrumContainer {
    background-color: chartreuse;
    bottom: 0;
    height: 200%;
    position: absolute;
    right: 0;
    width: 30%;
}

#mainContainer {
    background: $primary-color;
    height: calc(100% - 130px);
    position: absolute;
    top: 50px;
    width: 100%;

    & > .mzk-view {
        position: absolute;
        height: 100%;
        width: 100%;

        &.mzk-view-hide {
            z-index: -1;
        }
    }

}
