@import 'tools/tools';
@import 'ui/playlistbar';
@import 'ui/progressbar';
@import 'ui/volumebar';
@import 'components/contextmenu';
@import 'components/notification';
@import 'components/newlibrary';
@import 'components/listview';

@import 'components/topbar';
@import 'components/footbar';

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#spectrumContainer {
    width: 30%;
    height: 200%;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: chartreuse;
}

#mainContainer {
    width: 100%;
    height: calc(100% - 100px);
    top: 20px;
    position: absolute;
}

