@import "utils/tools";

html, body {
    align-items:      center;
    background-color: $mzk-bg-normal;
    background-image: radial-gradient($mzk-bg-normal 0%, $mzk-bg-strong 45%, $mzk-bg-darker 80%);
    color:            $mzk-text;
    display:          flex;
    font-family:      Helvetica, serif;
    height:           100%;
    margin:           0;
    overflow:         hidden;
    padding:          0;
    width:            100%;
}

@media (max-width: 1028px) {
    .mzk-user img {
        width: 65% !important;
    }

    .mzk-logo {
        opacity: 0;
    }
}

.mzk-fork {
    border:   0;
    position: absolute;
    right:    0;
    top:      0;
    z-index:  999;
}

.mzk-user {
    height:     auto;
    margin:     0;
    padding:    0;
    text-align: center;
    width:      100%;
    z-index:    2;

    img {
        width: 35%;
        -webkit-user-select: none;
        -moz-user-select:    none;
    }

    p {
        margin: ($mzk-margin * 2) 0 ;

        a {
            color:           $mzk-accent-color;
            text-decoration: none;
        }
    }

    form {
        background-color: $mzk-bg-strong;
        border: solid 1px $mzk-border-color;
        border-radius:    $mzk-border-radius * 2;
        box-sizing:       border-box;
        display:          table;
        height:           auto;
        margin-left:      auto;
        margin-right:     auto;
        padding:          $mzk-padding * 4;
        text-align:       center;
        width:            auto;

        p {
            margin-top: 0;
        }
    }


    input,
    button {
        display:       block;
        margin-left:   auto;
        margin-right:  auto;
        border-radius: ($mzk-border-radius * 2) - 1;
    }

    button {
        margin-bottom: 0;
    }

    .mzk-error {
        background-color: $mzk-bg-light;
        border:           solid $mzk-border-width $mzk-border-color;
        border-radius:    $mzk-border-radius * 2;
        left:             $mzk-margin * 2;
        padding:          $mzk-padding ($mzk-padding * 2);
        position:         absolute;
        text-align:       left;
        top:              $mzk-margin * 2;
        font-weight:      bold;

        ul {
            list-style: none;
            padding:    0;

            li {
                ul {
                    margin-left: $mzk-margin;

                    li {
                        margin-bottom: $mzk-margin;
                        font-weight:   normal;
                    }
                }
            }
        }
    }

    .mzk-error:empty {
        background-color: transparent;
        border:           solid 0 transparent;
    }

    .mzk-logo {
        bottom:        $mzk-margin * 4;
        height:        auto;
        left:          $mzk-margin * 4;
        position:      absolute;
        width:         20%;
    }
}
