{% load i18n %}
{% load staticfiles %}
<div class="context-transparent-overlay">
  <div class="change-view-context">
    <div class="entry track-view" data-view="ListView">
      <img src="{% static "img/views/listview.svg" %}" alt="list-view">
      <p class="track-view-text">{% trans 'List view' %}</p>
    </div>
    <div class="entry album-view" data-view="AlbumView">
      <img src="{% static "img/views/albumview.svg" %}" alt="details-view">
      <p class="album-view-text">{% trans 'Details view' %}</p>
    </div>
  </div>
</div>
