{% load staticfiles %}

<div class="transparent-overlay">
  <div class="track-context">
    <div class="entry play-pause" data-view="ListView">
      <img src="{% static "img/player/play.svg" %}" alt="logout">
      <p><strong>Play</strong></p>
    </div>
    <div class="entry stop" data-view="ListView">
      <img src="{% static "img/player/stop.svg" %}" alt="logout">
      <p><strong>Stop playback</strong></p>
    </div>
    <div class="entry add-to-queue" data-view="ListView">
      <img src="{% static "img/actions/logout.svg" %}" alt="logout">
      <p><strong>Add to queue</strong></p>
    </div>
  </div>
</div>