{% load staticfiles %}

<div class="context-transparent-overlay">
  <div class="track-context">
    <div class="entry" data-view="ListView">
      <img src="{% static "img/player/track-previous.svg" %}" class="previous" alt="previous">
      <img src="{% static "img/player/play.svg" %}" class="play-pause" alt="play-pause">
      <img src="{% static "img/player/stop.svg" %}" class="stop" alt="stop">
      <img src="{% static "img/player/track-next.svg" %}" class="next" alt="next">
    </div>
      <hr>
    <div class="entry download" data-view="ListView">
      <img src="{% static "img/actions/download.svg" %}" alt="download">
      <p><strong>Download</strong></p>
    </div>
    <div class="entry add-to-queue" data-view="ListView">
      <img src="{% static "img/player/queue.svg" %}" alt="logout">
      <p><strong>Add to queue</strong></p>
    </div>
  </div>
</div>
