{% load i18n %}
{% load staticfiles %}
<div class="context-transparent-overlay">
  <div class="user-menu">
    <div class="entry admin" data-perm="ADMV">
      <img src="{% static "img/actions/option-gear.svg" %}" alt="admin-page">
      <p class="admin-text">{% trans 'Admin' %}</p>
    </div>
    <div class="entry community" data-perm="NONE">
      <img src="{% static "img/social/community.svg" %}" alt="community-page">
      <p class="community-text">{% trans 'Community' %}</p>
    </div>
    <div class="entry userid" data-perm="NONE">
      <img src="{% static "img/social/idcard.svg" %}" alt="godfather-id">
      <p class="userid-text">{% trans 'My ID' %}</p>
    </div>
    <div class="entry about" data-perm="NONE">
      <img src="{% static "img/about/about.svg" %}" alt="about">
      <p class="about-text">{% trans 'About' %}</p>
    </div>
    <div class="entry log-out" data-perm="NONE">
      <img src="{% static "img/actions/logout.svg" %}" alt="logout">
      <p class="log-out-text">{% trans 'Log Out' %}</p>
    </div>
  </div>
</div>
