<div class="context-transparent-overlay">
  <div class="playback-rate-context">
    <img id="playback-rate-slower" src="static/img/player/playbackrate-turtle.svg" alt="playback-rate-slower">
    <div id="playback-rate-text">1</div>
    <div id="playback-rate-container" class="playback-rate-container">
      <div id="playback-rate-thumb" class="playback-rate-thumb"></div>
      <div id="playback-rate-current" class="playback-rate-current"></div>
    </div>
    <img id="reset-playback-rate" src="static/img/actions/stretch-x.svg" alt="reset-playback-rate">
    <img id="playback-rate-faster" src="static/img/player/playbackrate-hare.svg" alt="playback-rate-faster">
  </div>
</div>
