<div class="context-transparent-overlay" xmlns:th="http://www.thymeleaf.org">
  <div class="queue-context">
    <div class="queue-tracks-header">
      <h2 th:text="#{nav.queue.queued_tracks}"></h2>
      <img src="/static/img/actions/close.svg" class="queue-remove-all-tracks hidden" alt="queue-remove-all-tracks">
    </div>
    <div class="queue">
      <p><i th:text="#{nav.queue.empty_tracks}"></i></p>
    </div>
    <div class="queue-play-object-header">
      <h2 th:text="#{nav.queue.currently_playing}"></h2>
    </div>
    <div class="play-object">
      <p><i th:text="#{nav.queue.empty_play_object}"></i></p>
    </div>
  </div>
</div>
