<div class="context-transparent-overlay">
  <div class="track-context">
    <div class="entry download">
      <img src="/static/img/actions/download.svg" alt="download">
      <p class="track-download">Download</p>
    </div>
    <div class="entry add-to-queue">
      <img src="/static/img/player/queue.svg" alt="logout">
      <p class="track-queue">Add to queue</p>
    </div>
    <div class="entry tap-bpm">
      <img src="/static/img/actions/tempo.svg" alt="logout">
      <p class="track-tap-bpm">Tap BPM (to nls)</p>
    </div>
  </div>
</div>
