<div class="context-transparent-overlay" xmlns:th="http://www.thymeleaf.org">
  <div class="track-context">
    <div class="entry download">
      <img src="/static/img/actions/download.svg" alt="download">
      <p class="track-download" th:text="#{view.trackctx.download}"></p>
    </div>
    <div class="entry add-to-queue">
      <img src="/static/img/player/queue.svg" alt="add-to-queue">
      <p class="track-queue" th:text="#{view.trackctx.addtoqueue}"></p>
    </div>
    <div class="entry add-to-playlist">
      <img src="/static/img/player/queue.svg" alt="add-(to-playlist)">
      <p class="track-playlist" th:text="#{view.trackctx.addtoplaylist}"></p>
    </div>
    <div class="entry tap-bpm">
      <img src="/static/img/actions/tempo.svg" alt="tap-bpm">
      <p class="track-tap-bpm" th:text="#{view.trackctx.tapbpm}"></p>
    </div>
    <div class="entry gen-mood">
      <!-- rest request : /regenerate-mood/{trackId}/ -->
      <img src="/static/img/actions/tempo.svg" alt="moodbar">
      <p class="track-regen-mood" th:text="#{view.trackctx.regeneratemood}"></p>
    </div>
  </div>
</div>
