#playlistBar {
    width: 100%;
    position: absolute;
    height: 40px;
    text-align: center;

    p {
        display: inline-block;
        margin: 0;
        padding: 0 15px;
        line-height: 40px;
        cursor: pointer;

        transition: 0.2s ease;
    }

    p.playlist:active,
    p.playlist:focus,
    p.playlist:hover {
        border-bottom: solid 3px blue;
    }

    .playlistLocked {
        border-bottom: solid 3px blue;
    }

    p.library:active,
    p.library:focus,
    p.library:hover {
        border-bottom: solid 3px red;
    }

    .libraryLocked {
        border-bottom: solid 3px red;
    }
}