#playlistBar {
    width: 100%;
    position: absolute;
    height: 40px;
    text-align: center;

    p {
        display: inline-block;
        margin: 0;
        padding: 0 15px;
        line-height: 40px;
        cursor: pointer;

        transition: 0.2s ease;
    }

    p:active,
    p:focus,
    p:hover {
        border-bottom: solid 3px blue;
    }
}