<!-- HTML fragment for the admin page skeleton -->
<div class="admin-page" xmlns:th="http://www.thymeleaf.org">
  <div class="admin-tabs" id="admin-tabs">
    <p class="selected" data-view="users" th:text="#{admin.tab.user}"></p>
    <p data-view="wishes" th:text="#{admin.tab.wish}"></p>
    <p data-view="syncthing" th:text="#{admin.tab.syncthing}"></p>
    <p data-view="commands" th:text="#{admin.tab.commands}"></p>
  </div>
  <!-- The following div needs to be filled with admin fragments, see Js source -->
  <div class="admin-view" id="admin-view"></div>
</div>
