<!-- HTML fragment used in admin/users view -->
<div class="commands-wrapper" xmlns:th="http://www.thymeleaf.org">
  <h1 th:text="#{admin.cmd.page_title}"></h1>
  <div class="command">
    <label for="scan-library" th:text="#{admin.cmd.scan_label}"></label>
    <button th:text="#{admin.cmd.scan_button}" id="scan-library"></button>
  </div>
  <div class="command">
    <label for="regen-thumbs" th:text="#{admin.cmd.thumbs_label}"></label>
    <button th:text="#{admin.cmd.thumbs_button}" id="regen-thumbs"></button>
  </div>
  <div class="command">
    <label for="regen-moods" th:text="#{admin.cmd.gen_moods_label}"></label>
    <button th:text="#{admin.cmd.gen_moods_button}" id="regen-moods"></button>
  </div>
  <div class="command">
    <label for="regen-moods" th:text="#{admin.cmd.moods_image_label}"></label>
    <button th:text="#{admin.cmd.moods_image_button}" id="regen-moods-image"></button>
  </div>
</div>
