<div class="user-list-wrapper">
    <div class="users-wrapper" id="users-wrapper">
        <div class="user-container" th:attr="data-id=*{user.userId}" th:each="user : ${users}"
             xmlns:th="http://www.thymeleaf.org">
            <!--/*@thymesVar id="users" type="org.manazeak.manazeak.entity.dto.admin.UserListLineDto"*/-->
            <span th:if="*{user.avatar == null}">
        <!-- User doesn't have an avatar. Displaying default -->
        <img alt="user-avatar" src="static/img/default/user.svg">
      </span>
            <span th:unless="*{user.avatar == null}">
        <!-- User do have an avatar -->
        <img alt="user-avatar" th:src='*{"/resources/avatars/"+user.avatar}'>
      </span>
            <p th:text="*{user.username}">username</p>
            <p th:text="*{user.roleValue}"></p>
            <p th:text="*{user.creationDate}"></p>
        </div>
    </div>
    <div class="badges-wrapper" id="badges-wrapper">
        <div class="badge-container" th:attr="data-id=*{badge.badgeId}" th:each="badge : ${badges}"
             xmlns:th="http://www.thymeleaf.org">
            <!--/*@thymesVar id="badges" type="org.manazeak.manazeak.entity.dto.user.badge.BadgeListLineDto"*/-->
            <!--/*@thymesVar id="badge" type="org.manazeak.manazeak.entity.dto.user.badge.BadgeListLineDto"*/-->
            <label for="badge-name" th:text="#{user.badge}"></label>
            <p id="badge-name" th:text="*{badge.label}">badge-name</p>
            <!-- iterating through the users -->
            <div th:each="user : *{badge.users}">
                <!--/*@thymesVar id="user" type="org.manazeak.manazeak.entity.dto.user.badge.UserBadgeDto"*/-->
                <p th:attr="data-id=*{user.userId}" th:text="*{user.username}">user</p>
            </div>
        </div>
        <!-- TODO fill with badges, with name and color, maybe an edit button ? -->
        <div class="badge-container new">
            <img alt="new-badge" src="static/img/navigation/expand.svg">
        </div>
    </div>
</div>
