.main-page {
  display: flex;
  height: 100%;
  padding: 0;
  width: 100%;
}

/* Suggestion land */

.mp-suggestion {
  height: 100%;
  width: 100%;

  .mp-suggestion-group {
    margin: 0 var(--mzk-padding-big);

    &:first-child {
      padding-top: var(--mzk-padding-huge);
    }

    &:last-child {
      padding-bottom: var(--mzk-padding-huge);
    }

    h1 {
      font-size: 1.7rem;
      line-height: 1.7rem;
      margin-bottom: var(--mzk-margin);
      text-align: center;

      span {
        color: var(--mzk-color-text-darker);
        cursor: pointer;
        font-size: .9rem;
        font-style: italic;
        margin-left: 2rem;

        transition: color var(--mzk-animation-duration) ease-out;

        &:active,
        &:focus,
        &:hover {
          color: var(--mzk-color-primary);
        }
      }
    }

    .mp-suggestion-item-container {
      align-items: flex-start;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-bottom: var(--mzk-margin);
      padding: var(--mzk-padding);

      .mp-suggestion-item {
        align-items: center;
        background-color: transparent;
        border-radius: 0;
        box-shadow: 0 0 0 0 transparent;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin: 0 var(--mzk-margin);
        padding: 5px;
        position: relative;
        width: 140px;

        transition: background-color var(--mzk-animation-duration) ease-out,
                    border-radius var(--mzk-animation-duration) ease,
                    box-shadow var(--mzk-animation-duration) ease-in;

        &:active,
        &:focus,
        &:hover {
          background-color: var(--mzk-color-primary-alpha-10);
          border-radius: var(--mzk-border-radius);
          box-shadow: 0 0 10px -2px var(--mzk-color-primary);
        }

        img {
          background-color: var(--mzk-color-bg);
          border-radius: var(--mzk-border-radius);
          height: 120px;
          width: 120px;
        }

        &.country img {
          background-color: transparent;
        }

        p {
          font-size: .9rem;
          margin-top: 5px;
          padding: 3px;
          text-align: center;
        }
      }
    }
  }
}
