#playlistBar { // TODO : rename
    height: 30px;
    position: absolute;
    text-align: center;
    top: 20px;
    width: 100%;

    div { // TODO : replace padding to var, and in gear etc according.
        box-sizing: border-box;
        cursor: pointer;
        display: inline-block;
        font-size: 0.9em;
        line-height: 30px;
        margin: 0;
        transition: 0.2s ease;

        &:not(.no-padding) {
            padding: 0 25px;
        }

        a#gear {
            background: url("/static/img/playlist/gear.svg");
            display : inline-block;
            height: 10px;
            margin-left: 10px;
            margin-top: 7.5px;
            opacity: 0;
            position: absolute;
            transition: 0.2s ease;
            width: 10px;
        }
    }

    div.playlist, div.library {
        &:hover a#gear {
            opacity: 1;
        }
    }

    div.playlist:active,
    div.playlist:focus,
    div.playlist:hover,
    div.playlist.playlistSelected {
        box-shadow: 0 -2px blue inset;
    }


    div.library:active,
    div.library:focus,
    div.library:hover,
    div.library.librarySelected {
        box-shadow: 0 -2px red inset;
    }
}
