.mzk-moodbar {
    box-sizing: border-box;
    cursor:     pointer;
    height:     16px;
    left:       10%;
    position:   absolute;
    width:      80%;

    .mzk-moodbar-thumb {
        @extend .mzk-hidden;
        background-color: white;
        border:           solid 1px $mzk-bg-darker;
        border-radius:    1px;
        box-sizing:       border-box;
        height:           16px;
        left:             -5px;
        margin-left:      0;
        position:         absolute;
        top:              0;
        width:            5px;
    }
}
