$progress-transition: 0.5s;
$progress-moodbar-height: 25px;
$progress-track-height: 4px;
$progress-thumb-height: 9px;

#progress-container {
 align-items: center;
 cursor: pointer;
 display: flex;
 flex-direction: column;
 justify-content: end;
 height: 30px;
 width: 100%;

 #progress-track {
   width: 100%;
   background-color: #555555;
   height: $progress-track-height;
   opacity: 0;
   position: relative;
   transition: opacity $progress-transition ease 0s;
   z-index: 2; // To make thumb appear always on top of moodbar

   #progress-current {
     background-color: lime;
     height: 100%;
     width: 0%;
     transition: width 0s ease 0s;
   }

   #progress-thumb {
     background-color: blue;
     border: solid 1px black;
     border-radius: 50%;
     bottom: calc(30% - #{$progress-track-height});
     height: $progress-thumb-height;
     left: 0%;
     margin-left: (- $progress-track-height);
     opacity: 0;
     position: absolute;
     transition: left 0s ease 0s, opacity $progress-transition ease 0s;
     width: $progress-thumb-height;
   }

   #progress-hover {
     background-color: grey;
     border: solid 1px black;
     border-radius: 3px;
     bottom: 55px;
     box-sizing: border-box;
     color: black;
     font-size: 0.7em;
     height: 20px;
     left: 0;
     line-height: 20px;
     opacity: 0;
     pointer-events: none;
     position: absolute;
     text-align: center;
     transition: opacity ($progress-transition / 2) ease;
     width: 60px;
     z-index: 2;
   }
 }

 #progress-moodbar {
   background-color: yellow;
   height: 0;
   opacity: 0;
   transition: height $progress-transition ease 0s, opacity $progress-transition ease 0s;
   width: 100%;
 }
}
