.progress-container {
    align-items: center;
    background: url('/static/img/logo/manazeak-text.svg') no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    max-width: calc(100% - (2 * 8rem));
    width: 2000px;
    z-index: 733;
  
    .progress-track {
      background-color: var(--color-bg-dark);
      height: .5rem;
      opacity: 0;
      position: relative;
      width: 100%;
      z-index: 734; // To make thumb appear always on top of moodbar
  
      @include transition(opacity .2s ease);
  
      .progress-current {
        background-color: var(--color-primary);
        border-top-right-radius: 0;
        height: 100%;
        width: 0;
  
        @include transition(width 0 ease);
      }
  
      .progress-thumb {
        @include bar-thumb();
      }
  
      &:hover {
        .progress-current {
          background-color: var(--color-secondary);
        }
  
        .progress-thumb {
          opacity: 1;
        }
      }
  
      .progress-hover {
        background-color: var(--color-txt);
        border: solid 1px black;
        border-radius: 3px;
        bottom: 8px;
        box-sizing: border-box;
        color: black;
        font-size: 0.7em;
        height: 20px;
        left: 0;
        line-height: 20px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        text-align: center;
        width: 60px;
        z-index: 734;
  
        @include transition(opacity .2s ease);
      }
    }
  
    .progress-moodbar {
      background-color: var(--color-bg-dark);
      height: 0; // Height is set in ProgressBar.js
      opacity: 0;
      width: 100%;
  
      transition: height .2s ease 0s, 
        opacity .2s ease 0s;
  
      svg {
        animation: .2s ease-in-out 0s;
      }
  
      svg.fade-in {
        g {
          animation: fadein .2s ease-in-out 0s;
        }
      }
  
      svg.fade-out {
        animation: fadeout .2s ease-in-out 0s;
      }
    }
  }
  