@use '/front/scss/tool/mixin';

.progress-container {
    align-items: center;
    background: url('/static/img/logo/manazeak-text.svg') no-repeat center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    max-width: calc(100% - (2 * 8rem));
    width: 2000px;
    z-index: 998;
  
    .progress-track {
      background-color: var(--color-bg-dark);
      border-bottom: solid 1px var(--color-txt-alpha-10);
      height: .75rem;
      opacity: 0;
      position: relative;
      width: 100%;
      z-index: 999; // To make thumb appear always on top of moodbar
  
      transition: opacity .2s ease;
  
      .progress-current {
        background-color: var(--color-primary);
        border-top-right-radius: 0;
        height: 100%;
        width: 0;
  
        transition: width 0 ease;
      }
  
      .progress-thumb {
        @include mixin.bar-thumb;
      }
  
      &:hover {
        .progress-current {
          background-color: var(--color-secondary);
        }
  
        .progress-thumb {
          opacity: 1;
        }
      }
  
      .progress-hover {
        background-color: var(--color-bg);
        border: solid 1px var(--color-txt-alpha-25);
        border-radius: 3px;
        bottom: 8px;
        box-sizing: border-box;
        color: var(--color-txt);
        font-size: 0.7em;
        height: 20px;
        left: 0;
        line-height: 20px;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        text-align: center;
        width: 60px;
        z-index: 1000; /* So hover is over navbar commands */
  
        transition: opacity .2s ease;
      }
    }
  
    .progress-moodbar {
      background-color: var(--color-bg-dark);
      height: 0; // Height is set in ProgressBar.js
      opacity: 0;
      width: 100%;
  
      transition: height .2s ease 0s, 
        opacity .2s ease 0s;
    }
  }
  