@use '/front/scss/tool/mixin';

.volumebar-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    position: absolute;
    right: calc(3rem + (2 * var(--margin-tiny)));
    text-align: center;
    width: 14rem;
  
    .volumebar-container {
      @include mixin.bar-container;
  
      .volumebar-current {
        width: 100%;
  
        @include mixin.bar-current;
      }
  
      .volumebar-thumb {
        left: 100%; // Volume is init with max value
  
        @include mixin.bar-thumb;
      }
  
      &:hover > .volumebar-current {
        background-color: var(--color-secondary);
      }
  
      &:hover > .volumebar-thumb {
        opacity: 1;
      }
    }
  }
  