{% load staticfiles %}

<div id="modal">
    <div id="edit">
        <div id="header">
            <h1>Edit metadata</h1>
        </div>
        <div id="content">
            <div id="trackListContainer"></div>
            <div id="inputContainer" class="inputStandAlone">
                <label>Title</label><br>
                <input placeholder="Title"/><br>
                <label>Year</label><br>
                <input placeholder="Year"/><br>
                <label>Artist</label><br>
                <input placeholder="Artist"/><br>
                <label>Track number</label><br>
                <input placeholder="Year"/><br>
                <label>Track total</label><br>
                <input placeholder="Year"/><br>
                <label>Album</label><br>
                <input placeholder="Album"/><br>
                <label>Disc number</label><br>
                <input placeholder="Year"/><br>
                <label>Disc total</label><br>
                <input placeholder="Year"/><br>
                <label>Composer</label><br>
                <input placeholder="Composer"/><br>
                <label>Performer</label><br>
                <input placeholder="Performer"/><br>
                <label>Genre</label><br>
                <input placeholder="Genre"/><br>
            </div>
        </div>
        <div id="footer">
            <div id="cancel" class="button">Cancel</div>
            <div id="save" class="button">Save</div>
        </div>
    </div>
</div>
