.account-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .account-tabs {
    align-items: flex-end;
    border-bottom: solid 1px var(--color-txt-alpha-10);
    display: flex;
    height: calc(var(--font-size) * 2);
    justify-content: center;
    width: 80%;

    p {
      border-bottom: solid 2px transparent;
      cursor: pointer;
      height: calc(var(--font-size) * 2);
      line-height: calc(var(--font-size) * 2);
      padding: 0 var(--padding-huge);
      margin: 0;
      vertical-align: middle;
      transition: border .3s;

      &.selected {
        border-bottom: solid 2px var(--color-primary);
      }
    }
  }

  .account-view {
    height: 100%;
    width: 100%;
  }

  .user-profile-view {
    display: flex;
    font-size: var(--font-size);
    height: 100%;
    justify-content: center;
    width: 100%;

    .user-profile-header {
      border-bottom: solid 1px var(--color-txt);
      display: flex;
      height: 30rem;
      margin: 0 var(--margin);
      width: calc(100% - (2 * var(--margin)));
  
      .user-profile-header-left {
        align-items: center;
        border-right: solid 1px var(--color-txt);
        display: flex;
        flex-direction: column;
        height: calc(30rem - (2 * var(--margin)));
        justify-content: center;
        margin: var(--margin) 0;
        position: relative;
        width: 30rem;
  
        .user-profile-picture {
          cursor: pointer;
          height: calc(20rem + var(--margin));
          width: 20rem;
    
          img {
            height: 100%;
            margin-bottom: var(--margin);
            width: 100%;
          }
        }
  
        .edit-account {
          height: var(--font-size-big);
          position: absolute;
          right: 1rem;
          top: 1rem;
        }

        h1 {
          display: -webkit-box;
          font-size: var(--font-size);
          margin: 0;
          overflow : hidden;
          text-align: center;
          text-overflow : ellipsis;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }

      .user-profile-header-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: var(--margin);
        width: calc(100% - 30rem - 25rem - var(--margin));

        div {
          display: flex;
          justify-content: space-between;
          margin: var(--margin-tiny) 0;

          label {
            font-style: italic;
          }

          p {
            margin: 0;
          }
        }
      }
  
      .user-profile-header-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: var(--margin);
        width: 28rem;

        .cmd {
          align-items: center;
          background-color: var(--color-bg-alpha-75);
          border-radius: .5rem;
          display: flex;
          justify-content: space-between;
          margin: var(--margin-small);
          padding: var(--padding);
          width: calc(100% - (2 * var(--margin-small)));

          img {
            cursor: pointer;
            height: var(--font-size-big);
            margin-left: .5rem;
          }

          &.invite-code {
            :nth-child(2) {
              margin-left: auto;
            }
          }
        }
      }
    }
  }
}
