.account-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .account-tabs {
    align-items: flex-end;
    border-bottom: solid 1px var(--mzk-color-text-alpha-10);
    display: flex;
    height: calc(var(--mzk-font-size) * 2);
    justify-content: center;
    width: 80%;

    p {
      border-bottom: solid 2px transparent;
      cursor: pointer;
      height: calc(var(--mzk-font-size) * 2);
      line-height: calc(var(--mzk-font-size) * 2);
      padding: 0 var(--mzk-padding-huge);
      margin: 0;
      vertical-align: middle;
      transition: border .3s;

      &.selected {
        border-bottom: solid 2px var(--mzk-color-primary);
      }
    }
  }

  .user-profile-view {
    display: flex;
    font-size: var(--mzk-font-size);
    height: 100%;
    justify-content: center;
    width: 100%;

    .user-info {
      display: flex;
      height: 100%;
      flex-direction: column;

      label {
        font-size: var(--mzk-font-size-small);
        font-style: italic;
      }

      .profile-header {
        margin: 2rem 0;

        .avatar-container {
          height: 12rem;
          text-align: center;

          img {
            height: calc(100% - 2.3rem);
            max-width: 85%;
            object-fit: contain;
          }
        }

        p {
          font-weight: bold;
          margin: 1rem 0 0;
          text-align: center;
        }

        .reset-password {
          align-items: center;
          display: flex;
          justify-content: center;
          margin: 1rem 0 0;

          img {
            cursor: pointer;
            height: 2rem;
            margin-left: 1rem;
            width: 2rem;
          }
        }
      }

      .info-container {
        height: calc(100% - 12rem);
        overflow: auto;
        padding: 0 1rem;
        text-align: center;

        div { // This div only applies to invite code wrapper (label and icons)
          align-items: center;
          display: flex;
          justify-content: center;
        }

        label + img {
          margin-left: 1rem;
        }

        img {
          cursor: pointer;
          height: 2rem;
          margin-left: .5rem;
          width: 2rem;
        }

        p {
          font-weight: bold;
          margin: 1rem 0 2rem 0;
        }
      }
    }

    .preference-wrapper {
      // Waiting for feature in front and back...
    }
  }
}
