.admin-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .admin-tabs {
    align-items: flex-end;
    border-bottom: solid 1px var(--color-txt-alpha-10);
    display: flex;
    height: calc(var(--font-size) * 2);
    justify-content: center;
    width: calc(100% - var(--margin));

    p {
      border-bottom: solid 2px transparent;
      cursor: pointer;
      height: calc(var(--font-size) * 2);
      line-height: calc(var(--font-size) * 2);
      padding: 0 var(--padding);
      margin: 0;
      vertical-align: middle;
      transition: border .3s;

      &.selected {
        border-bottom: solid 2px var(--color-primary);
      }
    }
  }

  .admin-view {
    height: calc(100% - (var(--font-size) * 2));
    width: 100%;

    .user-list-wrapper,
    .wish-grid-wrapper,
    .thumbnail-error-wrapper,
    .syncthing-wrapper {
      height: 100%;
      padding-top: 2rem;

      h1 {
        text-indent: 4rem;
      }
    }

    .user-list-wrapper,
    .thumbnail-error-wrapper,
    .wish-grid-wrapper {
      padding: 2rem;
    }

    .user-list-wrapper {
      display: flex;
      flex-direction: column;

      .users-wrapper {
        display: grid;
        grid-template-columns: repeat(auto-fill, 50rem);
        height: calc(100% - 14rem);
        width: 100%;

        .user-container {
          background-color: var(--color-bg-light);
          border-radius: 5px;
          cursor: pointer;
          display: grid;
          grid-template-columns: calc(var(--font-size) * 7) 1fr calc(var(--font-size) * 3);
          height: calc(var(--font-size) * 7);
          margin: var(--margin-small);

          span {
            height: calc(100% - 6px); // 3px dashed border for DnD

            img {
              aspect-ratio: 1 / 1;
              height: 100%;
              padding: var(--padding);
            }
          }

          .user-controls {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
          }
        }
      }

      .badges-wrapper {
        display: flex;
        height: 14rem;
        width: 100%;

        .badge-container {
          align-items: center;
          border: solid 3px var(--color-bg-light);
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          height: 4rem;
          margin: 0 var(--margin);
          padding: 0 var(--padding);

          img {
            height: 3rem;
            max-width: 3rem;
          }

          &:first-child {
            margin-left: 0;
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .wish-grid-wrapper {
      display: grid;
      grid-gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      height: 100%;

      .pending-wishes,
      .accepted-wishes,
      .refused-wishes {
        overflow-y: auto;
      }

      .wish {
        align-items: center;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        margin: var(--margin);
        padding: var(--padding-big);

        &.pending {
          background-image: linear-gradient(135deg, var(--color-bg-light) 50%, var(--color-anti-secondary) 150%);
        }

        &.accepted {
          background-image: linear-gradient(135deg, var(--color-bg-light) 50%, var(--color-primary) 150%);
        }

        &.refused {
          background-image: linear-gradient(135deg, var(--color-bg-light) 50%, var(--color-anti-primary) 150%);
        }

        .wish-info {
          display: flex;
          flex-direction: column;
        }

        p {
          margin: 0;
        }
      }
    }

    .thumbnail-error-wrapper {
      display: flex;
      flex-direction: column;

      .errors-header {
        height: 20rem;

        .radio-elements {
          display: flex;
  
          span {
            // border: solid 1px var(--border-color);
            // border-radius: var(--border-radius);
            // cursor: pointer;
            // padding: var(--padding-tiny) var(--padding-small);
            // margin: 0 var(--margin-tiny);
  
            &.selected {
              border: solid 1px var(--color-primary);
              color: var(--color-primary)
            }
          }
        }
      }

      .errors-wrapper {
        border: solid var(--border-width) var(--color-txt-alpha-10);
        height: calc(100% - 20rem);
        overflow-y: auto;

        .errors-container {
          margin-right: var(--margin);          
        }

        .thumbnail-error {
          align-items: center;
          background-color: var(--color-bg-light-alpha-25);
          display: flex;
          height: 4rem;
          justify-content: space-between;
          width: calc(100% - var(--margin-small));

          &:nth-child(odd) {
            background-color: var(--color-bg-dark-alpha-25);
          }

          .text-container {
            margin-left: var(--margin);
          }

          p {
            margin: 0;

            &.error-element-name {
              font-weight: bold;
            }

            &.error-type-label {
              font-size: var(--font-size-small);
              font-style: italic;
              text-indent: var(--font-size);
            }
          }

          button {
            height: 3rem;
          }
        }
      }
    }

    .syncthing-wrapper {
      align-items: center;
      display: flex;
      justify-content: center;
      padding: 0;

      iframe {
        border: none;
        height: 100%;
        width: 100%;
      }
    }
  }
}
