@use '/front/scss/tool/base';
@use '/front/scss/tool/authbase';
@use '/front/scss/responsive/auth'; /* Import as last instruction to override standard behavior */

/* Overriding tooltip to fit experience in login/register */

/* Tooltip container */
.tooltip {
 position: relative;
 display: inline-block;
}

/* Tooltip text */
.tooltip .tooltip-top {
  /* Half input bottom margin minus half help text height */
  --help-text-margin: calc((1.33rem / 2) - (.9rem / 2));
  cursor: help;
  font-size: var(--font-size-small);
  font-style: italic;
  border-radius: 6px;
  bottom: calc(100% + var(--help-text-margin));
  left: 50%;
  margin-left: -110px; /* Half of the width */
  opacity: 0;
  position: absolute;
  text-align: center;
  transition: opacity .4s ease-in-out;
  width: 220px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-top {
  opacity: 1;
}
