.main-page {
  height: 100%;
  width: 100%;

  .section-header {
    align-items: flex-end;
    display: flex;
    margin: var(--margin);
    padding: 0 var(--padding);
    width: calc(100% - (2 * var(--margin)));

    h2, h3 {
      margin: 0;
    }

    h3 {
      color: var(--color-txt-darker);
      cursor: pointer;
      font-size: var(--font-size);
      font-style: italic;
      margin: 0;
      margin-left: var(--margin);
      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--color-primary);
      }

      &:nth-child(3) {
        margin-left: auto;
        margin-right: var(--margin);
      }
    }
  }

  .artists-container,
  .genres-container,
  .labels-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    width: calc(100% - var(--default-scroll-size));
  }

  .artist-item {
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: var(--margin-small);
    padding: var(--padding-small);
    position: relative;

    transition: .2s background-color, .2s box-shadow;

    &:active,
    &:focus,
    &:hover {
      background-color: var(--color-bg-alpha-50);
      box-shadow: 0 0 .3rem var(--color-primary-alpha-25);
    }
    
    img {
      width: 9rem;
    }

    p {
      font-size: var(--font-size-small);
      margin-bottom: 0;
      text-align: center;
    }

    .label-artist {
      position: absolute;

      img {
        height: 2rem;
      }
    }
  }
}

/* Utils class */

.artists-small {
  background-color: var(--color-bg-lighter-alpha-50);
  border-radius: .5rem;
  height: 100px;
  max-height: 200px;
  margin: 0 var(--margin);
  overflow-y: auto;
  text-align: center;
  width: 100%;

  .artist {
    display: inline-block;
    cursor: pointer;
    margin: calc(var(--font-size-small) + var(--padding-tiny)) var(--margin-small);
    position: relative;
    transition: all .2s;

    &:nth-child(4n) {
      margin-right: calc(var(--margin-small) + .6rem);
    }

    &:last-child {
      margin-bottom: calc(var(--margin) + var(--font-size-small));
    }

    img { /* 1/2 width of small artist right over performers */
      height: 60px;
      width: 60px;
    }

    p {
      display: block;
      font-size: var(--font-size-small);
      left: 50%;
      margin: 0;
      max-width: 105%;
      position: absolute;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      text-align: center;
      width: max-content;
      transform: translateX(-50%);
    }

    &:active,
    &:focus,
    &:hover {
      transform: scale(1.2);
    }
  }
}

.grid-items-container {
  display: grid;
  grid-gap: var(--padding) var(--padding-tiny);
  grid-template-columns: repeat(auto-fill, 10rem);
  padding: var(--padding);

  .section-separator {
    grid-column: 1 / -1;
    border-bottom: solid 3px var(--color-txt-alpha-50);
    margin-bottom: var(--margin);
    padding-bottom: var(--margin);
    text-indent: var(--font-size-big);
    max-width: 33rem;
  }

  .item {
    cursor: pointer;
    margin: var(--margin-small);
    position: relative;
    width: 9rem;
    transition: transform .2s;

    [class$="-picture"],
    img {
      height: 9rem;
      width: 9rem;      
    }

    p {
      font-size: var(--font-size-small);
      left: 50%;
      margin: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      transform: translateX(-50%);
    }

    &:active,
    &:focus,
    &:hover {
      transform: scale(1.2);
    }

    span {
      position: absolute;
      bottom: .5rem;
      right: .5rem;
      height: 2rem;
      width: 2rem;
      filter: drop-shadow(0 0 .5rem var(--color-bg));
      transform: translateX(-50%);

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

/* MP View class */

[class$="-view-wrapper"] {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.release-artist-view-wrapper,
.genre-view-wrapper {
  [class$="-header"] {
    border-bottom: solid 1px var(--color-txt);
    display: flex;
    height: 30rem;
    margin: 0 var(--margin);
    width: calc(100% - (2 * var(--margin)));

    [class$="-header-left"] {
      align-items: center;
      border-right: solid 1px var(--color-txt);
      display: flex;
      flex-direction: column;
      height: calc(30rem - (2 * var(--margin)));
      justify-content: center;
      margin: var(--margin) 0;
      width: 30rem;

      [class$="-picture"] {
        cursor: pointer;
        height: 20rem;
        margin-bottom: var(--margin);
        width: 20rem;
  
        img {
          height: 100%;
          width: 100%;
        }
      }

      h1 {
        display: -webkit-box;
        font-size: var(--font-size);
        margin: 0;
        overflow : hidden;
        text-align: center;
        text-overflow : ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    [class$="-header-right"] {
      margin: var(--margin);
      width: calc(100% - 30rem);
    }
  }
}

.album-view-wrapper,
.genre-view-wrapper {
  .album {
    counter-reset: track; /* Create counter instance */
    padding: var(--padding) 0;
    width: 100%;

    .track {
      background-color: var(--color-bg-light-alpha-25);
      cursor: pointer;
      height: 5rem;
      overflow: hidden;
      position: relative;
      width: calc(100% - var(--scroll-size) - 1px);
      transition: background-color .1s, height .2s;

      &:nth-child(odd) {
        background-color: var(--color-bg-dark-alpha-25);
      }

      &:active,
      &:focus,
      &:hover {
        background-color: var(--color-primary-alpha-10);
        /* Make moodbar appear on hover */
        img {
          opacity: 1 !important;
        }
      }

      &.playing {
        background-color: var(--color-primary-alpha-50);

        .track-info .track-performers span,
        .track-detailed-info .txt-column div p span {
          &:active,
          &:focus,
          &:hover {
            color: var(--color-anti-primary);
          }
        }
      }

      &.expanded {
        .track-moodbar {
          height: var(--padding);
          opacity: .3;
        }
      }

      /* before is used for track number */
      &::before {
        counter-increment: track;
        content: "#" counters(track, ".");
        color: var(--color-txt-darker);
        font-size: var(--font-size-small);
        font-style: italic;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 5rem;
      }

      .track-info {
        display: grid;
        grid-template-columns: 1fr 2rem 7rem;
        height: 5rem;
        margin: 0;
        margin-right: var(--margin);
        padding-left: 5rem;

        p, span {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          margin: 0;
        }

        .track-title {
          align-items: flex-end;
          display: flex;
          margin-bottom: .15rem;
        }

        .track-performers {
          align-items: flex-start;
          color: var(--color-txt-darker);
          display: flex;
          font-size: var(--font-size-small);
          font-style: italic;
          margin-top: .15rem;
          padding-left: var(--font-size);

          span {
            height: 100%;
            padding-right: var(--padding-small);
            position: relative;
            width: auto;

            transition: color .2s;

            &:active,
            &:focus,
            &:hover {
              color: var(--color-primary);
              /* We don't want the ',' char to be highlighted */
              &::after {
                color: var(--color-txt-darker);
              }
            }

            &::after {
              content: ',';
              position: absolute;
              right: var(--padding-tiny);
            }

            &:last-child::after {
              content: '';
            }
          }
        }

        .toggle-track-expand {
          align-items: center;
          cursor: pointer;
          display: flex;
          grid-column: 2;
          grid-row: 1 / span 2;
          height: 100%;
          justify-content: center;
          width: 100%;

          img {
            width: 2rem;
          }
        }

        .track-duration {
          align-items: center;
          display: flex;
          grid-column: 3;
          grid-row: 1 / span 2;
          font-size: var(--font-size-small);
          justify-content: flex-end;
          padding-right: var(--padding);
        }
      }

      .track-detailed-info {
        border-top: solid 1px var(--color-txt-alpha-25);
        display: flex;
        height: auto;
        margin-left: 5rem;
        margin-right: calc(2 * var(--padding));
        margin-top: 1px;
        padding: var(--padding) 0;
        position: relative;

        .txt-column {
          padding-left: var(--padding);

          &:first-child {
            width: 60%;
          }

          &:last-child {
            width: 40%;
          }

          div {
            font-size: var(--font-size-small);
            margin-bottom: var(--margin-small);

            &:last-child {
              margin-bottom: 0;
            }

            span {
              color: var(--color-txt-darker);
              display: block;
              font-size: var(--font-size-smaller);
              font-style: italic;
              padding-bottom: var(--padding-tiny);
              padding-left: var(--padding-small);
            }

            p {
              margin: 0;
              width: 100%;

              span {
                color: var(--color-txt);
                display: inline;
                font-style: inherit;
                padding: 0;
                transition: color .2s;
                /* Padding left for > 1 child */
                &:not(:first-child) {
                  padding-left: var(--padding-tiny);
                }
                /* Add coma if > 1 child */
                &:not(:last-child)::after {
                  content: ',';
                }

                &:active,
                &:focus,
                &:hover {
                  color: var(--color-primary);
                  /* We don't want the ',' char to be highlighted */
                  &::after {
                    color: var(--color-txt-darker);
                  }
                }
              }
            }
          }
        }
      }

      /* Track moodbar on hover */
      .track-moodbar {
        box-shadow: 0px 2px 3px var(--color-txt-alpha-25);
        position: absolute;
        left: 0;
        width: 100%;
        height: var(--padding-tiny);
        bottom: 0;
        opacity: 0;
        transition: opacity .2s, height .2s;
      }
    }
  }
}

.all-release-artist-view-wrapper,
.all-genre-view-wrapper {
  display: inherit;
  height: 100%;
  position: absolute;
  width: 100%;

  .section-header {
    margin: 0 var(--margin);
  }
}

.release-artist-view-wrapper {
  .artist-header {
    .artist-header-center {
      margin: var(--margin);
      width: calc(100% - 30rem - 40rem - 4 * var(--margin));

      &.expanded {
        width: calc(100% - 30rem - 2 * var(--margin));        
      }

      &.expanded-1 {
        width: calc(100% - 30rem - 12rem - 4 * var(--margin));
      }

      &.expanded-2 {
        width: calc(100% - 30rem - 20rem - 4 * var(--margin));
      }

      &.expanded-3 {
        width: calc(100% - 30rem - 30rem - 4 * var(--margin));
      }
    }

    .artist-header-right {
      margin: var(--margin);
      text-align: center;
      width: 40rem;

      &.collapsed {
        display: none;
        opacity: 0;
      }

      &.collapsed-1 {
        width: 12rem;
      }

      &.collapsed-2 {
        width: 20rem;
      }

      &.collapsed-3 {
        width: 30rem;
      }

      .artists-small {
        height: inherit;
        margin: 0;
      }
    }
  }

  .artist-content {
    margin: var(--margin);
    width: calc(100% - (2 * var(--margin)));

    h1 {
      font-size: var(--font-size-big);
      font-style: italic;
      margin-bottom: var(--margin-tiny);
      position: relative;

      img {
        cursor: pointer;
        height: var(--font-size-big);
        position: absolute;
        right: 0;

        transition: filter .2s;

        &.active {
          filter: invert(62%) sepia(100%) saturate(288%) hue-rotate(73deg) brightness(95%) contrast(92%);
        }
      }
    }

    .released-albums {
      border-spacing: 1rem;
      height: 27rem;
      overflow: hidden;
      width: 100%;

      .album {
        cursor: pointer;
        display: table-cell;
        padding: var(--padding);
        max-width: 20rem;
        text-align: center;

        transition: .2s background-color, .2s box-shadow;

        &:active,
        &:focus,
        &:hover {
          background-color: var(--color-bg-alpha-75);
          box-shadow: 0 0 .3rem var(--color-primary-alpha-25);

          img {
            transform: scale(1.05);
          }
        }
        
        h3 {
          font-style: italic;
          margin-bottom: .5rem;
          margin-top: 0;
          text-align: right;
        }

        h2 {
          font-size: var(--font-size);  
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .album-picture {
          height: calc(15rem + var(--margin));
          margin: 0 auto;
          width: 15rem;

          img {
            height: 100%;
            margin-bottom: var(--margin);
            width: 100%;
            transition: transform .2s;
          }
        }
      }
    }
  }
}

.album-view-wrapper {
  .album-container {
    align-items: flex-start;
    border-bottom: solid 1px var(--color-txt);
    display: flex;
    height: 70rem;
    margin: var(--margin);
    padding-bottom: var(--padding);
    overflow-y: hidden;
    width: calc(100% - 2 * var(--margin));

    .album-aside, .abum-content {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .album-aside {
      margin: var(--margin);
      width: calc(40rem - (2 * var(--margin)));

      .album-picture {
        cursor: pointer;
        height: calc(40rem - var(--margin));
        width: calc(40rem - (2 * var(--margin)));

        img {
          height: 100%;
          margin-bottom: var(--margin);
          width: 100%;
        }
      }

      h1 {
        font-size: var(--font-size-big);
        margin: 0;
        margin-bottom: var(--margin);
        text-align: center;
      }
    }

    .album-content {
      height: 100%;
      margin: var(--margin);
      width: calc(100% - 40rem - (2 * var(--margin)));

      .album-info {
        border-bottom: solid 1px var(--color-txt);
        height: 10rem;
        margin-bottom: var(--margin);
        padding-bottom: var(--margin);
        position: relative;
        width: 100%;

        h2 {
          font-size: var(--font-size);
          margin-top: 0;
        }

        p {
          font-style: italic;
          color: var(--color-txt-darker);
          margin: var(--margin-small);
          text-indent: var(--font-size);
        }

        .link {
          cursor: pointer;
          transition: color .2s;

          &:active,
          &:focus,
          &:hover {
            color: var(--color-primary);
          }
        }

        .release-artist-container {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          transition: transform .2s;

          img {
            height: 6rem;
            width: 6rem;
          }

          &:active,
          &:focus,
          &:hover {
            transform: scale(1.1);
          }
        }

        .view-commands {
          align-items: center;
          bottom: var(--padding-small);
          display: flex;
          justify-content: center;
          position: absolute;
          right: 0;
    
          img {
            cursor: pointer;
            height: 2rem;
            margin: 0 var(--padding-tiny);
            width: 2rem;
          }

          .queue-album {
            align-items: center;
            display: flex;
            justify-content: center;
            position: relative;

            &::before {
              content: '+';
              color: #56D45B;
              position: absolute;
              right: calc(2rem + var(--padding-tiny));
            }
          }
        }
      }

      .album {
        height: calc(100% - 10rem - (2 * var(--padding)));
      }
    }
  }
}

.genre-view-wrapper {
  height: 100%;

  .genre-header-right {
    position: relative;

    .view-commands {
      bottom: 0;
      position: absolute;
      right: 0;

      img {
        cursor: pointer;
        height: 2rem;
      }
    }
  }

  .artist {
    background-color: var(--color-bg-alpha-75);
    border-radius: var(--font-size);
    display: flex;
    margin: var(--margin-big);
    padding: var(--padding);
    padding-top: calc(2 * var(--padding));
    position: relative;

    &.collapsed {
      height: 18rem;
      overflow: hidden;

      .expand-artist-wrapper {
        display: flex;
      }
    }

    .artist-commands {
      position: absolute;
      right: 1rem;
      top: 1rem;

      img {
        cursor: pointer;
        height: 2rem;
      }
    }

    .artist-info {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 30rem;

      p {
        margin-top: 0;
      }

      [class$="-picture"] {
        cursor: pointer;
        height: 20rem;
        width: 20rem;
  
        img {
          height: 100%;
          margin-bottom: var(--margin);
          width: 100%;
        }
      }
    }

    .artist-albums {
      width: calc(100% - 30rem);

      .album-info {
        align-items: center;
        display: flex;
        margin-bottom: var(--margin-small);

        h2 {
          margin: 0;
          margin-left: var(--margin);
        }
      }

      .album {
        cursor: pointer;
        padding-top: 0;
        width: 100%;

        h2 {
          margin-top: 0;
        }
      }
    }

    .expand-artist-wrapper {
      align-items: flex-end;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 1%, var(--color-bg) 75%);
      bottom: 0;
      display: none;
      height: 8rem;
      justify-content: center;
      left: 0;
      position: absolute;
      width: 100%;

      transition: opacity .2s;

      img {
        cursor: pointer;
        height: 2rem;
        margin-bottom: 1rem;
      }
    }
  }

  img {
    height: 50px;
  }
}

.genre-graph-view-wrapper {
  display: inherit;
  height: 100%;
  position: relative;
  width: 100%;

  .graph-aside {
    background-color: var(--color-bg-light-alpha-90);
    border-radius: .5rem;
    height: 20rem;
    opacity: 0;
    position: absolute;
    bottom: var(--padding);
    left: var(--padding);
    width: 20rem;

    transition: opacity .2s;
  }

  .graph-container {
    height: 100%;
    width: 100%;
  }
}
