.main-page {
  height: 100%;
  width: 100%;

  .section-header {
    align-items: flex-end;
    display: flex;
    margin: var(--margin);
    padding: 0 var(--padding);
    width: calc(100% - (2 * var(--margin)));

    h2, h3 {
      margin: 0;
    }

    h3 {
      color: var(--color-txt-darker);
      cursor: pointer;
      font-size: var(--font-size);
      font-style: italic;
      margin: 0;
      margin-left: var(--margin);
      transition: color .2s;

      &:active,
      &:focus,
      &:hover {
        color: var(--color-primary);
      }

      &:nth-child(3) {
        margin-left: auto;
      }
    }
  }

  .artists-container,
  .genres-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    width: calc(100% - var(--default-scroll-size));
  }

  .artist-item {
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: var(--margin-small);
    padding: var(--padding-small);

    transition: .2s background-color, .2s box-shadow;

    &:active,
    &:focus,
    &:hover {
      background-color: var(--color-bg-alpha-50);
      box-shadow: 0 0 .3rem var(--color-primary-alpha-25);
    }
    
    img {
      width: 9rem;
    }

    p {
      font-size: var(--font-size-small);
      margin-bottom: 0;
    }
  }
}

/* Utils class */

.artists-small {
  border-radius: .5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: var(--padding);
  width: 100%;

  .artist {
    cursor: pointer;
    margin: var(--margin-small);
    position: relative;

    transition: all .2s;

    img { /* 1/2 width of small artist right over performers */
      height: 50px;
      width: 50px;
    }

    p {
      display: none;
      font-size: var(--font-size-small);
      left: 50%;
      margin: 0;
      position: absolute;
      text-align: center;
      width: max-content;
      transform: translateX(-50%);
    }

    &:active,
    &:focus,
    &:hover {
      transform: scale(1.2);

      p {
        display: block;
      }
    }
  }
}

.grid-items-container {
  display: grid;
  grid-gap: var(--padding) var(--padding-tiny);
  grid-template-columns: repeat(auto-fill, 10rem);
  padding: var(--padding);

  .section-separator {
    grid-column: 1 / -1;
    border-bottom: solid 3px var(--color-txt-alpha-50);
    margin-bottom: var(--margin);
    padding-bottom: var(--margin);
    text-indent: var(--font-size-big);
    max-width: 33rem;
  }

  .item {
    cursor: pointer;
    margin: var(--margin-small);
    position: relative;

    transition: transform .2s;

    img {
      height: 9rem;
      width: 9rem;
    }

    p {
      display: none;
      font-size: var(--font-size-small);
      left: 50%;
      margin: 0;
      position: absolute;
      text-align: center;
      width: max-content;
      transform: translateX(-50%);
    }

    &:active,
    &:focus,
    &:hover {
      transform: scale(1.2);

      p {
        display: block;
      }
    }
  }
}

/* MP View class */

.release-artist-view-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .artist-header {
    border-bottom: solid 1px var(--color-txt);
    display: flex;
    height: 30rem;
    margin: 0 var(--margin);
    width: calc(100% - (2 * var(--margin)));

    .artist-header-left {
      align-items: center;
      border-right: solid 1px var(--color-txt);
      display: flex;
      flex-direction: column;
      height: calc(30rem - (2 * var(--margin)));
      justify-content: center;
      margin: var(--margin) 0;
      width: 30rem;

      .artist-picture {
        cursor: pointer;
        height: calc(20rem + var(--margin));
        width: 20rem;
  
        img {
          height: 100%;
          margin-bottom: var(--margin);
          width: 100%;
        }
      }

      h1 {
        display: -webkit-box;
        font-size: var(--font-size);
        margin: 0;
        overflow : hidden;
        text-align: center;
        text-overflow : ellipsis;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

    .artist-header-center {
      margin: var(--margin);
      width: calc(100% - 30rem - 32rem - var(--margin));
    }

    .artist-header-right {
      margin: var(--margin);
      width: 33rem;
    }
  }

  .artist-content {
    margin: var(--margin);
    width: calc(100% - (2 * var(--margin)));

    h1 {
      font-size: var(--font-size-big);
      font-style: italic;
      margin-bottom: var(--margin-tiny);
    }

    .released-albums {
      border-spacing: 1rem;
      height: 27rem;
      overflow: hidden;
      width: 100%;

      .album {
        cursor: pointer;
        display: table-cell;
        padding: var(--padding);
        max-width: 20rem;
        text-align: center;

        transition: .2s background-color, .2s box-shadow;

        &:active,
        &:focus,
        &:hover {
          background-color: var(--color-bg-alpha-75);
          box-shadow: 0 0 .3rem var(--color-primary-alpha-25);

          img {
            transform: scale(1.05);
          }
        }
        
        h3 {
          font-style: italic;
          margin-bottom: .5rem;
          margin-top: 0;
          text-align: right;
        }

        h2 {
          font-size: var(--font-size);  
          margin: 0;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }

        .album-picture {
          height: calc(15rem + var(--margin));
          margin: 0 auto;
          width: 15rem;

          img {
            height: 100%;
            margin-bottom: var(--margin);
            width: 100%;
            transition: transform .2s;
          }
        }
      }
    }
  }
}

.all-release-artist-view-wrapper,
.all-genre-view-wrapper {
  height: 100%;
  position: absolute;
  width: 100%;

  .section-header {
    margin: 0 var(--margin);
  }
}

.album-view-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  .album-container {
    align-items: flex-start;
    display: flex;
    margin: var(--margin);
    width: 100%;

    .album-aside, .abum-content, .album-tracks {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .album-aside {
      margin: var(--margin);
      width: calc(40rem - (2 * var(--margin)));

      .album-picture {
        cursor: pointer;
        height: calc(40rem - var(--margin));
        width: calc(40rem - (2 * var(--margin)));

        img {
          height: 100%;
          margin-bottom: var(--margin);
          width: 100%;
        }
      }

      h1 {
        font-size: var(--font-size-big);
        margin: 0;
        margin-bottom: var(--margin);
        text-align: center;
      }
    }

    .artists-small {
      margin: 0 var(--margin);
      background-color: var(--color-bg-lighter-alpha-50);
    }

    .album-content {
      margin: var(--margin);
      width: calc(100% - 40rem - (4 * var(--margin)));

      .album-info {
        border-bottom: solid 1px var(--color-txt);
        margin-bottom: var(--margin);
        padding-bottom: var(--margin);
        position: relative;
        width: 100%;

        h2 {
          font-size: var(--font-size);
          margin-top: 0;
        }

        p {
          font-style: italic;
          color: var(--color-txt-darker);
          margin: var(--margin-small);
          text-indent: var(--font-size);
        }

        .link {
          cursor: pointer;
          transition: color .2s;

          &:active,
          &:focus,
          &:hover {
            color: var(--color-primary);
          }
        }

        .release-artist-container {
          cursor: pointer;
          position: absolute;
          right: 0;
          top: 0;
          transition: transform .2s;

          img {
            height: 6rem;
            width: 6rem;
          }

          &:active,
          &:focus,
          &:hover {
            transform: scale(1.1);
          }
        }  
      }

      .album-tracks {
        counter-reset: track; /* Create counter instance */
        padding: var(--padding) 0;
        width: 100%;

        .track {
          background-color: var(--color-bg-light-alpha-25);
          cursor: pointer;
          position: relative;
          width: 100%;
          transition: background-color .1s;

          &:nth-child(odd) {
            background-color: var(--color-bg-dark-alpha-25);
          }

          &:active,
          &:focus,
          &:hover {
            background-color: var(--color-primary-alpha-10);            
          }

          &::before {
            counter-increment: track;
            content: "#" counters(track, ".");
            color: var(--color-txt-darker);
            font-size: var(--font-size-small);
            font-style: italic;
            position: absolute;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            bottom: 0;
            left: 0;
            text-align: center;
            width: 5rem;
          }

          p {
            padding: 0 var(--padding);
            padding-left: 5rem;
          }

          span:last-child {
            float: right;
          }
        }
      }
    }
  }
}

.genre-graph-view-wrapper {
  height: 100%;
  position: relative;
  width: 100%;

  .graph-aside {
    background-color: var(--color-bg-light-alpha-90);
    border-radius: .5rem;
    height: 20rem;
    opacity: 0;
    position: absolute;
    bottom: var(--padding);
    left: var(--padding);
    width: 20rem;

    transition: opacity .2s;
  }

  .graph-container {
    height: 100%;
    width: 100%;
  }
}