/* Mzk style base (reset, vars, mixins etc.) */
@use '/front/scss/tool/base';
/* Main graphical components */

/* TODO properly handle scene and stuf (too much in base that shouldn't */
@use '/front/scss/component/aside';
@use '/front/scss/component/scene';
@use '/front/scss/component/navbar';
/* Import as last instruction to override standard behavior */
@use '/front/scss/responsive/manazeak';
