/* Style service for user profile fragment */
.user-profile-view {
  display: flex;
  font-size: var(--mzk-font-size);
  height: 100%;
  justify-content: center;
  width: 100%;

  .user-info {
    display: flex;
    height: 100%;
    flex-direction: column;

    label {
      font-size: var(--mzk-font-size-small);
      font-style: italic;
    }

    .profile-header {
      margin: 2rem 0;

      .avatar-container {
        height: 12rem;
        text-align: center;

        img {
          height: calc(100% - 2.3rem);
          max-width: 85%;
          object-fit: contain;
        }
      }

      p {
        font-weight: bold;
        margin: 1rem 0 0;
        text-align: center;
      }

      .reset-password {
        align-items: center;
        display: flex;
        justify-content: center;
        margin: 1rem 0 0;

        img {
          cursor: pointer;
          height: 2rem;
          margin-left: 1rem;
          width: 2rem;
        }
      }
    }

    .info-container {
      height: calc(100% - 12rem);
      overflow: auto;
      padding: 0 1rem;
      text-align: center;

      p {
        font-weight: bold;
        margin: 1rem 0 2rem 0;
      }
    }
  }

  .user-pref {
    // Waiting for feature in front and back...
  }
}
