/* Style service for user profile fragment */
.user-profile-view {
  display: flex;
  font-size: var(--mzk-font-size);
  height: 100%;
  justify-content: center;
  width: 100%;

  .user-info {
    display: flex;
    height: 100%;
    flex-direction: column;

    .avatar-container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 12rem;
      margin: 2rem 0;

      img {
        height: calc(100% - 2.3rem);
        max-width: 85%;
        object-fit: contain;
      }

      p {
        font-weight: bold;
        margin: 0;
        margin-top: 1rem;
      }
    }

    .info-container {
      height: calc(100% - 12rem);
      overflow: auto;
      padding: 0 1rem;
      text-align: center;

      label {
        font-size: var(--mzk-font-size-small);
        font-style: italic;
      }

      p {
        font-weight: bold;
        margin: 1rem 0 2rem 0;
      }
    }
  }

  .user-pref {
    // Waiting for feature in front and back...
  }
}
