$menu-indentation: 20px;

#mzk-ctx-wrap {
    @extend .mzk-hidden;
    background-color: $primary-color;
    border: solid 1px $dark-secondary-color;
    font-size: 0.9em;
    height: auto;
    min-width: 140px;
    position: fixed;
    z-index: 42000;
    // Overriding PlaylistBar entry options
    line-height: 1em !important;
    margin: 0 !important;
    padding: 0 !important;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        background-color: $primary-color;

        & > li {
            padding-left: $menu-indentation;
            text-align: left;
            padding-top: 5px;
            padding-bottom: 5px;

            &::after, &::before {
                content: "";
                display: block;
                margin-left: -$menu-indentation;
                width: calc(100% + #{$menu-indentation});
            }

            & > span.mzk-ctx-label {
                &::after, &::before {
                    content: "";
                    display: block;
                    height: 6px;
                }
            }

            &:hover {
                background-color: $dark-secondary-color;
            }

            &:not(:first-child).mzk-ctx-submenu::before {
                border-top: solid 1px black;
            }

            &:not(:last-child).mzk-ctx-submenu {

                &::after {
                    border-bottom: solid 1px black;
                }

                & + li.mzk-ctx-submenu::before {
                    border-top: none;
                }
            }

            &.mzk-ctx-submenu {
                ul:not(.mzk-ctx-open) {
                    display: none;
                    height: 0;
                }
            }

        }
    }
}

#newLibPlay {
    @extend .mzk-hidden;
    background-color: $primary-color;
    border: solid 1px $dark-secondary-color;
    border-radius: 2px;
    font-size: 0.9em;
    height: auto;
    position: absolute;
    width: 150px;
    z-index: 999;

    p {
        cursor: pointer;
        margin: 0;
        padding: 5px 15px;
    }

    p:hover {
        background-color: $dark-secondary-color;
    }
}