$track-info-margin:  25px;
$track-info-padding: 15px;

.mzk-track-info {
    background-color: $secondary-color;
    border:           solid 1px $dark-secondary-color;
    border-radius:    $border-radius;
    box-sizing:       border-box;
    height:           0;
    opacity:          0;
    position:         absolute;
    transition:       opacity 0.1s ease-in-out;
    width:            0;
    z-index:          999;

    img {
        height:       150px;
        margin-left:  $track-info-margin;
        margin-right: $track-info-margin;
        margin-top:   $track-info-margin;
        width:        150px;
    }

    .mzk-numbers {
        bottom:      0;
        font-size:   0.8em;
        left:        0;
        line-height: 1.7em;
        margin:      0;
        padding:     0;
        position:    absolute;
        text-align:  center;
        width:       200px;
    }

    .mzk-track-wrapper {
        border-right:  solid 1px $dark-primary-color;
        box-sizing:    border-box;
        display:       inline-block;
        float:         right;
        font-size:     0.8em;
        padding-right: 25px;
        width:         340px;
        margin-right:  $track-info-margin;
        margin-top:    $track-info-margin;
        top:           0;

        p {
            margin:        0;
            overflow:      hidden;
            padding:       1px 0;
            text-overflow: ellipsis;
            white-space:   nowrap;
        }

        .mzk-title {
            font-size:   1.1em;
            font-weight: bold;
        }

        .mzk-album {
            margin-bottom: 5px;
        }
    }

    .mzk-suggestion-wrapper {
        float:          right;
        font-size:      0.7em;
        height:         auto;
        width:          300px;
        margin-right:   45px;
        max-height:     100%;
        display:        flex;
        flex-direction: column;

        .mzk-title {
            font-size:     1.3em;
            font-weight:   bold;
            line-height:   1.3em;
            margin:        0;
            margin-bottom: 10px;
            margin-top:    15px;
        }

        ul {
            list-style-type:     none;
            margin:              0;
            padding:             0;
            -webkit-user-select: none;
            -moz-user-select:    none;
            overflow:            auto;

            li {
                cursor:        pointer;
                opacity:       0;
                overflow:      hidden;
                padding:       5px 10px;
                text-overflow: ellipsis;
                white-space:   nowrap;

                .mzk-performer-indent {
                    display:     inline-block;
                    margin-left: 40px;
                }
            }

            li:active,
            li:hover,
            li:focus {
                background-color: $dark-secondary-color;
            }
        }

        img {
            cursor:       pointer;
            height:       25px;
            margin-left:  0;
            margin-top:   10px;
            margin-right: 10px;
            position:     absolute;
            right:        0;
            top:          0;
            width:        25px;
        }
    }
}