$menu-indentation: 10px;

#mzk-ctx-wrap {
  width: 150px;
  height: auto;
  border: solid 1px black;
  border-radius: 2px;
  position: fixed;
  background-color: #e9e9e9;
  font-size: 0.9em;
  z-index: 42000;

  opacity: 0;
  transition: visibility 0s 0.3s,
  opacity 0.3s ease;
  visibility: hidden;

  &.mzk-ctx-open {
    opacity: 1;
    transition: opacity 0.3s ease;
    visibility: visible;
  }

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    & > li {
      padding-left: $menu-indentation;

      &::after, &::before {
        content: "";
        height: 6px;
        width: calc(100% + #{$menu-indentation});
        margin-left: -$menu-indentation;
        display: block;
      }

      &:not(:first-child).mzk-ctx-submenu::before {
        border-top: solid 1px black;
      }

      &:not(:last-child).mzk-ctx-submenu {

        &::after {
          border-bottom: solid 1px black;
        }

        & + li.mzk-ctx-submenu::before {
          border-top: none;
        }
      }

      &.mzk-ctx-submenu {
        ul:not(.mzk-ctx-open) {
          height: 0px;
          display: none;
        }
      }

    }
  }
}

#newLibPlay {
  width: 150px;
  height: auto;
  border: solid 1px black;
  border-radius: 2px;
  position: absolute;
  background-color: #e9e9e9;
  font-size: 0.9em;
  z-index: 999;
  opacity: 0;
  transition: visibility 0s 0.3s,
  opacity 0.3s ease;
  visibility: hidden;

  p {
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
  }

  p:hover {
    background-color: khaki;
  }
}

.newLibPlayLocked {
  opacity: 1 !important;
  transition: opacity 0.3s ease !important;
  visibility: visible !important;
}
