$menu-indentation: 10px;

#mzk-ctx-wrap {
  @extend .mzk-hidden;
  width: 150px;
  height: auto;
  border: solid 1px $dark-secondary-color;
  position: fixed;
  background-color: $primary-color;
  font-size: 0.9em;
  z-index: 42000;

  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;

    & > li {
      padding-left: $menu-indentation;

      &::after, &::before {
        content: "";
        height: 6px;
        width: calc(100% + #{$menu-indentation});
        margin-left: -$menu-indentation;
        display: block;
      }

      &:not(:first-child).mzk-ctx-submenu::before {
        border-top: solid 1px black;
      }

      &:not(:last-child).mzk-ctx-submenu {

        &::after {
          border-bottom: solid 1px black;
        }

        & + li.mzk-ctx-submenu::before {
          border-top: none;
        }
      }

      &.mzk-ctx-submenu {
        ul:not(.mzk-ctx-open) {
          height: 0;
          display: none;
        }
      }

    }
    & > li:hover {
      background-color: $dark-secondary-color;
    }
  }
}

#newLibPlay {
  @extend .mzk-hidden;
  width: 150px;
  height: auto;
  border: solid 1px $dark-secondary-color;
  border-radius: 2px;
  position: absolute;
  background-color: $primary-color;
  font-size: 0.9em;
  z-index: 999;

  p {
    margin: 0;
    padding: 5px 15px;
    cursor: pointer;
  }

  p:hover {
    background-color: $dark-secondary-color;
  }
}