#trackInfo {
    width: 0;
    height: 0;
    position: absolute;
    background-color: $secondary-color;
    opacity: 0;
    border: solid 1px $dark-secondary-color;

    transition: opacity 0.1s ease-in-out;
    box-sizing: border-box;

    img {
        width: 150px;
        height: 150px;
        margin-top: 25px;
        margin-left: 25px;
        margin-right: 25px;
    }

    #numbers {
        margin: 0;
        padding: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 200px;
        text-align: center;
        font-size: 0.8em;
        line-height: 1.8em;
    }

    #trackWrapper {
        display: inline-block;
        font-size: 0.8em;
        top: 0;
        width: auto;
        max-width: 340px;
        margin-top: 26px;
        margin-right: 25px;
        padding-right: 25px;
        border-right: solid 1px $dark-primary-color;
        float: right;

        p {
            margin: 0;
            padding: 1px 0;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        #title {
            font-size: 1.1em;
            font-weight: bold;
        }

        #album {
            margin-bottom: 5px;
        }
    }

    #suggestionWrapper {
        max-width: 300px;
        width: auto;
        height: auto;
        float: right;
        font-size: 0.7em;
        margin-right: 45px;

        #title {
            font-size: 1.3em;
            font-weight: bold;
            line-height: 1.3em;
            margin: 0;
            margin-bottom: 10px;
            margin-top: 15px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;

            li {
                padding: 5px 10px;

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                cursor: pointer;
            }

            li:active,
            li:hover,
            li:focus {
                background-color: $dark-secondary-color;
            }
        }

        img {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 0;
            right: 0;
            margin-left: 0;
            margin-top: 10px;
            margin-right: 10px;

            cursor: pointer;
        }
    }
}