/*      --------        Volume Slider        --------        */
#buttonMute {
    position: relative;
    display: inline-block;

    //Show volume bar on hover
    &:hover #volumeBarWrapper {
        @extend .mzk-visible;
    }
}

#volumeBarWrapper {
    @extend .mzk-hidden;
    background-color: $secondary-color;
    border: solid 1px $dark-secondary-color;
    box-sizing: border-box;
    border-radius: 3px;
    bottom: 45px;
    left: 3px;
    height: 140px;
    position: absolute;
    text-align: center;

    width: 30px;
    z-index: 1;
}

#buttonMute #volumeBarWrapper::after {
    border: solid 5px;
    border-color: $dark-secondary-color transparent transparent transparent;
    content: "";
    margin-top: 1px;
    left: 10px;
    position: absolute;
    top: 100%;
}

#volumeBar {
    background-color: rgb(233, 233, 233);
    border: solid 1px $dark-secondary-color;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0;
    height: 85%;
    position: relative;
    width: 4px;
}

#volumeBar #volume {
    background-color: rgb(255, 0, 0);
    border-radius: 4px;
    bottom: 0;
    height: 0;
    width: 100%;
    position: absolute;

    transition: background-color 0.15s ease;
}

#volumeBar #volumeThumb {
    background-color: $white;
    border: solid 1px $dark-secondary-color;
    border-radius: 5px;
    height: 10px;
    left: -4px;
    bottom: 0;
    position: absolute;
    margin-bottom: -4px;
    opacity: 0;
    width: 10px;

    transition: opacity 0.15s ease;
}

#volumeBar:hover > #volumeThumb {
    opacity: 1;
}

#volumeBar:hover > #volume {
    background-color: $anti-accent-color;
}
