$topbar-height: 40px;
$footbar-height: 80px;
$aside-width: 18%;

$margin: 15px;
$padding: 10px;

$transition-duration: 0.2s;

$mzk-text-logo-width: 145px;

$darker-solid: rgb(14, 15, 20);
$dark-solid: rgb(31, 33, 39);

$bar-alpha: rgba(29, 30, 37, 1);

$lighter-solid: rgb(231, 233, 231);

$blue-darker-alpha-light: rgba(14, 15, 66, 0.66);

$darker-alpha-lighter: rgba(14, 15, 20, 0.8);
$darker-alpha-light: rgba(14, 15, 20, 0.66);
$darker-alpha-normal: rgba(14, 15, 20, 0.5);
$darker-alpha: rgba(14, 15, 20, 0.2);
$dark-alpha-light: rgba(31, 33, 39, 0.8);
$dark-alpha: rgba(31, 33, 39, 0.5);
