.admin-view-wrapper {
  display: flex;
  height: 100%;
  width: 100%;

  .admin-menu {
    border-right: solid var(--mzk-border-width) var(--mzk-color-bg-lighter);
    margin: var(--mzk-padding-big) 0 var(--mzk-padding-big) var(--mzk-padding-big);
    padding: var(--mzk-padding);
    text-align: right;
    width: 15rem;

    .admin-entry {
      align-items: center;
      display: flex;
      height: 3rem;
      justify-content: flex-end;
      padding: 10px;

      transition: font-size var(--mzk-animation-duration);

      &.active {
        font-size: 2rem;

        a {
          color: var(--mzk-color-primary);
          cursor: default;
        }
      }
    }
  }

  .admin-scene {
    padding: var(--mzk-padding-big);
    width: calc(100% - 15rem);
  }
}