@media (max-width: 1028px) {
  /* Text icon must take most of mobile width in portrait mode */
  div.mzk-user {
    img {
      width: 85%;
    }
  }
}

@media (max-width: 512px) {
  div.mzk-user {
    height: 100%;
    overflow-y: auto;

    form {
      padding: 3rem 1rem;

      &.two-col-form {
        grid-template-columns: 1fr;
        justify-items: center;

        .left-col,
        .right-col {
          margin: 0;
        }
      }
    }
  }
}
