/* Desktop rules */
@media only screen and (min-width: 800px) {
  /* Aside mobile rules */
  .aside {
    border-bottom: none;
    border-right: solid 1px var(--color-txt-alpha-10);
    flex-direction: column;
    height: 100%;
    width: var(--aside-size);

    .item-group {
      flex-direction: column;
    }
  }
  /* Scene desktop rules */
  .scene {
    height: var(--scene-height);
    width: var(--scene-width);

    .admin-page .admin-tabs,
    .account-page .account-tabs {
      width: 85%;

      p {
        padding: 0 var(--padding-bigger);
      }
    }
  }
  /* Tooltip are desktop only */
  @import "../tool/tooltip";
  /* Global class that disable element on desktop environment */
  .mobile-only {
    display: none !important;
  }

  .admin-page {
    .admin-view {
      .user-list-wrapper,
      .wish-grid-wrapper {
        padding: 2rem;
      }

      .wish-grid-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;

        .pending-wishes {
          border-right: solid 1px var(--color-txt-alpha-10) !important;
          grid-row: span 2;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  /* Scene desktop rules */
  .scene {
    .admin-page .admin-tabs,
    .account-page .account-tabs {
      width: 90%;

      p {
        padding: 0 var(--padding-huge);
      }
    }
  }
}

/* Mobile rules (specific ones as style should be mobile first) */
@media only screen and (max-width: 800px) {
  /* Global class that disable element on a mobile environment */
  .desktop-only {
    display: none !important;
  }
  /* Make tooltip invisible on mobile environment */
  .tooltip-text {
    display: none;
  }
}
