/* Desktop rules */
@media only screen and (min-width: 801px) {
  .scene-wrapper {
    /* Aside mobile rules */
    .aside {
      border-bottom: none;
      border-right: solid 1px var(--color-txt-alpha-10);
      flex-direction: column;
      height: 100%;
      width: var(--aside-size);

      .item-group {
        flex-direction: column;

        hr {
          height: 1px;
          margin: var(--margin-tiny) auto;
          width: 75%;
        }
      }

      .playlist-wrapper {
        height: 100%;
        width: var(--aside-size);

        .playlist-container {
          flex-direction: column;
        }
      }
    }
    /* Scene desktop rules */
    .scene {
      .admin-page .admin-tabs,
      .account-page .account-tabs {
        width: 85%;

        p {
          padding: 0 var(--padding-bigger);
        }
      }
    }
    .topbar {
      .topbar-left {
        height: inherit;
        position: inherit;
      }

      .topbar-right {
        display: flex;
      }
    }
  }
  /* Tooltip are desktop only */
  .tooltip {
    position: relative;
  
    &:active .tooltip-text,
    &:focus .tooltip-text,
    &:hover .tooltip-text {
      opacity: 1;
      transform: translateX(.5rem);
      visibility: visible;
    }
  
    .tooltip-text {
      background-color: var(--color-bg);
      border: solid 1px var(--color-txt-alpha-25);
      border-radius: 3px;
      display: block;
      color: var(--color-txt);
      font-size: var(--font-size-small);
      max-width: 250px;
      opacity: 0;
      padding: var(--padding-small) var(--padding);
      position: absolute;
      text-align: center;
      transform: translate3d(0, 0, 0);
      transition: opacity .2s ease-in-out,
      visibility .2s ease-in-out,
      transform .2s ease-in-out;
      visibility: hidden;
      width: max-content;
      z-index: 998;
  
      &.right {
        top: calc(50% - (var(--font-size-small) / 2) - var(--padding-small));
        left: 100%;
  
        &::after {
          content: ' ';
          border-color: transparent var(--color-txt-alpha-25) transparent transparent;
          border-style: solid;
          border-width: .25rem;
          position: absolute;
          margin-top: -.25rem;
          right: 100%; // To the left side of the tooltip
          top: 50%;
        }
      }
  
      &.left {
        top: calc(50% - (var(--font-size-small) / 2) - var(--padding-small));
        right: calc(100% + 1rem);
  
        &::after {
          content: ' ';
          border-color: transparent transparent transparent var(--color-txt-alpha-25);
          border-style: solid;
          border-width: .25rem;
          position: absolute;
          margin-top: -.25rem;
          left: 100%; // To the right side of the tooltip
          top: 50%;
        }
      }
  
      &.top {
        width: 120px;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
      }
  
      &.bottom {
        width: 120px;
        top: 100%;
        left: 50%;
        margin-left: -60px;
      }
    }
  }  
  /* Global class that disable element on desktop environment */
  .mobile-only {
    display: none !important;
  }

  .admin-page {
    .admin-view {
      .wish-grid-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;

        .pending-wishes {
          border-right: solid 1px var(--color-txt-alpha-10) !important;
          grid-row: span 2;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  /* Scene desktop rules */
  .scene {
    .admin-page .admin-tabs,
    .account-page .account-tabs {
      width: 90%;

      p {
        padding: 0 var(--padding-huge);
      }
    }
  }
}

/* Mobile rules */
@media only screen and (max-width: 800px) {
  :root {
    --navbar-height: 16rem;
  }
  /* Global class that disable element on a mobile environment */
  .desktop-only {
    display: none !important;
  }
  /* Make tooltip invisible on mobile environment */
  .tooltip-text {
    display: none !important;
  }
  /* Scene desktop rules */
  .scene-wrapper {
    grid-template-columns: 100% !important;
    grid-template-rows: var(--aside-size) var(--topbar-size) calc(100% - var(--aside-size) - var(--topbar-size));

    .aside {
      border-bottom: none;
      border-right: solid 1px var(--color-txt-alpha-10);
      height: var(--aside-size);
      grid-column: 1;
      grid-row: 1;
      width: 100%;
  
      .item-group {
        flex-direction: row;
      }
    }

    .topbar {
      grid-column: 1;
      grid-row: 2;
      grid-template-columns: 1fr 0 0;
    }

    .scene {
      height: 100%;
  
      .menu-page {
        .control-container {
          .item {
            justify-content: center;
            width: 90%;
          }        
        }
      }

      .main-page {
        .items-container {
          justify-content: center;
        }
      }

      .release-artist-view-wrapper {
        height: 100%;

        .artist-header {
          flex-direction: column;
          height: auto;
          margin-left: calc(var(--margin) / 2);

          .artist-header-left,
          .artist-header-center,
          .artist-header-right {
            border-right: inherit;
            margin-bottom: 0;
            width: 100%;
          }

          .artist-header-center,
          .artist-header-right {
            margin: 0;
          }

          .artist-header-center {
            text-align: center;
          }

          .artist-header-right {
            margin-bottom: var(--margin);
          }
        }
      }

      .album-view-wrapper {
        padding: 0;
        margin: 0;

        .album-container {
          align-items: center;
          flex-direction: column;
          height: auto !important;
          max-height: inherit;
          overflow-x: hidden;
          padding: 0;
          margin: 0;

          .album-content {
            width: 100%;

            .album-info {
              font-size: var(--font-size-small);
              margin: 0;
              width: 100%;

              .link {
                padding-left: var(--padding);
              }

              .release-artist-container,
              .view-commands {
                right: 3rem;
              }
            }
          }
        }
      }

      .genre-view-wrapper {
        .genre-header {
          flex-direction: column;
          margin: 0;
          width: 100%;

          .genre-header-left {
            border-right: inherit;
            margin-bottom: 0;
            width: 100%;
          }

          .genre-header-right {
            margin: 0;
            text-align: center;
            width: 100%;

            .view-commands {
              position: inherit;
            }
          }
        }

        .genre-content {
          .artist {
            align-items: center;
            flex-direction: column;
            margin: var(--margin-small);
            width: calc(100% - 2 * var(--margin));

            .artist-albums {
              width: 100%;

              .album-content {
                padding-top: var(--padding);

                .track {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .label-view-wrapper {
        .label-header {
          flex-direction: column;
          margin: 0;
          width: 100%;

          .label-header-left {
            border-right: inherit;
            margin-bottom: 0;
            width: 100%;
          }

          .label-header-right {
            margin: 0;
            text-align: center;
            width: 100%;

            .view-commands {
              position: inherit;
            }
          }
        }
      }
      /* Admin pages/fragments */
      .admin-page .admin-tabs,
      .account-page .account-tabs {
        width: 85%;
  
        p {
          padding: 0 var(--padding-bigger);
        }
      }
    }
  }

  .navbar {
    .playback-wrapper {
      .top-line {
        align-items: center;
        flex-wrap: wrap;
        height: calc(100% - (var(--navbar-height) / 4));
        justify-content: space-around;
        width: calc(100% - var(--margin));

        .image-wrapper {
          height: 30%;
          margin: 0 var(--margin-small);
        }

        .queue,
        .repeat,
        .shuffle,
        .volumebar-wrapper,
        .speedometer {
          left: inherit !important;
          position: inherit !important;
          right: inherit !important;
        }

        .volumebar-wrapper,
        .speedometer {
          height: 30%;
        }

        .volumebar-wrapper {
          .image-wrapper {
            height: 75%;
          }          
        }
      }

      .bottom-line {
        height: calc(var(--navbar-height) / 4);
      }      
    }
  }

  /* Global class that disable element on desktop environment */
  .mobile-only {
    display: none !important;
  }

  .admin-page {
    .admin-view {
      .wish-grid-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;

        .pending-wishes {
          border-right: solid 1px var(--color-txt-alpha-10) !important;
          grid-row: span 2;
        }
      }
    }
  }
}
