/* Desktop rules */
@media only screen and (min-width: 800px) {
  /* Aside mobile rules */
  .aside {
    border-bottom: none;
    border-right: solid 1px var(--color-txt-alpha-10);
    flex-direction: column;
    height: 100%;
    width: var(--aside-size);

    .item-group {
      flex-direction: column;
    }
  }
  /* Scene desktop rules */
  .scene {
    .admin-page .admin-tabs,
    .account-page .account-tabs {
      width: 85%;

      p {
        padding: 0 var(--padding-bigger);
      }
    }
  }
  /* Tooltip are desktop only */
  @import "../tool/tooltip";
  /* Global class that disable element on desktop environment */
  .mobile-only {
    display: none !important;
  }

  .admin-page {
    .admin-view {
      .wish-grid-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;

        .pending-wishes {
          border-right: solid 1px var(--color-txt-alpha-10) !important;
          grid-row: span 2;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  /* Scene desktop rules */
  .scene {
    .admin-page .admin-tabs,
    .account-page .account-tabs {
      width: 90%;

      p {
        padding: 0 var(--padding-huge);
      }
    }
  }
}

/* Mobile rules */
@media only screen and (max-width: 800px) {
  :root {
    --navbar-height: 16rem;
  }
  /* Global class that disable element on a mobile environment */
  .desktop-only {
    display: none !important;
  }
  /* Make tooltip invisible on mobile environment */
  .tooltip-text {
    display: none !important;
  }
  /* Scene desktop rules */
  .scene-wrapper {
    grid-template-columns: 100% !important;
    grid-template-rows: var(--aside-size) var(--topbar-size) calc(100% - var(--aside-size) - var(--topbar-size));

    .aside {
      border-bottom: none;
      border-right: solid 1px var(--color-txt-alpha-10);
      height: var(--aside-size);
      grid-column: 1;
      grid-row: 1;
      width: 100%;
  
      .item-group {
        flex-direction: row;
      }
    }

    .topbar {
      grid-column: 1;
      grid-row: 2;
    }

    .scene {
      height: 100%;
  
      .menu-page {
        .control-container {
          .item {
            justify-content: center;
            width: 90%;
          }        
        }
      }

      .main-page {
        .items-container {
          justify-content: center;
        }
      }

      .release-artist-view-wrapper {
        height: 100%;

        .artist-header {
          flex-direction: column;
          height: auto;
          margin-left: calc(var(--margin) / 2);

          .artist-header-left,
          .artist-header-center,
          .artist-header-right {
            border-right: inherit;
            margin-bottom: 0;
            width: 100%;
          }

          .artist-header-center,
          .artist-header-right {
            margin: 0;
          }

          .artist-header-center {
            text-align: center;
          }

          .artist-header-right {
            margin-bottom: var(--margin);
          }
        }
      }
      /* Admin pages/fragments */
      .admin-page .admin-tabs,
      .account-page .account-tabs {
        width: 85%;
  
        p {
          padding: 0 var(--padding-bigger);
        }
      }
    }
  }

  .navbar {
    .playback-wrapper {
      .top-line {
        align-items: center;
        flex-wrap: wrap;
        height: calc(100% - (var(--navbar-height) / 4));
        justify-content: space-around;
        width: calc(100% - var(--margin));

        .image-wrapper {
          height: 30%;
          margin: 0 var(--margin-small);
        }

        .queue,
        .repeat,
        .shuffle,
        .volumebar-wrapper,
        .speedometer {
          left: inherit !important;
          position: inherit !important;
          right: inherit !important;
        }

        .volumebar-wrapper,
        .speedometer {
          height: 30%;
        }

        .volumebar-wrapper {
          .image-wrapper {
            height: 75%;
          }          
        }
      }

      .bottom-line {
        height: calc(var(--navbar-height) / 4);
      }      
    }
  }
  /* Tooltip are desktop only */
  @import "../tool/tooltip";
  /* Global class that disable element on desktop environment */
  .mobile-only {
    display: none !important;
  }

  .admin-page {
    .admin-view {
      .wish-grid-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-template-rows: repeat(2, 1fr) !important;

        .pending-wishes {
          border-right: solid 1px var(--color-txt-alpha-10) !important;
          grid-row: span 2;
        }
      }
    }
  }
}
