/* Desktop rules */
@media only screen and (min-width: 800px) {
  /* Aside mobile rules */
  .aside {
    border-bottom: none;
    border-right: solid 1px var(--mzk-color-text-alpha-10);
    flex-direction: column;
    height: 100%;
    width: var(--mzk-aside-size);

    .item-group {
      flex-direction: column;
    }
  }
  /* Scene desktop rules */
  .scene {
    height: var(--mzk-scene-height);
    width: var(--mzk-scene-width);
  }
  /* Tooltip are desktop only */
  @import "../tool/tooltip";
  /* Global class that disable element on desktop environment */
  .mobile-only {
    display: none !important;
  }

  .admin-page {
    .admin-view {
      .user-list-wrapper,
      .wish-grid-wrapper {
        padding: 2rem;
      }

      .user-list-wrapper {
        flex-direction: row;

        .users-wrapper {
          height: 100%;
          width: calc(100% - 30rem);
        }

        .badges-wrapper {
          height: 100%;
          width: 30rem;
        }
      }

      .wish-grid-wrapper {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        .pending-wishes {
          grid-row: span 2;
        }
      }
    }
  }
}
/* Mobile rules (specific ones as style should be mobile first) */
@media only screen and (max-width: 800px) {
  /* Global class that disable element on a mobile environment */
  .desktop-only {
    display: none !important;
  }
  /* Make tooltip invisible on mobile environment */
  .tooltip-text {
    display: none;
  }
}
