{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>DB Management</title>
        <link rel="stylesheet" href="{% static "scss/style.css" %}">
    </head>
    <body>
        <h1>DB Management</h1>
        <input type="text" name="" value="" placeholder="Path to library">
        <button id="buttonScan">Scan</button>
        <button>Drop</button>

        <div id="id01"></div>

        <script type="text/javascript" src="{% static "js/utils/Database.js" %}"></script>
        <script type="text/javascript">
            var db = new Database();
        </script>
    </body>
</html>
