{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebPlayer POC</title>
        <link rel="stylesheet" href="{% static "scss/style.css" %}">
    </head>
    <body>
        <!-- <p>Ctrl + M : mute</p>
        <p>&rarr; : fastforward 10s</p>
        <p>Ctrl + &rarr; : fastforward 30s</p>
        <p>&larr; : rewind 10s</p>
        <p>Ctrl + &larr; : rewind 30s</p>
        <p>&uarr; : ++volume 1</p>
        <p>Ctrl + &uarr; : ++volume 10</p>
        <p>&darr; : --volume 1</p>
        <p>Ctrl + &darr; : --volume 10</p>
        <p>Space : Play/Pause</p> -->

        <div id="mainContainer">

        </div>

        {% include 'components/footbar.html' %}

        <audio id="audioPlayer">
            <source src="/static/audio/lol.mp3" type="audio/ogg">
             Your browser does not support the audio element.
        </audio>

        <!-- Add absolute path in js-->
        <script type="text/javascript" src="{% static "js/utils/Utils.js" %}"></script>
        <script type="text/javascript" src="{% static "js/utils/Notification.js" %}"></script>
        <script type="text/javascript" src="{% static "js/createLibrary.js" %}"></script>
        <script type="text/javascript" src="{% static "js/Track.js" %}"></script>
        <script type="text/javascript" src="{% static "js/ListView.js" %}"></script>
        <script type="text/javascript" src="{% static "js/Queue.js" %}"></script>
        <script type="text/javascript" src="{% static "js/ProgressBar.js" %}"></script>
        <script type="text/javascript" src="{% static "js/VolumeBar.js" %}"></script>
        <script type="text/javascript" src="{% static "js/Player.js" %}"></script>
        <script type="text/javascript" src="{% static "js/createLibrary.js" %}"></script>
        <script type="text/javascript" src="{% static "js/App.js" %}"></script>
        <script type="text/javascript">
            var app = new App();
        </script>
    </body>
</html>
