{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ManaZeak is a free software that gives you the ability to listen to and edit your musical library from anywhere that has a connection and a true web browser (i.e. Chromium, Firefox). It is also linked to SyncThing, to automatically sync your online library with all the devices that share it. Check out our repo : https://github.com/Squadella/ManaZeak">
    <title>ManaZeak</title>
    <link rel="icon" type="image/png" href="{% static "img/logo/manazeak-logo-square.svg" %}">
    <link rel="stylesheet" type="text/css" href="{% static "dist/css/manazeak.bundle.css" %}">
  </head>
  <body>
    <div id="topbar">
      <div id="topbar-spinner"></div>
        <div id="home-container">
            <img src="{% static "img/navigation/home.svg" %}" class="topbar-home-button" id="topbar-home-button" alt="main-page">
        </div>
      <img src="{% static "img/logo/manazeak-text.svg" %}" id="topbar-logo" alt="manazeak-text-logo">
      <img src="{% static "img/default/user.svg" %}" id="topbar-avatar" alt="user-avatar">
    </div>
    <div id="scene"></div>
    <div class="aside">
      <div class="app-controls">
        <div>
          <img src="{% static "img/navigation/nav-right.svg" %}" class="aside-toggle" id="aside-toggle" alt="aside-toggle">
        </div>
        <div>
        </div>
      </div>
      <div class="aside-content">

      </div>
    </div>
    <div id="footbar">
      <div class="footbar-controls">
        <div class="left">
          <p id="footbar-left"></p>
        </div>
        <div class="center">
          <div id="controls-container">
            <div class="repeat-left image-wrapper"><img id="repeat" src="{% static "img/player/repeat-off.svg" %}" alt="player-repeat"></div>
            <div class="shuffle-left image-wrapper"><img id="shuffle" src="{% static "img/player/shuffle-off.svg" %}" alt="player-shuffle"></div>
            <div class="image-wrapper"><img id="previous" src="{% static "img/player/track-previous.svg" %}" alt="player-previous"></div>
            <div class="image-wrapper"><img id="stop" src="{% static "img/player/stop.svg" %}" alt="player-stop"></div>
            <div class="image-wrapper"><img id="play" src="{% static "img/player/play.svg" %}" alt="player-play"></div>
            <div class="image-wrapper"><img id="next" src="{% static "img/player/track-next.svg" %}" alt="player-next"></div>
            <div id="volumebar-wrapper">
              <div class="image-wrapper"><img id="volumebar-img" src="{% static "img/player/volume-full.svg" %}" alt="player-volume"></div>
              <div id="volumebar-container">
                <div id="volumebar-current" class="full"></div>
                <div id="volumebar-thumb"></div>
              </div>
            </div>
            <div class="image-wrapper speedometer"><img id="speedometer" src="{% static "img/player/speedometer.svg" %}" alt="player-speedometer"></div>
            <div class="image-wrapper queue"><img id="queue" src="{% static "img/player/queue.svg" %}" alt="player-queue"></div>
          </div>
          <div id="progress-container">
            <div id="progress-track">
              <div id="progress-current"></div>
              <div id="progress-thumb"></div>
              <div id="progress-hover">--:--</div>
            </div>
            <div id="progress-moodbar" class="moodbar">
              <svg height="100%" width="100%" draggable="false"></svg>
            </div>
          </div>
        </div>
        <div class="right">
          <p id="footbar-right"></p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static "lib/d3.v3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "dist/js/manazeak.bundle.js" %}"></script>
  </body>
</html>
