{% load staticfiles %}
{% load sass_tags %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="ManaZeak is a free software that gives you the ability to listen to and edit your musical library from anywhere that has a connection and a true web browser (i.e. Chromium, Firefox). It is also linked to SyncThing, to automatically sync your online library with all the devices that share it. Check out our repo : https://github.com/Squadella/ManaZeak">
    <title>ManaZeak login</title>
    <link rel="stylesheet" type="text/css" href="{% sass_src "scss/user.scss" %}">
</head>
{% block body %}
    {% load staticfiles %}
<body>
    <a href="https://github.com/Squadella/ManaZeak" target="_blank">
        <img class="mzk-fork" src="/static/img/utils/fork.png" alt="Fork me on GitHub" data-canonical-src="/static/img/fork.png">
    </a>
    <div class="mzk-user">
        <img src="/static/img/logo/manazeak-text.svg">
        {% if user.is_active %}
            <p>Authenticated already. Go back to <a href="{% url 'app:index' %}">ManaZeak</a></p>
        {% else %}
            <p>Please login below, or <a href="{% url 'app:signup' %}">sign up</a></p>
            <form action="" method="post" enctype="multipart/form-data" name="login">
                {% csrf_token %}
                <label for="id_username"><b>Username:</b></label>
                <input id="id_username" maxlength="30" name="username" type="text"><br>
                <label for="id_password"><b>Password:</b></label>
                <input id="id_password" maxlength="30" name="password" type="password">
                <button type="submit">Log in</button>
            </form>
            <img src="/static/img/logo/manazeak.svg" class="mzk-logo">
            <div class="mzk-error">{{ form.errors }}{{ form.non_field_errors }}</div>
        {% endif %}
    </div>
</body>
{% endblock %}
