{% load staticfiles %}
{% load sass_tags %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ManaZeak login</title>
    <link rel="stylesheet" type="text/css" href="{% sass_src "scss/user.scss" %}">
</head>
{% block body %}
    {% load staticfiles %}
<body>
    <a href="https://github.com/Squadella/ManaZeak" target="_blank">
        <img class="mzk-fork" src="/static/img/fork.png" alt="Fork me on GitHub" data-canonical-src="/static/img/fork.png">
    </a>
    <div class="mzk-user">
        <img src="/static/img/manazeak-text.svg">
        {% if user.is_active %}
            <p>Authenticated already. Go back to <a href="{% url 'app:index' %}">ManaZeak</a></p>
        {% else %}
            <p>Please login below, or <a href="{% url 'app:signup' %}">sign up</a></p>
            <form action="" method="post" enctype="multipart/form-data" name="login">
                {% csrf_token %}
                <label for="id_username">Username:</label>
                <input id="id_username" maxlength="30" name="username" type="text"><br>
                <label for="id_password">Password:</label>
                <input id="id_password" maxlength="30" name="password" type="password">
                <button type="submit">Submit</button>
            </form>
            <img src="/static/img/manazeak.svg" class="mzk-logo">
            <div class="mzk-error">{{ form.errors }}{{ form.non_field_errors }}</div>
        {% endif %}
    </div>

    <script>
/*        document.addEventListener("keydown", function(event) {
            if (event.keyCode === 18) {
                document.login.submit();
            }
        });
*/    </script>
</body>
{% endblock %}
