{% load staticfiles %}
{% load sass_tags %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ManaZeak signup</title>
    <link rel="stylesheet" type="text/css" href="{% sass_src "scss/user/user.scss" %}">
</head>
{% block body %}
    {% load staticfiles %}
    <a href="https://github.com/Squadella/ManaZeak" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 999;" src="/static/img/fork.png" alt="Fork me on GitHub" data-canonical-src="/static/img/fork.png">
    </a>
    <body>
    <div id="login">
        <img src="/static/img/manazeak-text.svg">
        <p>Use this form to sign up, and begin to use ManaZeak<br>If you already have an account, please <a href="{% url 'app:login' %}">log in</a></p>

        <form id="signupForm" action="" method="POST" name="signup">
            <p><label for="id_username">Username:</label>
            {{ form.username }}</p>
            <p><label for="id_password">Password:</label>
            {{ form.password1 }}</p>
            <p><label>Repeat password:</label>
            {{ form.password2 }}</p>
            <input type="hidden" name="next" value="/" />
            <input type="submit" value="register" id="button" />
            {% csrf_token %}
        </form>
        <img src="/static/img/manazeak.svg" class="mzk-logo">

        <div id="error"> <!-- TODO : make invisible by default -->
            {{ form.errors }}
            {{ form.non_field_errors }}
        </div>
    </div>

    <script>
        let xhr = new XMLHttpRequest();

        xhr.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                let response = JSON.parse(this.responseText);

                if (response.INVITE === true) {
                    let p = document.createElement("P");
                    let label = document.createElement("LABEL");
                    let input = document.createElement("INPUT");

                    label.innerHTML = "Godfather ID:";
                    input.type = "text";
                    input.setAttribute("name", "godFather");

                    p.appendChild(label);
                    p.appendChild(input);

                    document.getElementById("signupForm").insertBefore(p, document.getElementById("signupForm").firstChild);
                }
            }
        };

        xhr.open("GET", "../admin/isInviteEnabled/", true);
        xhr.send();

        document.addEventListener("keydown", function(event) {
            if (event.keyCode === 18) {
                document.signup.submit();
            }
        });
    </script>
    </body>
{% endblock %}
