{% load staticfiles %}
{% load sass_tags %}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="ManaZeak is a free software that gives you the ability to listen to and edit your musical library from anywhere that has a connection and a true web browser (i.e. Chromium, Firefox). It is also linked to SyncThing, to automatically sync your online library with all the devices that share it. Check out our repo : https://github.com/Squadella/ManaZeak">
    <title>ManaZeak signup</title>
    <link rel="stylesheet" type="text/css" href="{% sass_src "scss/user.scss" %}">
</head>
<body>
    {% load staticfiles %}
    <a href="https://github.com/Squadella/ManaZeak" target="_blank">
        <img class="mzk-fork" src="/static/img/fork.png" alt="Fork me on GitHub" data-canonical-src="/static/img/fork.png">
    </a>
    <div class="mzk-user">
        <img src="/static/img/logo/manazeak-text.svg">
        <p>Use this form to sign up, and begin to use ManaZeak<br>If you already have an account, please <a href="{% url 'app:login' %}">log in</a></p>
        <form id="signupForm" action="" method="POST" name="signup">
            <p><label for="id_username"><b>Username:</b></label>
            {{ form.username }}</p>
            <p><label for="id_password"><b>Password:</b></label>
            {{ form.password1 }}</p>
            <p><label><b>Repeat password:</b></label>
            {{ form.password2 }}</p>
            <input type="hidden" name="next" value="/" />
            <button type="submit" value="register" id="button">Sign in</button>
            {% csrf_token %}
        </form>
        <img src="/static/img/logo/manazeak.svg" class="mzk-logo">
        <div class="mzk-error">{{ form.errors }}{{ form.non_field_errors }}</div>
    </div>
    <script>
        let xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState === 4 && this.status === 200) {
                let response = JSON.parse(this.responseText);
                if (response.INVITE === true) {
                    let p = document.createElement("P");
                    let label = document.createElement("LABEL");
                    let input = document.createElement("INPUT");
                    label.innerHTML = "<b>Godfather ID:</b>";
                    input.type = "text";
                    input.setAttribute("name", "godFather");
                    p.appendChild(label);
                    p.appendChild(input);
                    document.getElementById("signupForm").insertBefore(p, document.getElementById("signupForm").firstChild);
                }
            }
        };
        xhr.open("GET", "../admin/isInviteEnabled/", true);
        xhr.send();
    </script>
</body>
</html>