@import 'sceneviews/partyview';

$scene-transition: var(--mzk-animation-duration-long);

.scene {
  height: calc(100% - (var(--mzk-topbar-height) + var(--mzk-footbar-height)));
  position: relative;
  width: calc(100% - var(--mzk-aside-width));
  z-index: 701;

  @include transition(width var(--mzk-animation-duration) ease-in-out);

  @import 'sceneviews/mainpage';
  @import 'sceneviews/librarypage';
  @import 'sceneviews/singleobjectview';
  @import 'sceneviews/allobjectsview';
  @import 'adminviews/adminview';
  @import 'communityviews/communityview';
}
